 <!--页面标题开始-->
<div class="page-header clearfix">
    <span>{{title}}</span>
    <small>单据编号：{{viewModel.flowNumber}}</small>
</div>
<!--页面标题结束-->
<!--信息项组标题-->
<h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
<div class="form-inline">
    <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
        <span ng-if="!viewModel.isNonContractAdditional" style="color:red">
            请提前与各方确认此费用应通过直接付款的方式支出，该流程一旦生效，不予作废
        </span>
        <span ng-if="viewModel.isNonContractAdditional" style="color:red">
            该流程仅用于已支付费用补录，不会发起支付单，请确认是否适用
        </span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-2 control-label text-right" title="采购名称" style="text-align:right">采购名称<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
            <span>{{viewModel.purchaseBase.purchaseName}}</span>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="项目名称" style="text-align:right">项目名称<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <span>{{viewModel.purchaseOfBusinessOperations.projectName}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="专业" style="text-align:right">专业<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input ">
            <span>{{viewModel.purchaseOfBusinessOperations.specialtyName}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign" ng-if="isShowPayProcess">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="查看支付进度" style="text-align:right">查看支付进度</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <div ng-if="viewModel.formAction.actionStateCode != 3">
                <sapn>{{viewModel.purchaseOfNoContract.paymentStateName}}</sapn>
                <button ng-show="viewModel.purchaseOfNoContract.paymentStateCode != '3'|| !baseInfo.isShowRestart" type="button" class="btn in-crease" ng-click="baseInfo.findChargeProcess();">查看</button>
                <button ng-show="viewModel.purchaseOfNoContract.paymentStateCode == '3' && baseInfo.isShowRestart" type="button" class="btn in-crease" ng-click="baseInfo.reStartChargeProcess();">重新发起</button>
            </div>
            <div ng-if="viewModel.formAction.actionStateCode == 3">采购已作废，不能发起支付单</div>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 control-label" title="法人公司" style="text-align:right">法人公司<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span>{{viewModel.corporationScopeList[0].corporationName}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 control-label" title="记账公司" style="text-align:right">记账公司<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span>{{viewModel.purchaseOfBusinessOperations.chargeCompanyName}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 control-label" title="成本中心" style="text-align:right">成本中心<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span>{{viewModel.purchaseOfBusinessOperations.costCenterName}}</span>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="clearfix"></div>


    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="本次采购金额" style="text-align:right">本次采购金额</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <span>{{viewModel.purchaseBase.purchaseAmount | number:2}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="收款单位" style="text-align:right">收款单位<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <span>{{viewModel.purchaseOfBusinessOperations.chargeUnitName}}</span>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
        <label class="col-xs-3 col-sm-3 col-md-2 control-label labelheight" title="本次采购范围和内容" style="text-align:right">本次采购范围和内容<span style="color:red;">*</span></label>
        <div class="col-xs-9 col-sm-9 col-md-10 form-group baseifo-input border-none">
            <p>{{viewModel.purchaseOfBusinessOperations.purchaseContent}}</p>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
        <label class="col-xs-3 col-sm-3 col-md-2 control-label text-right" title="收费标准描述" style="text-align:right">收费标准描述</label>
        <div class="col-xs-9 col-sm-9 col-md-10 form-group baseifo-input border-none">
            <p>{{viewModel.purchaseOfBusinessOperations.chargeStandardDescribe}}</p>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="clearfix"></div>
</div>
<h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>合约规划</h4>

<div class="form-inline" style="text-align: center;">
    <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
        <div class="table-responsive flow-table-box">
            <table class="table table-bordered table-striped" style="width: 200%;">
                <thead>
                    <tr>
                        <th class="table-thead" style="text-align:center;vertical-align:middle">序号</th>
                        <th class="table-thead" style="text-align:center;vertical-align:middle;width:200px !important;">合约名称</th>
                        <th class="table-thead" style="text-align:center;vertical-align:middle" width:200px !important;>项目</th>
                        <th class="table-thead" style="text-align:center;vertical-align:middle" width:200px !important;>所属年份</th>
                        <th class="table-thead" style="text-align:center;vertical-align:middle" width:200px !important;>成本科目</th>
                        <th class="table-thead" style="text-align:center;vertical-align:middle" width:200px !important;>成本目标</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in viewModel.contractAgreementScopeList">
                        <td style="text-align:center;">
                            {{$index+1}}
                        </td>
                        <td>
                            {{item.contractAgreementName}}
                        </td>
                        <td>
                            {{item.projectName}}
                        </td>
                        <td>
                            {{item.belongsYear}}
                        </td>
                        <td>
                            {{item.costCourseName}}
                        </td>
                        <td>
                            {{item.costTargetAmount}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flow-table-icon"> </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="clearfix"></div>
</div>
<h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>成本科目</h4>
<div class="form-inline clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
        <div class="table-responsive flow-table-box">
            <table class="table table-bordered table-striped" style="width: 200%;">
                <thead>
                    <tr>
                        <th class="table-thead" style="text-align:center;vertical-align:middle">序号</th>
                        <th class="table-thead" style="text-align:center;vertical-align:middle;width:200px !important;">科目</th>
                        <th class="table-thead" style="text-align:center;vertical-align:middle">
                            <span>年份</span>
                        </th>
                        <th class="table-thead" style="text-align:center;vertical-align:middle">
                            <span>科目成本【A】</span>
                        </th>
                        <th class="table-thead" style="text-align:center;vertical-align:middle;width:110px !important;">
                            <span>本单分摊金额【B】</span>
                        </th>
                        <th class="table-thead" style="text-align:center;vertical-align:middle">
                            <span>已发生采购【C】</span>
                        </th>
                        <th class="table-thead" style="text-align:center;vertical-align:middle">
                            <span>余量【D=A-B-C】</span>
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="agree in viewModel.contractAgreementScopeList">
                    <tr ng-repeat="item in agree.contractAgreementSplitInfoList |orderBy : ['costCourseName','year']">
                        <td style="text-align:center;">
                            {{$index+1}}
                        </td>
                        <td style="text-align:center;">
                            {{item.costCourseName}}
                        </td>
                        <td style="text-align:center;">
                            {{item.year}}
                        </td>
                        <td class="text-center">{{item.costTargetAmount | number:2}}</td>
                        <td style="text-align:center;">
                            <input ng-hide="item.isCanApportion" readonly="readonly" style="background-color: #ddd;" type="text" class="meeting input-type ng-pristine ng-valid" />
                            <span ng-show="item.isCanApportion" style="text-align:center;">{{ item.actualAmount| number:2}}</span>
                        </td>
                        <td class="text-center">{{item.accumulativeHappenedAmountWithTax | number:2 }}</td>
                        <td class="text-center">{{item.surplusValueWithTax = item.costTargetAmount-item.accumulativeHappenedAmountWithTax - item.actualAmount | number:2}}</td>
                    </tr>
                    <tr class="text-center">
                        <td colspan="2" class="text-center">合计</td>
                        <td class="text-center"></td>
                        <td class="text-center">{{baseInfo.costTargetAmountHeji | number:2}}</td>
                        <td class="text-center">{{baseInfo.actualAmountHeji | number:2}}</td>
                        <td class="text-center">{{baseInfo.accumulativeHappenedHeji | number:2}}</td>
                        <td class="text-center">{{baseInfo.surplusValueWithTaxHeji | number:2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flow-table-icon"> </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="clearfix"></div>
</div>

<h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>附件</h4>
<div class="form-inline">
    <div ng-show="viewModel.isNonContractAdditional" class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 control-label text-right">无合同采购补录报告(商写)<span style="color:red">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span class="attachment right" wf-uploader files="viewModel.purchaseOfNoContractApplicationFiles" opts="baseInfo.fileopts" ready="baseInfo.fileReady" read-only="true"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 control-label text-right" title="付款计算明细">付款计算明细</label>
        <div class="col-xs-6 form-group baseifo-input" sog-valide-status="付款计算明细">
            <span class="attachment right" wf-uploader files="viewModel.payCaculationDetailFiles" opts="baseInfo.fileopts" ready="baseInfo.fileReady" read-only="true"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 control-label text-right" title="收费依据文件">收费依据文件</label>
        <div class="col-xs-6 form-group baseifo-input" sog-valide-status="收费依据文件">
            <span class="attachment right" wf-uploader files="viewModel.chargeAccordingFiles" opts="baseInfo.fileopts" ready="baseInfo.fileReady" read-only="true"></span>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="clearfix"></div>
</div>
<h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>传阅人</h4>
<div class="form-inline">
    <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="传阅人" style="text-align:right">传阅人</label>
        <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
            <span>
                <span ng-repeat="tt in viewModel.circularizePersons">
                    <span wf-user-presence="tt"></span>
                </span>
            </span>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="clearfix"></div>
</div>
