<div class="form-inline">
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="项目名称" style="text-align:right">项目名称<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.projectName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="预计采购金额" style="text-align:right">预计采购金额<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span>{{viewModel.purchaseBase.perPurchaseAmount | number:2}}</span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="isApproval">
        <label class="col-xs-6 control-label text-right" title="支出类型">支出类型</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseBase.expenditureTypeName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseProject && isApproval">
        <label class="col-xs-6 control-label text-right" title="使用项目">使用项目</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseBase.useProjectName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseCostCenter && isApproval">
        <label class="col-xs-6 control-label text-right" title="使用记账公司">使用记账公司</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseBase.useChargeCompanyName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseCostCenter && isApproval">
        <label class="col-xs-6 control-label text-right" title="使用成本中心">使用成本中心</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseBase.useCostCenterName}}
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="招标人" style="text-align:right">招标人<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.corporationName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="记账公司" style="text-align:right">记账公司<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span>{{viewModel.purchaseOfLandDevelop.chargeCompanyName}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="成本中心" style="text-align:right">成本中心<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span>{{viewModel.purchaseOfLandDevelop.costCenterName}}</span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="采购名称" style="text-align:right;">采购名称<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <span>{{viewModel.purchaseBase.purchaseName}}</span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="本次招标范围和内容" style="text-align:right;">
            本次招标范围和内容<span style="color:red;">*</span>
            <br />
            <span style="color:red;font-size:9pt;font-weight:bold;">外网供应商可见，请谨慎填写！</span>
        </label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <p ng-bind-html="viewModel.purchaseOfLandDevelop.purchaseContent | htmlContent"></p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>