<div class="staff-service">
    <div class="container appil-container">
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>短信邮件信息记录查询（只包含串标提醒，催办提醒类型的邮件）</h4>
        <div class="form-inline clearfix">
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label">单据流水号</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <input class="meeting" ng-model="viewModel.flowNumber">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <div class="col-xs-12 form-group baseifo-input text-left">
                    <button class="btn btn-primary btn-sm" style="padding-left:20px;padding-right:20px;" ng-click="messageQuery()">搜&nbsp;索</button>
                </div>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;短信邮件信息展示</h4>
        <div class="form-inline clearfix">
            <div class="table-responsive" style="overflow: auto;">
                <table class="table table-hover table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">流程ResourceID</th>
                            <th class="text-center">提醒类型</th>
                            <th class="text-center">发起时间</th>
                            <th class="text-center">轮次</th>
                            <th class="text-center">内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-repeat="item in viewModel.recordInfo">
                            <td>{{item.resourceID}}</td>
                            <td>{{item.remindTypeName}}</td>
                            <td>{{item.remindSendDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{item.round}}</td>
                            <td><p ng-bind-html="item.remindContent | htmlContent"></p></td>
                        </tr>
                        <tr class="text-center" ng-if="viewModel.recordInfo.length===0"><td colspan="5">暂无相关数据！</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
