<div class="staff-service">
    <div class="container appil-container">
        <div class="page-header clearfix"><span>添加推广项目</span></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;项目信息</h4>
        <div class="form-inline clearfix">
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label" >选择城市</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select class="meeting" ng-model="viewModel.cityCode" ng-options="city.code as city.name for city in viewModel.cityList">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label" >关键字</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <input class="meeting" ng-model="viewModel.keyword">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <div class="col-xs-12 form-group baseifo-input text-left">
                    <button class="btn btn-primary btn-sm" style="padding-left:20px;padding-right:20px;" ng-click="viewModel.query()">搜&nbsp;索</button>
                </div>
            </div>
        </div>

        <h4 class="control-heading bg-info" ng-show="viewModel.projectList.length !== 0"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;项目列表</h4>
        <div class="form-inline clearfix"  ng-show="viewModel.projectList.length !== 0">
            <div class="table-responsive" style="max-height: 300px;overflow: auto;">
                <table class="table table-hover table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:40px;"></th>
                            <th class="text-center">商业模式</th>
                            <th class="text-center">项目名称</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-repeat="item in viewModel.projectList" ng-click="viewModel.chooseItem(item)">
                            <td><input type="radio" name="projectItem" ng-click="viewModel.chooseItem(item)" ng-checked="viewModel.selectedItem!=null&&viewModel.selectedItem.projectCode===item.projectCode"></td>
                            <td><span style="display:inline-block;white-space:nowrap;" title="{{item.businessModelName}}">{{item.businessModelName}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;" title="{{item.cnName}}">{{item.cnName}}</span></td>
                        </tr>
                        <tr class="text-center" ng-if="viewModel.projectList.length===0&&viewModel.isLoaded"><td colspan="3">暂无相关数据！</td></tr>
                    </tbody>
                </table>
            </div>
            <!--分页-->
            <div tm-pagination="viewModel.paginationConf" class="pull-right clearfix" style="margin-right:10px;"></div>
        </div>

        <div style="margin-top:20px;" class="text-center" ng-show="viewModel.projectList.length !== 0">
            <button type="button" class="btn btn-primary" ng-click="viewModel.confirm();">确定</button>
            <button type="button" class="btn btn-default" ng-click="closeThisDialog();">取消</button>
        </div>

        <h4 style="margin-top:30px;" class="control-heading bg-info" ng-show="viewModel.projectGeneralizeList.length !== 0"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;推广项目列表</h4>
        <div class="form-inline clearfix" ng-show="viewModel.projectGeneralizeList.length !== 0">
            <div class="table-responsive" style="max-height: 300px;overflow: auto;">
                <table class="table table-hover table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:40px;">序号</th>
                            <th class="text-center">项目编码</th>
                            <th class="text-center">项目名称</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-repeat="item in viewModel.projectGeneralizeList">
                            <td><span style="display:inline-block;white-space:nowrap;">{{$index+1}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;" title="{{item.projectCode}}">{{item.projectCode}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;" title="{{item.projectName}}">{{item.projectName}}</span></td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="delete(item);">删除</button>
                            </td>
                        </tr>
                        <tr class="text-center" ng-if="viewModel.projectList.length===0&&viewModel.isLoaded"><td colspan="3">暂无相关数据！</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
