<div class="staff-service">
    <div class="container appil-container">
        <div class="page-header clearfix"><span>询价前置页面</span></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;设置采购类型</h4>
        <div class="form-inline clearfix">
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label" style="text-align:right">采购方式<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    询价
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 form-group" style="margin-top:2px;">
                <label class="col-xs-6 col-sm-2 control-label" style="text-align:right">业务类型<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-10 form-group baseifo-input">
                    <select ng-model="viewModel.purchaseTypeCode" ng-options="p.code as p.value for p in viewModel.purchaseTypes" class="meeting" ng-selected="p.code==viewModel.purchaseTypeCode">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>  
            <div class="col-xs-12 form-group" style="margin-top:10px;">
                <label class="col-xs-6 col-sm-1 "></label>
                <div class="col-xs-6 col-sm-11 form-group">
                    <div class="panel-body" style="position: center;">
                        <p style="line-height:30px;padding-top:10px;">
                            以下采购，<b>需要关联合约规划并计入四项成本</b>，包含工程采购类、项目定义服务类与项目实施服务类三类采购<br />
                            1.工程采购类：<span style="color:red;">通常为施工类或者材料设备采购类采购</span>，是为完成项目实施而进行的工程施工类和材料设备供货类采购<br />
                            2.项目定义服务类：<span style="color:red;">通常为设计类采购</span>，是为完成产品定义而进行的设计等服务类采购<br />
                            3.项目实施服务类：<span style="color:red;">通常为施工服务类采购</span>，是为完成项目实施而进行的<span style="color:red;">如监理、造价咨询、招标代理、勘察测绘等</span>服务类采购<br />
                            <br />
                            以下采购，<b>无需关联合约规划</b><br />
                            4.营销类：为完成现场销售、签约而进行的采购（<span style="color:red;">展示区费用受合约管控，请走工程采购类、项目定义类或项目实施服务类采购，并关联营销类合约规划</span>）<br />
                            5.固定资产采购类：为获取固定资产（单位价值在2000元以上）而进行的采购<br />
                            6.第三方维保类：现房维护服务（<span style="color:red;">四项成本范围内的维保合同请选择工程采购类</span>）<br />
                            7.土地开发类：为进行土地一级开发业务而进行的采购<br />
                            8.非项目服务类：除土地获取、产品定义、项目实施、现场销售、签约流程、固定资产获取之外而进行的<span style="color:red;">其他经营性支付类采购，包含需要付款的框架协议</span><br />
                            <br />
                            <b>商业、写字楼运营类采购，需要关联合约规划</b><br />
                            9.非开发运营类：仅用于已正式开业的、持有商业、写字楼等不动产业态而发生的运营类采购<br />
                            <br />
                            备注：<br />
                            <span style="color: #199ED8;"><b>1. 若合同不涉及付款，或者为需要收款的收入类合同，请走【非对外支出类合同】流程</b></span><br />
                            <span style="color: #199ED8;"><b>2. 四项成本中，若无需签订合同，需要直接进行支付的费用，请走【无合同采购】流程</b></span><br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>

        <div class="text-center" style="margin-top:50px;">
            <button class="btn btn-primary" style="padding-left:20px;padding-right:20px;margin-right:50px;" ng-click="submitOaportal()">确&nbsp;定</button>
            <button class="btn btn-default" style="padding-left:20px;padding-right:20px;" ng-click="cancel()">取&nbsp;消</button>
        </div>
    </div>
</div>