<!--头部-->
<div class="cc-header clearfix">
    <div class="cc-logo pull-left">
        <img src="./img/logo.png" alt="远洋集团 Logo" />
        <span>采购门户</span>
    </div>
    <div class="cc-nav pull-right">
        <ul>
            <li>
                <a href="/THRWebApp/Contacts/#/home/content//" target="_blank">通讯录</a>
            </li>
            <li>
                <a href="/THRWebApp/oaportal/#/home/personal-center" target="_blank">流程中心</a>
            </li>
            <li>
                <a href="/THRWebApp/eip/#/home//information/" target="_blank">EIP 首页</a>
            </li>
            <li>
                <a>您好：{{loginUser.displayName}}</a>
            </li>
        </ul>
    </div>
</div>
<!--主内容区域-->
<div class="cc-container">
    <div class="cc-content">
        <div class="cc-entry">
            <!--主要指引-->
            <div class="cc-major">
                <ul ng-repeat="project in links.major">
                    <li class="cc-major-title">
                        <h5>{{project.category}}</h5>
                    </li>
                    <li class="cc-major-item" ng-repeat="item in project.items">
                        <a href="{{item.url}}" target="_blank">
                            <img ng-src="{{item.icon}}" alt="{{item.name}}" title="{{item.name}}" />
                        </a>
                        <p>
                            <a href="{{item.url}}" title="{{item.name}}" target="_blank">{{item.name}}</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--底部-->
    <div class="cc-footer">
        <span copyright configs="{startYear:2011}"></span>
        <div class="postscript pull-right ">海鸥云提供计算服务</div>
    </div>
</div>
