<div class="staff-service">

    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/DirectCommissionedProjectDefineStartContractWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>直接委托(项目定义服务类)</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <!--信息项组标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div class="form-inline">
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="采购名称" style="text-align:right">
                    采购名称
                    <span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    {{viewModel.purchaseBase.purchaseName}}
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="项目名称" style="text-align:right">项目名称<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    {{viewModel.purchaseOfProDefine.projectName}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="期区" style="text-align:right">期区<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input ">
                    <span ng-if="viewModel.purchaseOfProDefine.stageAreaName">{{viewModel.purchaseOfProDefine.stageAreaName}}</span>
                    <span ng-if="!viewModel.purchaseOfProDefine.stageAreaName">
                        <span ng-repeat="item in viewModel.stageAreaScopeList">{{item.projectName}}-{{item.stageAreaName}} <br /></span>
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6  control-label" title="法人公司" style="text-align:right">
                    法人公司
                    <span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 form-group baseifo-input">
                    {{viewModel.corporationScopeList[0].corporationName}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="记账公司" style="text-align:right">
                    记账公司
                    <span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 form-group baseifo-input">
                    {{viewModel.purchaseOfProDefine.chargeCompanyName}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="成本中心" style="text-align:right">成本中心<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input ">
                    {{viewModel.purchaseOfProDefine.costCenterName}}
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="供应商类别" style="text-align:right">供应商类别</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span ng-repeat="item in viewModel.industryDomainScopeList"><span ng-hide="$index===0">，</span>{{item.industryDomainName}}</span>
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-6 col-md-2 control-label" title="建设地点" style="text-align:right">建设地点</label>
                <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
                    {{viewModel.purchaseOfProDefine.cityInput.fullPathNameReadOnly}}
                    &nbsp;
                    {{viewModel.purchaseOfProDefine.buildDetailAddress}}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-show="viewModel.isAdmin===true">
                <label class="col-xs-6 control-label" title="本次采购成本目标" style="text-align:right">
                    本次采购成本目标
                    <span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 form-group baseifo-input ">
                    <span>{{viewModel.purchaseOfProDefine.purchaseCostTargetAmount | number:2}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="本次直接委托金额" style="text-align:right">
                    本次直接委托金额
                </label>
                <div class="col-xs-6 form-group baseifo-input ">
                    {{viewModel.purchaseBase.purchaseAmount}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="直接委托理由" style="text-align:right">
                    直接委托理由
                    <span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 form-group baseifo-input ">
                    {{viewModel.purchaseOfProDefine.directDelegationReasonName}}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="合同价格形式" style="text-align:right">
                    合同价格形式
                    <span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 form-group baseifo-input ">
                    {{viewModel.purchaseOfProDefine.contractPriceTypeName}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="计价方式" style="text-align:right">
                    计价方式
                    <span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 form-group baseifo-input ">
                    {{viewModel.purchaseOfProDefine.valuationWayName}}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="建筑面积" style="text-align:right">
                    建筑面积（㎡）
                    <span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 form-group baseifo-input ">
                    {{viewModel.purchaseOfProDefine.buildingArea}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="单价" style="text-align:right">
                    单价（元）
                </label>
                <div class="col-xs-6 form-group baseifo-input" opts="baseInfo.optsInt">
                    {{viewModel.purchaseOfProDefine.price}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="建设单方成本目标" style="text-align:right">
                    建设单方成本目标
                    <span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 form-group baseifo-input" opts="baseInfo.optsInt">
                    {{viewModel.purchaseOfProDefine.buildingCostTargetPerArea}}
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="本次采购范围和内容" style="text-align:right">
                    本次采购范围和内容
                    <span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
                    <p ng-bind-html="viewModel.purchaseOfProDefine.purchaseContent | htmlContent"></p>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="付款方式" style="text-align:right">
                    付款方式
                    <span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
                    <p ng-bind-html="viewModel.purchaseOfProDefine.paymentWayDescribe | htmlContent"></p>
                </div>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <!--合约规划标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 合约规划<span style="color:red;">*</span></h4>
        <!--合约规划内容-->
        <div contract-agreement-split-info opts="baseInfo.contractAgreementOpts" data="viewModel.contractAgreementScopeList"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--委托信息标题-->
        <h4 class="control-heading bg-info">
            <i class="glyphicon glyphicon-list-alt"></i> 委托信息
            <small><span style="color:red;">&nbsp;&nbsp;提示：下表每行对应一个合同，如需签订多个合同，请添加多行。</span></small>
        </h4>
        <!--委托信息内容-->
        <div purchase-delegation-info data="viewModel.purchaseDelegationInfoList" opts="baseInfo.delegationOpts" readonly="true"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--负面清单标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 负面清单</h4>
        <!--负面清单内容-->
        <div negative-list data="viewModel.negativeList" read-only="true"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--其他附件标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 其他附件</h4>
        <!--其他附件内容-->
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="直接委托附件" style="text-align:right;">直接委托附件</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-repeat="item in viewModel.reportFile.clientFileInformationList">
                        <span wf-uploader files="[item]" opts="settings.reportFileOpts" ready="settings.reportFileReady" read-only="true"></span><br />
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="其他附件" style="text-align:right;">其他附件</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-repeat="item in viewModel.otherFile.clientFileInformationList">
                        <span wf-uploader files="[item]" opts="settings.otherFileOpts" ready="settings.otherFileReady" read-only="true"></span><br />
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>

        <!--传阅标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 传阅</h4>
        <!--传阅内容-->
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-6 col-md-2 control-label" title="传阅人">传阅人</label>
                <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input" sog-valide-status="传阅人">
                    <span ng-repeat="user in viewModel.circularizePersons" wf-user-presence="user" style="margin-left:10px;"></span>
                </div>
            </div>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!-- 审批意见列表-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
        <div class="form-inline">
            <div class="form-inline">
                <span sog-comment="opinions"></span>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 审批</h4>
        <div class="form-inline">
            <span sog-simple-opinions="opinions"></span>
            <div class="clearfix"></div>
        </div>
        <!--表单正文结束-->
        <!--页脚开始，不打印-->
        <div ng-include="'views/common/foot-copyright.html'"></div>
        <!--页脚结束-->
        <!--右侧通栏开始，不打印-->
        <div ng-include="'views/common/right-navigator.html'"></div>
    </div>
</div>