<style>
    tr th, tr td{
        border:1px solid #eee;
    }
   .resHeader{
       line-height: 40px;
        padding: 0px 5px;
   }
   .title{
       padding-left: 5px;
       line-height:40px;
        font-size: 16px;
        color: rgb(96, 98, 102);
        border-left: 3px solid rgb(18, 139, 237);
   }
/* 左指箭头 */
   .beinvested{
       height:8px;
       margin-bottom:-1px;
       display:inline-block;
       width:84px;
       background:url('img/line_arrow@2x_left.png') no-repeat right bottom;
       background-size:75px 8px;
       font-size:12px;
       color:#128bed;
       text-align:center;
       margin-right:6px;
       position:relative;
   }
    .right-line{
       height:8px;
       margin-bottom:-1px;
       display:inline-block;
       width:84px;
       background:url('img/line_arrow@2x.png') no-repeat right bottom;
       background-size:75px 8px;
       font-size:12px;
       color:#128bed;
       text-align:center;
       margin-right:6px;
       position:relative;
   }
   .text{
       position:absolute;
       text-align:center;
       display:inline-block;
       left:0;
       top:-13px;
       width:100%;
   }
</style>
<div class="staff-service">
    <div class="container appil-container">
        <div class="form-inline">
            <p class="resHeader"><span class="title">在{{companyNum}} 家公司中，{{relationNum}} 家公司有关联关系</span></p>
            <div class="clearfix"></div>
        </div>
        <div class="form-inline">
            <div style="width:100%;overflow:auto">
                <div style="width: 100%;">
                    <div class="table-head" id="table-head">
                        <table style="width:100%">
                            <colgroup>
                                <col style="width: 45px;" />
                                <col style="width: 60px;" />
                                <col style="width: 175px;" />
                                <col style="width: 80px;" />
                                <col style="width: 175px;" />
                                <col style="width: 175px;" />
                                <col style="min-width: 200px;width:200px" />
                            </colgroup>
                            <thead>
                                <tr class="bg-info">
                                    <th class="text-center">序号</th>
                                    <th class="text-center">详情</th>
                                    <th class="text-center">公司名称</th>
                                    <th class="text-center">关联层级</th>
                                    <th class="text-center">关联公司</th>
                                    <th class="text-center">关联股东</th>
                                    <th class="text-center">关联路径详情</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-body">
                        <table style="width:100%">
                            <colgroup>
                                <col style="width: 45px;" />
                                <col style="width: 60px;" />
                                <col style="width: 175px;" />
                                <col style="width: 80px;" />
                                <col style="width: 175px;" />
                                <col style="width: 175px;" />
                                <col style="min-width:200px;width:200px" />
                            </colgroup>
                            <tbody id="talbe-list">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div> 
        <div class="form-inline">
            <div tm-pagination="paginationConf" class="pull-right fc-pagination"></div>
            <div class="clearfix"></div>
        </div>
        <div style="height: 100%;width: 100%;margin-top:30px">
            <div id="main" style="width: 100%;height:600px;" onclick=""></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


