<style>
    tr th, tr td{
        border:1px solid #eee;
    }
   .resHeader{
       line-height: 40px;
        padding: 0px 5px;
   }
   #talbe-list>tr>td{
       text-align:left;
       overflow:hidden;
       text-overflow:ellipsis;
       white-space:nowrap;
       padding:8px;
   } 
   thead>tr>th{
       padding:8px;
       text-align:left;
   }
   .left-container{
        float:left;
        width:292px;
        text-align:center;
        border-right:1px dashed;
   }
   .left-container div{
       cursor:pointer;
   }
    .left-container div:hover{
       color:blue;
   }
   .rigth-container{
       float:left;
       margin-left:20px;
       margin-top:50px;
   }
</style>
<div class="staff-service">
    <div class="modal-body">
        <div class="form-inline">
            <div class="left-container">
                <div class="form-inline" ng-click="setTime('today')">今天</div>
                <div class="form-inline" ng-click="setTime('week')">最近一周</div>
                <div class="form-inline" ng-click="setTime('month')">最近一个月</div>
                <div class="form-inline" ng-click="setTime('months')">最近三个月</div>
                <div class="form-inline" ng-click="setTime('halfYear')">最近半年</div>
                <div class="form-inline" ng-click="setTime('year')">最近一年</div>
            </div>
            <div class="rigth-container">
                <div class="form-inline">
                    <div style="width:60px;float:left">开始时间</div>
                    <div style="width:174px;float:left" ng-if="isTime">
                        <input type="text" pick-a-date="startTime" pick-a-date-options="{ format: 'yyyy-mm-dd',selectYears: true }" class="form-control-text iecssl meeting" style="width:85%;" />
                    </div>
                    <div class="clearfix"></div>
                </div> 
                <div class="form-inline">
                    <div style="width:60px;float:left">结束时间</div>
                    <div style="width:174px;float:left" ng-if="isTime">
                        <input type="text" pick-a-date="TendTime" pick-a-date-options="{ format: 'yyyy-mm-dd',selectYears: true }" class="form-control-text iecssl meeting" style="width:85%;" />
                    </div>
                    <div class="clearfix"></div>
                </div> 
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        
        <!--<div class="form-inline">
            <div style="width:100%;overflow:auto">
                <div style="width: 100%;" >
                    <div class="table-head" id="table-head" style="min-width:600px">
                        <table style="table-layout:fixed;width:100%">
                            <colgroup>
                                <col style="width: 60px;"/>
                                <col style="width: 150px;" />
                                <col style="width: 80px;" />
                                <col style="width: 80px;" />
                                <col />
                                <col style="width: 100px;" />
                            </colgroup>
                            <thead>
                                <tr class="bg-info">
                                    <th>序号</th>
                                    <th>企业名称</th>
                                    <th>风险级别</th>
                                    <th>风险类型</th>
                                    <th>风险内容</th>
                                    <th>变更日期</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-body" style="min-width:600px">
                        <table style="table-layout:fixed;width:100%">
                            <colgroup>
                                <col style="width: 60px;" />
                                <col style="width: 150px;" />
                                <col style="width: 80px;" />
                                <col style="width: 80px;" />
                                <col />
                                <col style="width: 100px;" />
                            </colgroup>
                            <tbody id="talbe-list">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>--> 
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer" style="text-align:center">
        <button type="button" class="btn btn-primary" style="font-size:13px;padding-left:15px;padding-right:15px;" ng-click="submit();">确&nbsp;定</button>
    </div>
</div>


