<style>
    .table_container {
        width: 25%;
        float: left;
        margin-right: 10px;
        display: inline-block;
        background: #F8F8F8;
    }

        .table_container > div {
            height: 92px;
            padding-left: 30px;
            padding-top: 20px;
        }

        .table_container h2 {
            font-size: 30px;
            font-weight: bold;
            color: #128BED;
            margin-top: 0px;
        }

    /*body {
        background: #DCE1E8;
    }*/

    table tbody tr td {
        text-align: center;
    }
</style>
<div class="staff-service"> <!--style="background:#DCE1E8"-->
    <div class="container appil-container" style="background:#fff;padding:15px;">
        <div class="form-inline">
            <p style="padding:15px 15px 15px 0px;font-size:13px;border-bottom:1px solid #F6F6F6"><span class="title">监控变更统计</span></p>
            <div class="clearfix"></div>
        </div>
        <div class="form-inline">
            <div class="table_container" ng-click="showDetail()">
                <div>
                    <div>工商信息</div>
                    <h2>{{commerceQuantity}}</h2>
                </div>
            </div>
            <div class="table_container">
                <div>
                    <div>司法诉讼</div>
                    <h2>{{judicialQuantity}}</h2>
                </div>
            </div>
            <div class="table_container">
                <div>
                    <div>经营风险</div>
                    <h2>{{riskQuantity}}</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-inline">
            <p style="padding:15px 15px 15px 0px;font-size:13px;border-bottom:1px solid #F6F6F6">
                <span class="title">
                    监控变更明细
                </span>
            </p>
            <div class="clearfix"></div>
        </div>
        <div class="form-inline">
            <div style="padding:15px 15px 15px 0px;font-size:13px;border-bottom:1px solid #F6F6F6;overflow:hidden">
                <div style="float:left;padding-left:15px;padding-right:5px">风险类型筛选：</div>
                <div style="float:left;width:200px;" class="staff-service">
                    <select class="meeting" ng-options="tt.code as tt.name for tt in selectCollection" ng-model="conitoringChange" ng-change="getInfor(conitoringChange,false)">
                    </select>
                </div>
                <div style="float:left;overflow:hidden;">
                    <div style="float:left;padding-left:15px;padding-right:5px">变更日期筛选：</div>
                    <div style="float:left;width:200px;cursor:pointer" class="staff-service meeting"  ng-click="getQueryInfor()">
                       {{startTime|date:'yyyy-MM-dd'}}-{{endTime|date:'yyyy-MM-dd'}}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-inline">
            <table class="table table-bordered table-striped table-hover" style="table-layout:fixed">
                <tr>
                    <td style="width:46px;text-align:center">序号</td>
                    <td style="width:220px;text-align:left">企业名称</td>
                    <td style="width:100px;text-align:left">风险类型</td>
                    <td style="text-align:left">风险内容</td>
                    <td style="width:100px;text-align:center">变更时间</td>
                </tr>
                <tr ng-repeat="item in judicialLitigation">
                    <td>{{$index+1}}</td>
                    <td title="{{item.companyName}}" style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden">{{item.companyName}}</td>
                    <td title="{{item.riskTypes}}" style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden" >{{item.riskTypes}}</td>
                    <td title="{{item.content}}" style="text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden">{{item.content}}</td>
                    <td>{{item.time|date:'yyyy-MM-dd'}}</td>
                </tr>
                <tr>
                    <td ng-if="judicialLitigation.length==0" colspan="5" style="text-align:left">暂无数据</td>
                </tr>
            </table>
        </div>
        <div class="form-inline">
            <div tm-pagination="paginationConf" class="pull-right fc-pagination"></div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        
    </div>
</div>


