<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/BiddingStrategyGroupCompilingTenderWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--左侧导航栏-->
        <div ng-show="viewModel.formAction.actionStateCode==2 || viewModel.formAction.actionStateCode==3" left-nav opts="baseInfo.leftNavListOpts" data="viewModel.navOption.navigationList"></div>
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>招投标（集团战采）</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right" title="采购名称">采购名称<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <input type="text" class="meeting" ng-model="viewModel.p_StrategyPurchasePlanCase.purchasePlanName">
                </div>
            </div>
            <div class="clearfix "></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="招标人">招标人<span style="color:red;">*</span></label>
                <div class="col-xs-5 col-sm-5 col-md-5  form-group baseifo-input">
                    <input type="text" class="meeting" title="{{viewModel.p_StrategyPurchasePlanCase.bidderName}}" ng-model="viewModel.p_StrategyPurchasePlanCase.bidderName" ng-readonly="true">
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1  form-group baseifo-input">
                    <span style="cursor: pointer;">
                        <i class="glyphicon glyphicon-folder-open" ng-click="baseInfo.companySelected()"></i>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="供应商类别">供应商类别<span style="color:red;">*</span></label>
                <div class="col-xs-5 col-sm-5 col-md-5 form-group baseifo-input">
                    <input type="text" class="meeting" ng-init="baseInfo.supplierTypeInit()" title="{{viewModel.industryDomainName}}" ng-model="viewModel.industryDomainName" ng-readonly="true">
                </div>
                <div class="col-xs-1 form-group baseifo-input">
                    <span style="cursor: pointer;">
                        <i class="glyphicon glyphicon-folder-open" ng-click="baseInfo.supplierTypeSelected()"></i>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="合作期限">合作期限<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    <select class="meeting" ng-model="viewModel.p_StrategyPurchasePlanCase.cooperationDeadlineTypeCode" ng-change="baseInfo.cooperationDeadlineType()" ng-options="p.code as p.name for p in viewModel.cooperationDeadlineTypeList" ng-selected="p.code == viewModel.p_StrategyPurchasePlanCase.cooperationDeadlineTypeCode">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="clearfix "></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="采购主责人">采购主责人<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    <span sog-ogu-input="viewModel.purchaseMainUser" opts="baseInfo.selectRadioPeople"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="商务负责人">商务负责人<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    <span sog-ogu-input="viewModel.businessMainUser" opts="baseInfo.selectRadioPeople"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="技术负责人">技术负责人<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    <span sog-ogu-input="viewModel.technologyMainUser" opts="baseInfo.selectRadioPeople"></span>
                </div>
            </div>
            <div class="clearfix "></div>
            <div class="col-xs-12 col-sm-6 col-md-8 form-group">
                <label class="col-xs-6 col-sm-6 col-md-3 control-label" style="text-align:right" title="采购小组其他成员">采购小组其他成员<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-6 col-md-9 form-group baseifo-input">
                    <span sog-ogu-input="viewModel.strategyPurchasePlanPersonList" opts="baseInfo.selectCheckBoxPeople"></span>
                </div>
            </div>
            <div class="clearfix "></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right;line-height:50px;" title="工期/供货期">工期/供货期<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <textarea style="width:100%;height:50px;" class="meeting" ng-model="viewModel.p_StrategyPurchasePlanCase.timeLimitDescribe"></textarea>
                </div>
            </div>
            <div class="clearfix "></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right;" title="本次招标范围和内容">
                    本次招标范围和内容<span style="color:red;">*</span>
                    <br />
                    <span style="color:red;font-size:9pt;font-weight:bold;">外网供应商可见，请谨慎填写！</span>
                </label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <textarea style="width:100%;height:50px;" class="meeting" ng-model="viewModel.p_StrategyPurchasePlanCase.purchaseContentDescribe"></textarea>
                </div>
            </div>
            <div class="clearfix "></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right;line-height:50px;" title="付款方式描述">付款方式描述<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <textarea style="width:100%;height:50px;" class="meeting" ng-model="viewModel.p_StrategyPurchasePlanCase.payWayDescribe"></textarea>
                </div>
            </div>
            <div class="clearfix "></div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购时间安排<span style="color:red;">*</span></h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="table-thead" style="text-align:center;">环节名称</th>
                        <th class="table-thead" style="text-align:center;">供应商回复截止时间</th>
                        <th class="table-thead" style="text-align:center;">供应商提问截止时间</th>
                        <th class="table-thead" style="text-align:center;">回标截止时间</th>
                        <th class="table-thead" style="text-align:center;">清标时间</th>
                        <th class="table-thead" style="text-align:center;">评标时间</th>
                        <th class="table-thead" style="text-align:center;">定标时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in baseInfo.purchaseDateArrangeInfoPEMus()">
                        <th class="table-thead" style="text-align:center;">采购时间安排</th>
                        <td ng-if="!readonly" style="padding-left:0px!important;padding-right:0px!important;">
                            <div date-time-picker date-time="item.inviteReplyDeadline" sog-valide-status="供应商回复截止时间"></div>
                        </td>
                        <td ng-if="!readonly" style="padding-left:0px!important;padding-right:0px!important;">
                            <div date-time-picker date-time="item.questionDeadline" sog-valide-status="供应商提问截止时间"></div>
                        </td>
                        <td ng-if="!readonly" style="padding-left:0px!important;padding-right:0px!important;">
                            <div date-time-picker date-time="item.replyDeadline" sog-valide-status="回标截止时间"></div>
                        </td>
                        <td ng-if="!readonly" style="padding-left:0px!important;padding-right:0px!important;">
                            <input type="text" pick-a-date="item.clearBinddingDeadline" pick-a-date-options="{ format: 'yyyy-mm-dd',selectYears: true }"
                                   class="form-control-text iecssl" sog-valide-status="清标时间" />
                        </td>
                        <td ng-if="!readonly" style="padding-left:0px!important;padding-right:0px!important;">
                            <input type="text" pick-a-date="item.evaluateBiddingDeadline" pick-a-date-options="{ format: 'yyyy-mm-dd',selectYears: true }"
                                   class="form-control-text iecssl" sog-valide-status="评标时间" />
                        </td>
                        <td ng-if="!readonly" style="padding-left:0px!important;padding-right:0px!important;">
                            <input type="text" pick-a-date="item.decideBiddingDeadline" pick-a-date-options="{ format: 'yyyy-mm-dd',selectYears: true }"
                                   class="form-control-text iecssl" sog-valide-status="定标时间" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 入围供应商<span style="color:red;">*</span></h4>
        <button ng-click="addDetail()" class="btn btn-primary" style="cursor:pointer">+增加</button>
        <button ng-click="deleteDetail()" class="btn btn-danger" style="cursor:pointer">-删除</button>
        <!--<button class="btn btn-primary" style="cursor:pointer" ng-click="addSupplierByLabel()">按标签筛选</button>-->
        <div style="float:right">
            <button ng-click="selectenterpriseCheck()" class="btn btn-primary" style="cursor:pointer">查询关联关系</button>&nbsp;
            <a href="/THRWebApp/SupplierV2/default.htm#/AccountBackProgressQuery" target="_blank" class="btn btn-primary">供应商账户/密码找回查询表</a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center;" class="table-thead">
                            <input type="checkbox" ng-checked="baseInfo.select_all" ng-model="baseInfo.select_all" ng-change="selectAll(baseInfo.select_all)" />
                        </th>
                        <th style="text-align:center;width:5%;" class="table-thead">序号</th>
                        <th style="text-align:center;" class="table-thead">供应商名称</th>
                        <th style="text-align:center;" class="table-thead">行业领域</th>
                        <th style="text-align:center;" class="table-thead">行业领域等级</th>
                        <th style="text-align:center;" class="table-thead">该行业领域中标率</th>
                        <th style="text-align:center;" class="table-thead">供应商总中标率</th>
                        <th style="text-align:center;" class="table-thead">入围说明</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in viewModel.p_SupplierScopePEMus|orderBy : 'sortNo' : false">
                        <td style="text-align:center;vertical-align:middle;">
                            <input type="checkbox" ng-model="item.checked" ng-change="selectOne(item.checked)" />
                        </td>
                        <td class="text-center">{{$index+1}}</td>
                        <td style="text-align:center;">
                            <a style="color:blue;" title="查看供应商详情" ng-click="OpenSupplier(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                        </td>
                        <td class="text-center">{{item.industryDomainName}}</td>
                        <td class="text-center">{{item.industryDomainLevelName}}</td>
                        <td class="text-center">
                            <p><span>{{item.industryDomainHistoryBiddingCount/item.industryDomainHistoryTenderCount*100 | number:0}}</span><span ng-if="item.industryDomainHistoryTenderCount != 0">%</span></p>
                            <p><span style="font-size:10px !important;color:#9B9C9C">(中标{{item.industryDomainHistoryBiddingCount}}次/投标{{item.industryDomainHistoryTenderCount}}次)</span></p>
                        </td>
                        <td class="text-center">
                            <p><span>{{item.supplierHistoryBiddingCount/item.supplierHistoryTenderCount*100 | number:0}}</span><span ng-if="item.supplierHistoryTenderCount != 0">%</span></p>
                            <p><span style="font-size:10px !important;color:#9B9C9C">(中标{{item.supplierHistoryBiddingCount}}次/投标{{item.supplierHistoryTenderCount}}次)</span></p>
                        </td>
                        <td class="text-left">
                            <input type="text" class="meeting" ng-model="item.shortlistedExplain" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>

        <!--企查查展示-->
        <div enterprise-show data="viewModel.p_SupplierScopePEMus" ng-if="baseInfo.entrpriseReadOnly"></div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 附件</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="招标文件" style="text-align:right;">招标文件<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <div wf-uploader files="viewModel.biddingReportFile" opts="baseInfo.fileopts" ready="baseInfo.fileReady"></div>
                    <div class="clearfix"></div>
                    <i style="color:red;">提示:招标文件入围供应商可以查看，请谨慎编制上传。</i>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="开标要素记录表模板" style="text-align:right;">开标要素记录表模板</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <div wf-uploader files="viewModel.biddingElementsTemplateFile" opts="baseInfo.fileopts" ready="baseInfo.fileReady"></div>
                    <div class="clearfix"></div>
                    <i style="color:red;">提示:开标要素记录表模板为供应商外网可见，请谨慎编制上传。</i>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="请示报告" style="text-align:right;">请示报告<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <div wf-uploader files="viewModel.requestForInstructionsFile" opts="baseInfo.fileopts" ready="baseInfo.fileReady"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="其他附件" style="text-align:right;">其他附件</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <div wf-uploader files="viewModel.otherFile" opts="baseInfo.fileopts" ready="baseInfo.fileReady"></div>
                    <div class="clearfix"></div>
                    <i style="color:red;">提示：可上传其他相关附件，仅用于内部审批，入围供应商无法查看。
                    </i>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>传阅</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right" title="传阅人">传阅人</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <span sog-ogu-input="viewModel.circularizePersons" opts="baseInfo.selectCheckBoxPeople"></span>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <!-- 评论列表-->
        <h4 class="control-heading bg-info" ng-show="isOpinionsShow"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
        <div class="form-inline" ng-show="isOpinionsShow">
            <div class="form-inline">
                <span sog-comment="opinions"></span>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <!-- 审批意见列表-->
        <h4 class="control-heading bg-info" ng-show="isApprovalShow"><i class="glyphicon glyphicon-list-alt"></i>审批意见列表</h4>
        <div class="form-inline" ng-show="isApprovalShow">
            <span sog-simple-opinions="opinions"></span>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>