<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/BiddingStrategyGroupInputProtocolnumberWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--左侧导航栏-->
        <div ng-show="viewModel.formAction.actionStateCode==2" left-nav opts="baseInfo.leftNavListOpts" data="viewModel.navOption.navigationList"></div>
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>招投标（集团战采）</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div ng-include="'views/strategyCommissioned/biddingStrategyGroup/htmlTemplate/biddingStrategyGroupBaseInfoReadOnly.html'"></div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>协议信息</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center;width:5%;" class="table-thead">序号</th>
                        <th style="text-align:center;" class="table-thead">拟定中标供应商名称</th>
                        <th style="text-align:center;" class="table-thead">行业领域</th>
                        <th style="text-align:center;" class="table-thead">拟定协议名称</th>
                        <th style="text-align:center;" class="table-thead">协议编号<span style="color:red;">*</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="supplier in viewModel.p_StrategyPurchaseAgreementInfoPEMus|orderBy : 'sortNo' : false">
                        <td class="text-center">{{$index+1}}</td>
                        <td style="text-align:center;">
                            <a style="color:blue;" title="查看供应商详情" ng-click="OpenSupplier(supplier.supplierCode);" class="ng-binding">{{supplier.supplierName}}</a>
                        </td>
                        <td style="text-align:center;">{{supplier.industryDomainName}}</td>
                        <td style="text-align:center;">{{supplier.agreementName}}</td>
                        <td style="text-align:center;">
                            <input type="text" class="meeting" ng-model="supplier.agreementNo" maxlength="36">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>审批意见</h4>
        <div class="form-inline">
            <span sog-simple-opinions="opinions"></span>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>