<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/PurchaseApprovalWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--<div sog-abort-opinion opinions="opinions"></div>-->
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <!--信息项组标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div class="form-inline form-inline-readonly clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <span style="color:red">
                    请提前与各方确认此费用应通过直接付款的方式支出，该流程一旦生效，不予作废
                </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-2 col-md-2 control-label text-right" title="采购名称" style="text-align:right">采购名称</label>
                <div class="col-xs-6 col-sm-10 col-md-10 form-group baseifo-input">
                    {{viewModel.purchaseBase.purchaseName}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="项目名称" style="text-align:right">项目名称</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    {{viewModel.purchaseOfNoContract.projectName}}
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-8 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-3 control-label" title="期区/地块" style="text-align:right">期区/地块</label>
                <div class="col-xs-6 col-sm-6 col-md-7 form-group baseifo-input">
                    {{viewModel.purchaseOfNoContract.stageAreaName}}
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-sm-6 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-md-6 col-sm-3 control-label" title="法人公司" style="text-align:right">法人公司</label>
                <div class="col-xs-6 col-md-6 col-sm-7 form-group baseifo-input">
                    {{viewModel.corporationScopeList[0].corporationName}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="记账公司" style="text-align:right">记账公司</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    {{viewModel.purchaseOfNoContract.chargeCompanyName}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="成本中心" style="text-align:right">成本中心</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    {{viewModel.purchaseOfNoContract.costCenterName}}
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-6 col-md-2 control-label" title="建设地点" style="text-align:right">建设地点</label>
                <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
                    {{viewModel.purchaseOfNoContract.cityInput.fullPathNameReadOnly}}
                    &nbsp;
                    {{viewModel.purchaseOfNoContract.buildDetailAddress}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label labelheight" title="本次采购范围和内容" style="text-align:right">本次采购范围和内容</label>
                <div class="col-xs-12 col-sm-9 col-md-10 form-group baseifo-input">
                    {{viewModel.purchaseOfNoContract.purchaseContent}}
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="建筑面积" style="text-align:right">建筑面积</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    {{viewModel.purchaseOfNoContract.buildingArea | number:2}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="建设单方成本目标" style="text-align:right">建设单方成本目标</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    {{viewModel.purchaseOfNoContract.buildingCostTargetPerArea | number:2}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="本次采购金额(元)" style="text-align:right">本次采购金额(元)</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    {{viewModel.purchaseBase.purchaseAmount | number:2}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="收款单位" style="text-align:right">收款单位</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    {{viewModel.purchaseOfNoContract.chargeUnitName}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="收费依据文件名称" style="text-align:right">收费依据文件名称</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    {{viewModel.purchaseOfNoContract.chargeAccordingFileName}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label labelheight" title="收费标准描述" style="text-align:right">收费标准描述</label>
                <div class="col-xs-12 col-sm-9 col-md-10 form-group baseifo-input border-none">
                    {{viewModel.purchaseOfNoContract.chargeStandardDescribe}}
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group" ng-if="!viewModel.isNonContractAdditional">
                <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                    <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="是否有返还款" style="text-align:right">是否有返还款</label>
                    <div class="col-xs-6 form-group baseifo-input">
                        <ul>
                            <li style="display:inline" ng-repeat="item in hasPrepaymentRefundList">
                                <input type="radio" disabled="disabled" ng-checked="{{item.checked}}" value="{{item.code}}" ng-model="viewModel.purchaseOfNoContract.hasPrepaymentRefund" name="hasPrepaymentRefund" />{{item.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign" ng-show="viewModel.purchaseOfNoContract.hasPrepaymentRefund">
                    <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="应返还比例" style="text-align:right">应返还比例</label>
                    <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                        {{viewModel.purchaseOfNoContract.prepaymentRefundScale|number:2}}&nbsp;%
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign" ng-show="viewModel.purchaseOfNoContract.hasPrepaymentRefund">
                    <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="应返还金额" style="text-align:right">应返还金额</label>
                    <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                        {{viewModel.purchaseOfNoContract.prepaymentRefundAmount|number:2}}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label labelheight" title="付款方式描述" style="text-align:right">付款方式描述</label>
                <div class="col-xs-12 col-sm-9 col-md-10 form-group baseifo-input border-none">
                    {{viewModel.purchaseOfNoContract.paymentWayDescribe}}
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label labelheight" title="原因说明" style="text-align:right">原因说明</label>
                <div class="col-xs-12 col-sm-9 col-md-10 form-group baseifo-input border-none">
                    {{viewModel.purchaseOfNoContract.reasonExplain}}
                </div>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>合约规划</h4>
        <div contract-agreement-split-info opts="baseInfo.contractAgreementOpts" data="viewModel.contractAgreementScopeList"></div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>成本归属</h4>
        <div class="form-inline form-inline-readonly clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <div class="table-responsive flow-table-box">
                    <table class="table table-bordered table-striped" style="width: 200%;">
                        <thead>
                            <tr>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">序号</th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle;width:200px !important;">成本科目</th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">
                                    <span>科目成本</span><br />
                                    <span style="color:red;font-weight:bolder;">【A】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle;width:110px !important;">
                                    <span style="color:red;">*</span><span>本单分摊金额</span><br />
                                    <span style="color:red;font-weight:bolder;">【B】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">
                                    <span>已发生采购</span><br />
                                    <span style="color:red;font-weight:bolder;">【C】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">
                                    <span>预估待发生金额</span><br />
                                    <span style="color:red;font-weight:bolder;">【D】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">
                                    <span>可用余量</span><br />
                                    <span style="color:red;font-weight:bolder;">【A-B-C-D】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle"><span style="color:red;">*</span>业态范围</th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle"><span style="color:red;">*</span>分配方式</th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">自定义比例</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="agree in viewModel.contractAgreementScopeList">
                            <tr ng-repeat="item in agree.contractAgreementSplitInfoList">
                                <td style="text-align:center;">
                                    {{$index+1}}
                                </td>
                                <td>
                                    {{item.costCourseName}}
                                </td>
                                <td class="text-right">{{item.costTargetAmount | number:2}}</td>
                                <td class="text-right">{{item.actualAmount | number:2}}</td>
                                <td class="text-right">{{item.accumulativeHappenedAmountWithTax | number:2}}</td>
                                <td class="text-right">{{item.forecastHappenAmountWithTax | number:2}}</td>
                                <td class="text-right">
                                    <span ng-if="item.surplusValueWithTax < 0" style="color:red;">{{item.surplusValueWithTax | number:2 }}</span>
                                    <span ng-if="item.surplusValueWithTax >= 0">{{item.surplusValueWithTax | number:2}}</span>
                                </td>
                                <td style="width: 30%;" title="{{item.businessTypeNames}}">
                                    {{item.businessTypeNames |txtLimitLength:true:20:' ...'}}
                                </td>
                                <td>
                                    {{item.allotTypeName}}
                                </td>
                                <td style="text-align:center;">
                                    <span ng-show="item.allotTypeCode==3">
                                        <button ng-click="baseInfo.checkallotType(item, $index)" class="glyphicon btn in-crease">查看</button>
                                    </span>
                                    <span ng-show="!(item.allotTypeCode==3)">--</span>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="2" class="text-center">合计</td>
                                <td class="text-right">{{agree.allCostTargetAmount | number:2}}</td>
                                <td class="text-right">{{agree.allActualAmount | number:2}}</td>
                                <td class="text-right">{{agree.allAccumulativeHappenedAmountWithTax | number:2}}</td>
                                <td class="text-right">{{agree.allForecastHappenAmountWithTax | number:2}}</td>
                                <td class="text-right">{{agree.allSurplusValueWithTax | number:2}}</td>
                                <td colspan="3"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flow-table-icon"> </div>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>附件</h4>
        <div class="form-inline form-inline-readonly clearfix">
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 control-label text-right">无合同采购申请报告</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span class="attachment right" wf-uploader ready="viewModel.purchaseOfNoContractApplicationFileReady" files="viewModel.purchaseOfNoContractApplicationFiles" opts="baseInfo.purchaseOfNoContractApplicationFileOpts" read-only="true"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 control-label text-right" title="付款计算明细">付款计算明细</label>
                <div class="col-xs-6 form-group baseifo-input" sog-valide-status="付款计算明细">
                    <span class="attachment right" wf-uploader ready="viewModel.payCaculationDetailFileReady" files="viewModel.payCaculationDetailFiles" opts="baseInfo.payCaculationDetailFileOpts" read-only="true"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 control-label text-right" title="收费依据文件">收费依据文件</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span class="attachment right" wf-uploader ready="viewModel.chargeAccordingFileReady" files="viewModel.chargeAccordingFiles" opts="baseInfo.chargeAccordingFileOpts" read-only="true"></span>
                </div>
            </div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>传阅</h4>
        <div class="form-inline form-inline-readonly clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="传阅人" style="text-align:right">传阅人</label>
                <div class="col-xs-6 col-sm-8 col-md-8 form-group baseifo-input">
                    <span ng-repeat="tt in viewModel.circularizePersons">
                        <span wf-user-presence="tt"></span>
                    </span>
                </div>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
        <div class="form-inline form-inline-readonly clearfix">
            <div class="form-inline">
                <span sog-comment="opinions"></span>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>审批</h4>
        <div class="form-inline form-inline-readonly clearfix">
            <input wf-opinions opinions-opts="opinionOpts" opinions="opinions" predefined-opinions="predefinedOpinions" user-predefined-opinions="userPredefinedOpinions"
                   current-opinion="currentOpinion" url-base="/PurchaseApprovalWf" />
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>

    <!--右侧通栏结束-->
</div>
<style>
    @media (max-width: 767px) {
        .form-group label {
            text-align: left !important;
        }
    }
</style>