<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/PurchaseApplicationWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--<div sog-abort-opinion opinions="opinions"></div>-->
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <!--信息项组标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div class="form-inline clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <span ng-if="!viewModel.isNonContractAdditional" style="color:red">
                    请提前与各方确认此费用应通过直接付款的方式支出，该流程一旦生效，不予作废
                </span>
                <span ng-if="viewModel.isNonContractAdditional" style="color:red">
                    该流程仅用于已支付费用补录，不会发起支付单，请确认是否适用
                </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label text-right" title="采购名称" style="text-align:right">采购名称<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-6 form-group baseifo-input">
                    <input sog-valide-status="采购名称" type="text" class="meeting" ng-model="viewModel.purchaseBase.purchaseName" maxlength="250">
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="项目名称" style="text-align:right">项目名称<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    <div rc-select-project opts="baseInfo.projectOpts"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-3 control-label" title="期区/地块" style="text-align:right">期区/地块<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-6 col-md-3 form-group baseifo-input ">
                    <select sog-valide-status="期区/地块" class="meeting" ng-model="viewModel.purchaseOfNoContract.stageAreaCode"
                            ng-options="p.code as p.name for p in viewModel.option.stageArea"
                            ng-change="baseInfo.stageAreaChange()">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 control-label" title="法人公司" style="text-align:right">法人公司<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <div select-corporation opts="baseInfo.corporationOpts" data="viewModel.corporationScope"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 control-label" title="记账公司" style="text-align:right">记账公司<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select sog-valide-status="记账公司" class="meeting" ng-model="viewModel.purchaseOfNoContract.chargeCompanyCode"
                            ng-options="p.code as p.name for p in viewModel.option.chargeCompany"
                            ng-selected="p.code == viewModel.purchaseOfNoContract.chargeCompanyCode"
                            ng-change="baseInfo.chargeCompanyChange()">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 control-label" title="成本中心" style="text-align:right">成本中心<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select sog-valide-status="成本中心" class="meeting" ng-model="viewModel.purchaseOfNoContract.costCenterCode"
                            ng-options="p.code as p.name for p in viewModel.option.costCenter"
                            ng-selected="p.code == viewModel.purchaseOfNoContract.costCenterCode"
                            ng-change="baseInfo.costCenterChange()">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <!--地址选择-->
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="建设地点" style="text-align:right">
                    建设地点
                    <span style="color:red;" ng-if="!viewModel.isNonContractAdditional">*</span>
                </label>
                <div sog-valide-status="地区" class="col-xs-6 col-sm-3 col-md-4 form-group baseifo-input">
                    <span region-input="viewModel.purchaseOfNoContract.cityInput" opts="baseInfo.regionOpts"></span>
                </div>
                <div class="col-xs-11 col-sm-3 col-md-6 form-group baseifo-input">
                    <input sog-valide-status="建设地点" type="text" ng-model="viewModel.purchaseOfNoContract.buildDetailAddress" class="form-control meeting" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label labelheight" title="本次采购范围和内容" style="text-align:right">本次采购范围和内容<span style="color:red;">*</span></label>
                <div class="col-xs-12 col-sm-9 col-md-10 form-group baseifo-input border-none">
                    <textarea sog-valide-status="本次采购范围和内容" class="textarea" ng-model="viewModel.purchaseOfNoContract.purchaseContent" maxlength="4000"></textarea>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="建筑面积" style="text-align:right">建筑面积</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    <input sog-valide-status="建筑面积" type="text" class="meeting input-type ng-pristine ng-valid text-right" wf-money opts="baseInfo.moneyopts" ng-model="viewModel.purchaseOfNoContract.buildingArea">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="建设单方成本目标" style="text-align:right">建设单方成本目标<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    <input sog-valide-status="建设单方成本目标" type="text" class="meeting input-type ng-pristine ng-valid text-right" wf-money opts="baseInfo.moneyopts" ng-model="viewModel.purchaseOfNoContract.buildingCostTargetPerArea">
                </div>
            </div>
            <!--本次采购金额自动带出-->
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="本次采购金额(元)" style="text-align:right">本次采购金额(元)<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    <span>{{viewModel.purchaseBase.purchaseAmount | number:2}}</span>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                    <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="收款单位" style="text-align:right">收款单位<span style="color:red;">*</span></label>
                    <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                       <!-- <div rc-gov-selector opts="baseInfo.governmentOpts"></div>-->
                        <div auto-complete-mult opts="baseInfo.governmentOpts" str="viewModel.purchaseOfNoContract.chargeUnitName"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                    <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="收费依据文件名称" style="text-align:right">收费依据文件名称</label>
                    <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                        <input sog-valide-status="收费依据文件名称" type="text" class="meeting" ng-model="viewModel.purchaseOfNoContract.chargeAccordingFileName">
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group" ng-if="!viewModel.isNonContractAdditional">
                <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                    <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="是否有返还款" style="text-align:right">是否有返还款<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input">
                        <ul>
                            <li style="display:inline" ng-repeat="item in hasPrepaymentRefundList">
                                <input type="radio" ng-checked="{{item.checked}}" value="{{item.code}}" ng-change="baseInfo.hasPrepaymentRefund(item)" ng-model="viewModel.purchaseOfNoContract.hasPrepaymentRefund" name="hasPrepaymentRefund" />{{item.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign" ng-show="viewModel.purchaseOfNoContract.hasPrepaymentRefund">
                    <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="应返还比例" style="text-align:right">应返还比例<span style="color:red">*</span></label>
                    <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                        <input style="width:90%;" wf-digital ng-model="viewModel.purchaseOfNoContract.prepaymentRefundScale" opts="baseInfo.percentopts" ng-change="baseInfo.refundScale()" class="meeting text-right">&nbsp;%
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign" ng-show="viewModel.purchaseOfNoContract.hasPrepaymentRefund">
                    <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="应返还金额" style="text-align:right">应返还金额<span style="color:red">*</span></label>
                    <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                        <input wf-money ng-model="viewModel.purchaseOfNoContract.prepaymentRefundAmount" opts="baseInfo.moneyopts" ng-change="baseInfo.refundAmount()" class="meeting text-right">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label labelheight" title="收费标准描述" style="text-align:right">收费标准描述<span style="color:red;">*</span></label>
                <div class="col-xs-12 col-sm-9 col-md-10 form-group baseifo-input border-none">
                    <textarea sog-valide-status="收费标准描述" class="textarea" ng-model="viewModel.purchaseOfNoContract.chargeStandardDescribe" maxlength="4000"></textarea>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label labelheight" title="付款方式描述" style="text-align:right">付款方式描述<span style="color:red;">*</span></label>
                <div class="col-xs-12 col-sm-9 col-md-10 form-group baseifo-input border-none">
                    <textarea sog-valide-status="付款方式描述" class="textarea" ng-model="viewModel.purchaseOfNoContract.paymentWayDescribe" maxlength="4000"></textarea>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label labelheight" title="原因说明" style="text-align:right">原因说明</label>
                <div class="col-xs-12 col-sm-9 col-md-10 form-group baseifo-input border-none">
                    <textarea class="textarea" ng-model="viewModel.purchaseOfNoContract.reasonExplain" maxlength="4000"></textarea>
                </div>
            </div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>合约规划</h4>
        <div contract-agreement-split-info opts="baseInfo.contractAgreementOpts" data="viewModel.contractAgreementScopeList"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>成本归属</h4>
        <div class="form-inline clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <div class="table-responsive flow-table-box">
                    <table class="table table-bordered table-striped" style="width: 200%;">
                        <thead>
                            <tr>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">序号</th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle;width:200px !important;">成本科目</th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">
                                    <span>科目成本</span><br />
                                    <span style="color:red;font-weight:bolder;">【A】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle;width:110px !important;">
                                    <span style="color:red;">*</span><span>本单分摊金额</span><br />
                                    <span style="color:red;font-weight:bolder;">【B】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">
                                    <span>已发生采购</span><br />
                                    <span style="color:red;font-weight:bolder;">【C】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">
                                    <span>预估待发生金额</span><br />
                                    <span style="color:red;font-weight:bolder;">【D】</span><br />
                                    <span style="color:#0000ff;font-weight:normal"><a style="color:#0000ff;" ng-click="api.autoDeduction(viewModel.contractAgreementScopeList[0])">自动扣减</a> | <a style="color:#0000ff;" ng-click="api.recovery(viewModel.contractAgreementScopeList[0])">恢复数据</a></span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">
                                    <span>可用余量</span><br />
                                    <span style="color:red;font-weight:bolder;">【A-B-C-D】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle"><span style="color:red;">*</span>业态范围</th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle"><span style="color:red;">*</span>分配方式</th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">自定义比例</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="agree in viewModel.contractAgreementScopeList">
                            <tr ng-repeat="item in agree.contractAgreementSplitInfoList">
                                <td style="text-align:center;">
                                    {{$index+1}}
                                </td>
                                <td>
                                    {{item.costCourseName}}
                                </td>
                                <td class="text-center">{{item.costTargetAmount | number:2}}</td>
                                <td>
                                    <input type="text" wf-money opts="moneyOpts" class="meeting text-right" ng-model="item.actualAmount" ng-blur="baseInfo.actualAmountOnchange(agree,$index)">
                                </td>
                                <td class="text-right">{{item.accumulativeHappenedAmountWithTax | number:2}}</td>
                                <td class="text-center">
                                    <input type="text" wf-money opts="moneyOpts" class="meeting text-right" ng-model="item.forecastHappenAmountWithTax" ng-blur="baseInfo.forecastHappenOnchange(agree)">
                                </td>
                                <td class="text-center">{{item.surplusValueWithTax = item.costTargetAmount-item.accumulativeHappenedAmountWithTax-item.forecastHappenAmountWithTax - item.actualAmount | number:2}}</td>
                                <td>
                                    <div ng-show="item.actualAmount > 0">
                                        <input type="text" class="meeting" ng-model="item.businessTypeNames" style="width:90%">
                                        <span style="cursor: pointer;" ng-click="baseInfo.selectBusinessType(item)"><i class="glyphicon glyphicon-folder-open"></i></span>
                                    </div>
                                </td>
                                <td>
                                    <div ng-show="item.actualAmount > 0">
                                        <select sog-valide-status="分配方式" class="meeting  text-center"
                                                ng-model="item.allotTypeCode"
                                                ng-options="p.code as p.name for p in viewModel.allotTypeList "
                                                ng-selected="p.code==item.allotTypeCode"
                                                ng-change="baseInfo.changeApportionmentWay(item, $index)">
                                            <option value="" ng-selected="true">-请选择-</option>
                                        </select>
                                    </div>
                                </td>
                                <td style="text-align:center;">
                                    <span ng-show="item.allotTypeCode==3">
                                        <button ng-click="baseInfo.editallotType(item, $index)" class="glyphicon btn in-crease">编辑</button>
                                    </span>
                                    <span ng-show="!(item.allotTypeCode==3)">--</span>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="2" class="text-center">合计</td>
                                <td class="text-right">{{agree.allCostTargetAmount | number:2}}</td>
                                <td class="text-right">{{agree.allActualAmount | number:2}}</td>
                                <td class="text-right">{{agree.allAccumulativeHappenedAmountWithTax | number:2}}</td>
                                <td class="text-right">{{agree.allForecastHappenAmountWithTax | number:2}}</td>
                                <td class="text-right">{{agree.allSurplusValueWithTax | number:2}}</td>
                                <td colspan="3"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flow-table-icon"> </div>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>附件</h4>
        <div class="form-inline clearfix">
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 control-label text-right" ng-show="!viewModel.isNonContractAdditional">无合同采购申请报告<span style="color:red">*</span></label>
                <label class="col-xs-6 control-label text-right" ng-show="viewModel.isNonContractAdditional">无合同采购补录报告<span style="color:red">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span class="attachment right" wf-uploader ready="viewModel.purchaseOfNoContractApplicationFileReady" files="viewModel.purchaseOfNoContractApplicationFiles" opts="baseInfo.purchaseOfNoContractApplicationFileOpts" read-only="false"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 control-label text-right" title="付款计算明细">付款计算明细<span style="color:red">*</span></label>
                <div class="col-xs-6 form-group baseifo-input" sog-valide-status="付款计算明细">
                    <span class="attachment right" wf-uploader ready="viewModel.payCaculationDetailFileReady" files="viewModel.payCaculationDetailFiles" opts="baseInfo.payCaculationDetailFileOpts" read-only="false"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 control-label text-right" title="收费依据文件">收费依据文件</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span class="attachment right" wf-uploader ready="viewModel.chargeAccordingFileReady" files="viewModel.chargeAccordingFiles" opts="baseInfo.chargeAccordingFileOpts" read-only="false"></span>
                </div>
            </div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>传阅</h4>
        <div class="form-inline clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="传阅人" style="text-align:right">传阅人</label>
                <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
                    <span sog-ogu-input="viewModel.circularizePersons" opts="selectorTransOpts" sog-valide-status="传阅人">{{viewModel.circularizePersons}}</span>
                </div>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
        <div class="form-inline clearfix">
            <div class="form-inline">
                <span sog-comment="opinions"></span>
            </div>
        </div>

        <h4 class="control-heading bg-info" ng-show="opinions.length!=0"><i class="glyphicon glyphicon-list-alt"></i> 审批</h4>
        <div ng-if="opinions.length!=0" class="form-inline">
            <span sog-simple-opinions="opinions"></span>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
    <!--右侧通栏结束-->
    <!--右侧在线文档-->
    <div right-docs type="1"></div>
</div>
<style>
    .textarea {
        height: 44px;
        border-radius: 4px;
        border: 1px solid #ccc;
        text-indent: 1em;
        width: 100%;
    }

    @media (max-width: 767px) {
        .form-group label {
            text-align: left !important;
        }
    }
</style>