<div class="form-inline">
    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="采购名称">采购名称</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            {{viewModel.purchaseBase.purchaseName}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="项目名称">项目名称</label>
        <div class="col-xs-6 form-group baseifo-input">
            <span ng-repeat="item in viewModel.projectScopeList">{{item.projectName}} <br /></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 form-group">
        <label class="text-right col-xs-6 col-sm-6 col-md-3 control-label" title="期区">期区</label>
        <div class="col-xs-6 col-sm-6 col-md-9 form-group baseifo-input ">
            <span ng-repeat="item in viewModel.stageAreaScopeList">{{item.projectName}}-{{item.stageAreaName}} <br /></span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="法人公司">招标人</label>
        <div class="col-xs-6 form-group baseifo-input">
            <span ng-repeat="item in viewModel.corporationScopeList">{{item.corporationName}} <br /></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="记账公司">记账公司</label>
        <div class="col-xs-6 form-group baseifo-input ">
            {{viewModel.purchaseOfEngineering.chargeCompanyName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="成本中心">成本中心</label>
        <div class="col-xs-6 form-group baseifo-input ">
            {{viewModel.purchaseOfEngineering.costCenterName}}
        </div>
    </div>
    <div class="clearfix"></div>
     
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="是否示范区采购">是否需要缴纳保证金</label>
        <div class="col-xs-6 form-group baseifo-input ">
            <span ng-show="viewModel.purchaseOfEngineering.isNeedPaymentDeposit===true">是</span>
            <span ng-show="viewModel.purchaseOfEngineering.isNeedPaymentDeposit!==true">否</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-show="viewModel.purchaseOfEngineering.isNeedPaymentDeposit===true">
        <label class="text-right col-xs-6 control-label" title="各供应商应缴纳保证金金额">各供应商应缴纳保证金金额</label>
        <div class="col-xs-6 form-group baseifo-input text-right">
            {{viewModel.purchaseOfEngineering.needPaymentDepositAmount|number:2}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="合约分类">合约分类</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseOfEngineering.contractAgreementTypeName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="合同价格形式">合同价格形式</label>
        <div class="col-xs-6 form-group baseifo-input ">
            {{viewModel.purchaseOfEngineering.contractPriceTypeName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="计价方式">计价方式</label>
        <div class="col-xs-6 form-group baseifo-input ">
            {{viewModel.purchaseOfEngineering.valuationWayName}}
        </div>
    </div>
    <div class="clearfix"></div>
     
    <div class="col-xs-12 form-group">
        <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="本次招标范围和内容 ">本次招标范围和内容</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input"> 
            <p ng-bind-html="viewModel.purchaseOfEngineering.purchaseContent | htmlContent"></p>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 form-group">
        <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="付款方式描述">付款方式描述</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input"> 
            <p ng-bind-html="viewModel.purchaseOfEngineering.paymentWayDescribe | htmlContent"></p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>