<div class="modal-body" ng-style="containerBodyStyle">
    <div class="staff-service">
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;新增联系人</h4>
        <div class="form-inline clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-6 col-md-2  control-label">事业部/专业线名称<i style="color:red;">*</i></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <input sog-valide-status="账号名称" type="text" ng-model="userInfo.organizationName" class="form-control meeting" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-6 col-md-2  control-label">姓名<i style="color:red;">*</i></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <input sog-valide-status="姓名" type="text" ng-model="userInfo.contactNames" class="form-control meeting" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-6 col-md-2  control-label">电话<i style="color:red;">*</i></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <input sog-valide-status="电话" type="text" ng-model="userInfo.telephones" class="form-control meeting" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-6 col-md-2  control-label">邮箱<i style="color:red;">*</i></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <input sog-valide-status="邮箱" type="text" ng-model="userInfo.emails" class="form-control meeting" />
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeThisDialog();">取消</button>
    <button type="button" class="btn btn-primary" ng-click="save();">确定</button>
</div>
