<div class="modal-body">
    <ul ng-show="selectList.length>0">
        <li><input type="checkbox" ng-model="modal.isCheckedAll" ng-click="modal.checkedAll()">所有标段</li> 
        <li ng-repeat="item in selectList"><input type="checkbox" ng-model="item.checked"> {{item.biddingSectionName}}</li>
    </ul>
    <div ng-show="selectList.length===0" style="padding:20px 0;text-align:center;font-size: 12px;">暂无数据</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeThisDialog();">取消</button>
    <button type="button" class="btn btn-primary" ng-click="ok();">确定</button>
</div>
