<div class="modal hidden-print show">
    <div class="modal-backdrop hidden-print">
    </div>
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="glyphicon glyphicon-info-sign text-info"></i>选择合约规划
                    <button type="button" class="close" ng-click="closeThisDialog()"><span>×</span></button>
                </h4>
            </div>
            <div class="appil-container staff-service">
                <div class="form-inline clearfix" style="padding-top:5px;">
                    <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;设置查询条件</h4>
                    <div class="form-inline clearfix">
                        <div class="col-xs-12 col-sm-6 form-group" style="margin-top:2px;">
                            <label class="text-right col-xs-6 control-label">项目</label>
                            <div class="col-xs-6 form-group baseifo-input">
                                <div ng-show="multipleSelect===true">
                                    <select class="meeting" ng-model="model.queryCondition.projectCode"
                                            ng-options="type.code as type.name for type in projectList"
                                            ng-change="projectChange(model.queryCondition.projectCode)"
                                            ng-selected="model.queryCondition.projectCode===type.code"></select>
                                </div>
                                <div ng-show="multipleSelect===false">{{model.queryCondition.projectName}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group" style="margin-top:2px;">
                            <label class="text-right col-xs-6 control-label">期区</label>
                            <div class="col-xs-6 form-group baseifo-input">
                                <div ng-show="multipleSelect===true">
                                    <select class="meeting" ng-model="model.queryCondition.stageAreaCode"
                                            ng-options="type.code as type.name for type in stageAreaList"
                                            ng-selected="model.queryCondition.stageAreaCode===type.code"></select>
                                </div>
                                <div ng-show="multipleSelect===false">{{model.queryCondition.stageAreaName}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group" style="margin-top:2px;">
                            <label class="text-right col-xs-6 control-label">合约类型&nbsp;</label>
                            <div class="col-xs-6 form-group baseifo-input">
                                <select class="meeting" ng-model="model.contractPlanTypeCode" ng-options="type.code as type.name for type in model.contractPlanTypeList"></select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 form-group" style="margin-top:2px;">
                            <label class="text-right col-xs-6 control-label">合约规划名称&nbsp;</label>
                            <div class="col-xs-6 form-group baseifo-input">
                                <input class="meeting" ng-model="model.planContractName" placeholder="支持模糊查询">
                            </div>
                        </div>
                        <div class="col-xs-12 form-group" style="margin-top:2px;">
                            <div class="col-xs-12 form-group baseifo-input text-right">
                                <button class="btn btn-primary btn-sm" style="padding-left:20px;padding-right:20px;" ng-click="model.query()">搜&nbsp;索</button>
                            </div>
                        </div>
                    </div>

                    <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;合约规划列表</h4>
                    <div class="form-inline clearfix">
                        <div class="table-responsive" style="max-height: 300px;overflow: auto;">
                            <table class="table table-hover table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width:40px;"></th>
                                        <th class="text-center">合约名称</th>
                                        <th class="text-center">合约类型名称</th>
                                        <th class="text-center">成本科目</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" ng-repeat="item in model.contractPlanList">
                                        <td style="width:40px;"><input type="checkbox" name="planContract" ng-change="model.chooseItem(item)" ng-model="item.checked"></td>
                                        <td><span style="display:inline-block;white-space:nowrap;" title="{{item.planContractName}}">{{item.planContractName}}</span></td>
                                        <td><span style="display:inline-block;white-space:nowrap;" title="{{item.contractPlanTypeCnName}}">{{item.contractPlanTypeCnName}}</span></td>
                                        <td><span style="display:inline-block;white-space:nowrap;" title="{{item.costTypeName}}">{{item.costTypeName}}</span></td>
                                    </tr>
                                    <tr class="text-center" ng-show="model.contractPlanList.length===0&&model.isLoaded"><td colspan="8">暂无相关数据！</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <div class="col-xs-12 form-group">
                    <div class="foot-page pull-right" tm-pagination="model.paginationConf"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeThisDialog();">取消</button>
                <button type="button" class="btn btn-primary" ng-click="model.confirm();">确定</button>
            </div>
        </div>
    </div>
</div>


