<div class="modal-body staff-service" ng-style="containerBodyStyle">
    <div class="form-inline">
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i><span class="Row-11">设置搜索条件</span></h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-8 col-md-8 form-group">
                <label class="col-xs-4 control-label" title="关键字" style="text-align:right;">关键字</label>
                <div class="col-xs-8 form-group baseifo-input">
                    <input type="text" class="meeting" placeholder="关键字" ng-model="viewModel.keyWords" />
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>

            <div class="col-xs-12 col-sm-4 col-md-4 form-group">
                <div class="col-xs-12 form-group baseifo-input" style="text-align:center;">
                    <button class="btn btn-primary" ng-click="corporationSearch()">搜索</button>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i><span class="Row-11">公司列表</span></h4>
        <div class="table-responsive"  ng-init="Init()">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center;"></th>
                        <th style="text-align:center;">公司名称</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in corporationList.slice((viewModel.corporationConf.currentPage-1)*viewModel.corporationConf.itemsPerPage,(viewModel.corporationConf.currentPage)*viewModel.corporationConf.itemsPerPage)">
                        <td style="text-align:center;">
                            <input type="radio" name="corporation" ng-click="select(item)"/>
                        </td>
                        <td style="text-align:left;">
                            <span>{{item.cnName}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div tm-pagination="viewModel.corporationConf"></div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="selectOk()">确定</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
</div>
