<div class="modal-body" ng-style="containerBodyStyle">
    <div class="staff-service">
        <div class="appil-container">
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;保证金退还进度</h4>
            <div class="form-inline">
                <table class="table table-striped  table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">序号</th>
                            <th class="text-center">供应商名称</th>
                            <th class="text-center">中标状态</th>
                            <th class="text-center">退费进度</th>
                            <th class="text-center">保证金退还状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data track by $index|orderBy : 'supplierName' : false">
                            <!--序号-->
                            <td class="text-center">{{$index+1}}</td>
                            <!--供应商名称-->
                            <td>{{item.supplierName}}</td>
                            <!--中标状态-->
                            <td>
                                <span ng-show="item.isWinTheBidding===true">中标</span>
                                <span ng-show="item.isWinTheBidding!==true">未中标</span>
                            </td>
                            <!--退费进度-->
                            <td>
                                <span ng-if="(!item.needCashDepositAmount || item.bidInviteReplyStateCode!==2)===true">--</span>
                                <span ng-if="(!item.needCashDepositAmount || item.bidInviteReplyStateCode!==2)!==true">
                                    <a ng-if="item.cashReturnStateCode!==3 && item.cashReturnStateURL"
                                       ng-click="model.showRefund($index,item)" style="color: blue;text-decoration: underline;">查看进度</a>
                                    <span ng-if="item.cashReturnStateCode===3">
                                        <button class="btn btn-primary" style="cursor:pointer;color:white;" ng-click="model.reStartRefund(item)">重新发起</button>
                                    </span>
                                </span>
                            </td>
                            <!--保证金退还状态-->
                            <td>
                                <div ng-show="item.isWinTheBidding===true"> 
                                    <span ng-if="!item.needCashDepositAmount">无需退还</span>
                                    <span ng-if="item.needCashDepositAmount && item.bidInviteReplyStateCode===2">
                                        <span ng-if="item.cashReturnStateName">{{item.cashReturnStateName}}</span>
                                        <span ng-if="!item.cashReturnStateName">--</span>
                                    </span>
                                    <span ng-if="item.needCashDepositAmount && item.bidInviteReplyStateCode!==2">
                                        未缴纳
                                    </span>
                                </div>
                                <div ng-if="item.isWinTheBidding!==true">
                                    <span ng-if="!item.needCashDepositAmount">无需退还</span>
                                    <span ng-if="item.needCashDepositAmount && item.bidInviteReplyStateCode===2">
                                        {{item.cashReturnStateName}}
                                    </span>
                                    <span ng-if="item.needCashDepositAmount && item.bidInviteReplyStateCode!==2">
                                        未缴纳
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel(false)">取消</button>
</div>
