<div class="modal-body" ng-style="containerBodyStyle">
    <div class="staff-service">
        <div class="form-inline clearfix">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:40px;"></th>
                            <th class="text-center">商品描述</th>
                            <th class="text-center">商品品牌</th>
                            <th class="text-center">商品型号</th>
                            <th class="text-center">商品数量</th>
                            <th class="text-center">商品价格</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-repeat="item in delegationInfo.purchaseDelegationProductInfoList">
                            <td><span style="display:inline-block;white-space:nowrap;">{{$index+1}}</span></td>
                            <td><span title="{{item.skuName}}">{{item.skuName|txtLimitLength:true:15:' ...'}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.skuBrand}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.skuBmodel}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.quantity}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.salesPrice| number:2}}</span></td>
                        </tr>
                        <tr class="text-center" ng-if="viewModel.userList.length===0">
                            <td colspan="6">暂无相关数据！</td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-inline">
                    <div class="col-xs-12 form-group">
                        <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="备注" style="text-align:right;display:block;height:54px;line-height:54px;">备注：</label>
                        <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
                            <textarea style="width:100%;" disabled="disabled">{{delegationInfo.jdRemake}}</textarea>
                        </div>
                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                        <label class="col-xs-6 control-label text-right" title="订单运费">订单运费：</label>
                        <div class="col-xs-6 form-group baseifo-input">
                            <span>{{delegationInfo.jdFreightAmount| number:2}}</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                        <label class="col-xs-6 control-label text-right" title="订单应付金额">订单应付金额：</label>
                        <div class="col-xs-6 form-group baseifo-input">
                            <span>{{delegationInfo.delegationAmount| number:2}}</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeThisDialog();">关闭</button>
</div>
