<div ng-if="isEdit">
    <a href="" ng-click="openGlodonFileModal()">招标清单</a>
</div>
<div ng-if="!isEdit">
    <a href="">清单名字</a>
</div>

<div class="staff-service">
    <div class="appil-container">
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;搜索条件</h4>
        <div class="form-inline clearfix">
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label">项目</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select class="meeting" ng-model="model.condition.projectId"
                            ng-options="type.projectCode as type.projectName for type in model.projectList"
                            ng-change="projectChange(type)">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label">期区</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select class="meeting" ng-model="model.condition.projectStageID"
                            ng-options="type.stageAreaCode as type.stageAreaName for type in model.stageAreaList"
                            ng-change="stageAreaChange(type)">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label">招标清单</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <input type="text" ng-model="model.condition.fileName" class="form-control meeting" />
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 form-group">
                <div class="col-xs-12 form-group baseifo-input text-center">
                    <button class="btn btn-primary btn-sm" style="padding-left:20px;padding-right:20px;" ng-click="query()">搜&nbsp;索</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;查询结果</h4>
        <div class="form-inline clearfix">
            <div class="table-responsive" style="max-height: 400px;overflow: auto;">
                <table class="table table-hover table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:40px;"></th>
                            <th class="text-center">招标清单</th>
                            <th class="text-center">创建时间</th>
                            <th class="text-center">编制人</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-repeat="item in model.pageFileList">
                            <td><input type="radio" name="projectItem" ng-click="chooseItem(item)"></td>
                            <td class="text-left"><span style="display:inline-block;white-space:nowrap">{{item.fileName}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.createTime |date:'yyyy-MM-dd HH:mm'}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.account}}</span></td>
                        </tr>
                        <tr class="text-center" ng-if="model.pageFileList == null || model.pageFileList.length===0"><td colspan="4">暂无相关数据！</td></tr>
                    </tbody>
                </table>
            </div>
            <!--分页-->
            <div tm-pagination="model.paginationConf" class="pull-right clearfix" style="margin-right:10px;"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeThisDialog();">取消</button>
    <button type="button" class="btn btn-primary" ng-click="confirmHandler();">确定</button>
</div>
