<div class="modal-body" ng-style="containerBodyStyle">
    <div class="staff-service">
        <h4 style="font-size:14px;">&nbsp;此账号({{currentUser.displayName}})没有京东购权限！如需开通权限，请根据所在组织/条线，联系对应领导申请！</h4>
        <div class="form-inline clearfix">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:40px;"></th>
                            <th class="text-center">事业部/专业线名称</th>
                            <th class="text-center">联系人姓名</th>
                            <th class="text-center">联系人电话</th>
                            <th class="text-center">联系人邮箱</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-repeat="item in userList">
                            <td><span style="display:inline-block;white-space:nowrap;">{{$index+1}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.organizationName}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.contactNames}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.telephones}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.emails}}</span></td>
                        </tr>
                        <tr class="text-center" ng-if="viewModel.userList.length===0">
                            <td colspan="5">暂无相关数据！</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeThisDialog();">关闭</button>
</div>
