<div class="modal-body" ng-style="containerBodyStyle">
    <div class="staff-service">
        <div class="form-inline clearfix">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:40px;"></th>
                            <th class="text-center">操作人</th>
                            <th class="text-center">京东账户</th>
                            <th class="text-center">操作类型</th>
                            <th class="text-left">日志详细</th>
                            <th class="text-center">操作时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in logList">
                            <td class="text-left"><span style="display:inline-block;white-space:nowrap;">{{$index+1}}</span></td>
                            <td class="text-left"><span style="display:inline-block;white-space:nowrap;">{{item.creatorDisplayName}}-({{item.creatorLoginName}})</span></td>
                            <td class="text-left"><span style="display:inline-block;white-space:nowrap;">{{item.jdMallUserName}}</span></td>
                            <td class="text-left"><span style="display:inline-block;white-space:nowrap;">{{getActionTitle(item.operationMode)}}</span></td>
                            <td class="text-left"><span style="display:inline-block;  white-space:nowrap;" title="{{item.description}}">{{item.description | limitTo:45}}...</span></td>
                            <td class="text-center"><span style="display:inline-block;white-space:nowrap;">{{item.createTime|date:'yyyy-MM-dd hh:mm:ss'}}</span></td>
                        </tr>
                        <tr class="text-center" ng-if="logList.length===0">
                            <td colspan="6">暂无相关数据！</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeThisDialog();">关闭</button>
</div>
