<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/PurchaseAbortDraftWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 作废原因<span style="color:red;">*</span></h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <textarea sog-valide-status="作废原因" style="width:100%;height:100px;" class="meeting" ng-model="viewModel.purchaseAbortRecord.abortReason"></textarea>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购情况</h4>
        <div class="form-inline clearfix">
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="采购形式">采购形式：</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    {{viewModel.purchaseAbortRecord.purchaseWayName}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 form-group">
                <label class="col-xs-6 col-sm-6 col-md-3 control-label" style="text-align:right" title="采购类型">采购类型：</label>
                <div class="col-xs-6 col-sm-6 col-md-9 form-group baseifo-input">
                    {{viewModel.purchaseAbortRecord.purchaseBusinessTypeName}}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="流程发起人">流程发起人：</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    {{viewModel.purchaseAbortRecord.purchaseCreatorName}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="发起时间">发起时间：</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    {{viewModel.purchaseAbortRecord.purchaseCreateTime | date:'yyyy-MM-dd HH:mm:ss'}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="完成时间">完成时间：</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    {{viewModel.purchaseAbortRecord.purchaseCompleteTime | date:'yyyy-MM-dd HH:mm:ss'}}
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="采购名称" style="text-align:right;">采购名称：</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <div open-extra-link extra-link="viewModel.purchaseAbortRecord.purchaseFormUrl" extra-name="viewModel.purchaseAbortRecord.purchaseName"></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="本次采购成本目标">本次采购成本目标：</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    {{viewModel.purchaseAbortRecord.purchaseCostTargetAmount | number:2}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 form-group">
                <label class="col-xs-6 col-sm-6 col-md-3 control-label" style="text-align:right" title="最终采购金额">最终采购金额：</label>
                <div class="col-xs-6 col-sm-6 col-md-9 form-group baseifo-input">
                    {{viewModel.purchaseAbortRecord.purchaseAmount | number:2}}
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="供应商名称" style="text-align:right;">供应商名称：</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    {{viewModel.purchaseAbortRecord.biddingSupplierNames}}
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="审批人">审批人<span style="color:red;">*</span>：</label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input" sog-valide-status="审批人">
                    <span sog-ogu-input="viewModel.approvalUser" opts="settings.peopleSelect"></span>        
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- 审批意见列表-->
        <h4 class="control-heading bg-info" ng-show="isOpinionsShow"><i class="glyphicon glyphicon-list-alt"></i>审批意见</h4>
        <div class="form-inline" ng-show="isOpinionsShow">
            <span sog-simple-opinions="opinions"></span>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>