<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/BusinessOperationsApprovalWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <div ng-include="'views/nonContractPurchaseBusinessOperations/htmlTemplate/HtmlPageReadOnly.html'"></div>

        <!--审批, 修改url-base-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 审批</h4>
        <div class="form-inline">
            <input wf-opinions opinions-opts="opinionOpts" opinions="opinions" predefined-opinions="predefinedOpinions
            " user-predefined-opinions="userPredefinedOpinions" current-opinion="currentOpinion " url-base="/BusinessOperationsApprovalWf" />
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
    <!--右侧通栏结束-->
    <!--右侧在线文档-->
    <div right-docs type="1"></div>
</div>
<style>
    .textarea {
        height: 44px;
        border-radius: 4px;
        border: 1px solid #ccc;
        text-indent: 1em;
        width: 100%;
    }

    @media (max-width: 767px) {
        .form-group label {
            text-align: left !important;
        }
    }
</style>