<div class="staff-service">
    <div class="ba-container">
        <!--<div class="text-center"><h2>异常信息查看</h2></div>-->
        <div>
            <ul class="nav ba-nav-ul">
                <li class="ba-nav-li" ng-click="baseFn.refresh('ip')" ng-class="{true: 'ba-nav-active',false: 'ba-nav-normal'}[settings.defaultModel=='ip']">
                    <a ng-class="{true: 'ba-nav-active',false: 'ba-nav-normal'}[settings.defaultModel=='ip']">投标IP异常</a>
                </li>
                <li class="ba-nav-li" ng-click="baseFn.refresh('personalInfo')" ng-class="{true: 'ba-nav-active',false: 'ba-nav-normal'}[settings.defaultModel=='personalInfo']">
                    <a ng-class="{true: 'ba-nav-active',false: 'ba-nav-normal'}[settings.defaultModel=='personalInfo']">投标人员异常</a>
                </li>
            </ul>
            <div class="tab-content">
                <div ng-show="settings.defaultModel=='ip'">
                    <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>搜索条件</h4>
                    <div class="form-inline clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-3 form-group">
                            <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="线索时间" style="text-align:right">线索时间：</label>
                            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                                <input type="text" pick-a-date="viewModel.ipModel.clowTime" pick-a-date-options="settings.dateOpts"
                                       class="form-control-text iecssl" sog-valide-status="线索时间" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 form-group">
                            <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="发起人" style="text-align:right">发起人：</label>
                            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                                <span sog-ogu-input="viewModel.ipModel.creator" opts="settings.peopleSelect"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label class="col-xs-6 col-sm-6 col-md-3 control-label" title="采购名称" style="text-align:right">采购名称：</label>
                            <div class="col-xs-6 col-sm-6 col-md-9 form-group baseifo-input">
                                <input sog-valide-status="采购名称" type="text" class="meeting" ng-model="viewModel.ipModel.purchaseName">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input text-center">
                                <button ng-click="baseFn.ipSearch(viewModel.ipModel)" class="glyphicon btn ba-button">搜索</button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input text-left">
                                <button ng-click="baseFn.ipReset()" class="glyphicon btn ba-button">重置</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4 class="control-heading bg-info">
                        <i class="glyphicon glyphicon-list-alt"></i>异常数据
                        <a ng-click="baseFn.ipDataExport(viewModel.ipModel)" class="ba-export">数据导出</a>
                    </h4>
                    <div class="form-inline clearfix">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">序号</th>
                                    <th class="text-center">收到线索时间</th>
                                    <th class="text-center ba-th-name">采购名称</th>
                                    <th class="text-center ba-th-normal">发起人</th>
                                    <th class="text-center">主要问题线索</th>
                                    <th class="text-center">涉及供应商</th>
                                    <th class="text-center">其他入库供应商</th>
                                    <th class="text-center ba-th-normal">预警环节</th>
                                    <th class="text-center">成本目标</th>
                                    <th class="text-center ba-th-normal">当前环节</th>
                                    <th class="text-center">供应商操作IP</th>
                                    <th class="text-center">招标文件查看</th>
                                    <th class="text-center">投标文件查看</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in viewModel.ipModel.dataTaskList">
                                    <td class="text-center">{{(settings.paginationIP.currentPage -1 )* settings.paginationIP.itemsPerPage + $index + 1}}</td>
                                    <td class="text-center">{{item.createTime|date:'yyyy-MM-dd'}}</td>
                                    <td class="text-left"><a ng-click="apiHelper.openAuthorityUrl(item.purchaseUrl)" style="color:blue;">{{item.purchaseName}}</a></td>
                                    <td class="text-center">{{item.draftUserName}}</td>
                                    <td class="text-left"><p ng-bind-html="item.mainProblemClewDescribe | htmlContent"></p></td>
                                    <td class="text-left">
                                        <div ng-repeat="supplier in item.involveSupplierList">
                                            <a ng-click="apiHelper.openAuthorityUrl(supplier.url)" style="color:blue;">{{supplier.name}};</a>
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <div ng-repeat="supplier in item.otherStorageSupplierList">
                                            <a ng-click="apiHelper.openAuthorityUrl(supplier.url)" style="color:blue;">{{supplier.name}};</a>
                                        </div>
                                    </td>
                                    <td class="text-center">{{item.warningStepName}}</td>
                                    <td class="text-right">{{item.costTargetAmountWithTax | number : 2 }}</td>
                                    <td class="text-center">{{item.currentLinkName}}</td>
                                    <td class="text-center">
                                        <a ng-click="baseFn.lookIpDataDetail(item)" style="color:blue;">点击查看</a>
                                    </td>
                                    <td class="text-center">
                                        <a ng-if="item.biddingFileLookupUrl" ng-click="apiHelper.openAuthorityUrl(item.biddingFileLookupUrl)" style="color:blue;">查看招标文件</a>
                                    </td>
                                    <td class="text-center">
                                        <a ng-if="item.returnFileLookupUrl" ng-click="apiHelper.openAuthorityUrl(item.returnFileLookupUrl)" style="color:blue;">查看投标文件</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clearfix tab-content-pagination">
                            <div ng-if="settings.paginationIP.itemsPerPage < settings.paginationIP.totalItems" tm-pagination="settings.paginationIP" class="fc-pagination pull-center ba-pagination"></div>
                            <div ng-if="settings.paginationIP.totalItems == 0" class="text-center">暂无数据</div>
                        </div>
                    </div>
                </div>
                <div ng-show="settings.defaultModel=='personalInfo'">
                    <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>搜索条件</h4>
                    <div class="form-inline clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-3 form-group">
                            <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="线索时间" style="text-align:right">线索时间：</label>
                            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                                <input type="text" pick-a-date="viewModel.personalInfoModel.clowTime" pick-a-date-options="settings.dateOpts"
                                       class="form-control-text iecssl" sog-valide-status="线索时间" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 form-group">
                            <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="发起人" style="text-align:right">发起人：</label>
                            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                                <span sog-ogu-input="viewModel.personalInfoModel.creator" opts="settings.peopleSelect"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label class="col-xs-6 col-sm-6 col-md-3 control-label" title="采购名称" style="text-align:right">采购名称：</label>
                            <div class="col-xs-6 col-sm-6 col-md-9 form-group baseifo-input">
                                <input sog-valide-status="采购名称" type="text" class="meeting" ng-model="viewModel.personalInfoModel.purchaseName">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input text-center">
                                <button ng-click="baseFn.personalInfoSearch(viewModel.personalInfoModel)" class="glyphicon btn ba-button">搜索</button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input text-left">
                                <button ng-click="baseFn.personalInfoReset()" class="glyphicon btn ba-button">重置</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4 class="control-heading bg-info">
                        <i class="glyphicon glyphicon-list-alt"></i>异常数据
                        <a ng-click="baseFn.personalInfoDataExport(viewModel.personalInfoModel)" class="ba-export">数据导出</a>
                    </h4>
                    <div class="form-inline clearfix">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">序号</th>
                                    <th class="text-center">收到线索时间</th>
                                    <th class="text-center  ba-th-name">采购名称</th>
                                    <th class="text-center  ba-th-normal">发起人</th>
                                    <th class="text-center">主要问题线索</th>
                                    <th class="text-center">问题供应商</th>
                                    <th class="text-center">异常联系方式</th>
                                    <th class="text-center">关联采购名称</th>
                                    <th class="text-center">异常关联供应商</th>
                                    <th class="text-center">成本目标</th>
                                    <th class="text-center  ba-th-normal">当前环节</th>
                                    <th class="text-center">招标文件查看</th>
                                    <th class="text-center">投标文件查看</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in viewModel.personalInfoModel.dataTaskList">
                                    <td class="text-center">{{(settings.paginationPersonalInfo.currentPage -1 )* settings.paginationPersonalInfo.itemsPerPage + $index + 1}}</td>
                                    <td class="text-center">{{item.createTime|date:'yyyy-MM-dd'}}</td>
                                    <td class="text-left"><a ng-click="apiHelper.openAuthorityUrl(item.purchaseUrl)" style="color:blue;">{{item.purchaseName}}</a></td>
                                    <td class="text-center">{{item.draftUserName}}</td>
                                    <td class="text-left"><p ng-bind-html="item.mainProblemClewDescribe | htmlContent"></p></td>
                                    <td class="text-left">
                                        <div ng-repeat="supplier in item.mainProblemSupplierList">
                                            <a ng-click="apiHelper.openAuthorityUrl(supplier.url)" style="color:blue;">{{supplier.name}};</a>
                                        </div>
                                    </td>
                                    <td class="text-center">{{item.abnormalLinkPhone}}</td>
                                    <td class="text-left">
                                        <div ng-repeat="purchase in item.relevancePurchaseList">
                                            <a ng-click="apiHelper.openAuthorityUrl(purchase.url)" style="color:blue;">{{purchase.name}};</a>
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <div ng-repeat="supplier in item.abnormalRelevanceSupplierList">
                                            <a ng-click="apiHelper.openAuthorityUrl(supplier.url)" style="color:blue;">{{supplier.name}};</a>
                                        </div>
                                    </td>
                                    <td class="text-right">{{item.costTargetAmountWithTax | number : 2 }}</td>
                                    <td class="text-center">{{item.currentLinkName}}</td>
                                    <td class="text-center">
                                        <a ng-if="item.biddingFileLookupUrl" ng-click="apiHelper.openAuthorityUrl(item.biddingFileLookupUrl)" style="color:blue;">查看招标文件</a>
                                    </td>
                                    <td class="text-center">
                                        <a ng-if="item.returnFileLookupUrl" ng-click="apiHelper.openAuthorityUrl(item.returnFileLookupUrl)" style="color:blue;">查看投标文件</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clearfix tab-content-pagination">
                            <div ng-if="settings.paginationPersonalInfo.itemsPerPage < settings.paginationPersonalInfo.totalItems" tm-pagination="settings.paginationPersonalInfo" class="fc-pagination pull-center ba-pagination"></div>
                            <div ng-if="settings.paginationPersonalInfo.totalItems == 0" class="text-center">暂无数据</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'views/common/foot-copyright.html'"></div>
</div>
<style>
    .ba-container {
        margin : 20px 15px 0 15px;
    }
    .ba-nav-ul {
        border-bottom: 1px solid rgba(22, 155, 213, 1);
    }
    .ba-nav-li {
        float: left;
        width: 140px;
        text-align: center;
        border: 1px solid rgba(204, 204, 204, 1);
        border-radius : 4px;
    }
    .ba-nav-active {
        background-color: rgba(22, 155, 213, 1);
        color: white;
    }
    .ba-nav-normal {
        background-color: white;
        color: black;
    }
    .ba-export {
        font-size: 12px;
        color: blue;
        margin-left: 20px;
        font-weight: bolder;
    }
    .ba-button {
        background-color: rgba(22, 155, 213, 1);
        width : 70px;
        text-align :center;
        color : white;
    }
    .ba-th-normal {
        width: 80px !important;
    }
    .ba-th-name {
        width: 100px !important;
    }
    .ba-pagination {
        width: 600px;
        margin: auto;
    }
</style>
