<style>
    .cursor {
        cursor: pointer;
    }
</style>
<div wf-title="title"></div>
<div class="staff-service">
    <div class="staff-service">
        <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
        <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/BiddingBusinessOperationsClarigyReplyWf" wf-collect-data-fn="collectData"></div>
        <!--工具栏结束-->
        <!--流程导航开始-->
        <div ng-include="'views/common/flow-nav.html'"></div>

        <!--流程导航结束-->
        <!--表单正文开始，打印-->
        <div class="container appil-container">
            <!--左侧导航-->
            <div ng-if="viewModel.formAction.actionStateCode==2 || viewModel.formAction.actionStateCode==3" left-nav opts="settings.leftNavListOpts" data="viewModel.navOption.navigationList"></div>
            <!--页面标题开始-->
            <div class="page-header clearfix">
                <span>{{title}}</span>
                <small>单据编号：{{viewModel.flowNumber}}</small>
            </div>
            <!--页面标题结束-->
            <div style="color:red; font-size:12px">
                <span>提示：</span><br>
                <span>1、请通知投标单位于“澄清截止时间”前在远洋官网反馈澄清答复文件与清标价格</span> <br>
                <span>2、如在澄清截止时间前，各供应商已答复完毕，可提前开始清标</span> <br>
                <span>3、如供应商不配合回复，可于下方进行放弃，供应商会收到邮件通知</span> <br>
            </div>
            <!--采购基本信息标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 采购基本信息</h4>
            <!--采购基本信息内容-->
            <div ng-include="'views/bidding/businessOperations/htmlTemplate/biddingBusinessOperationsBaseInfo.html'"></div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!--清标报告-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt" id=""></i> 清标报告</h4>
            <!--清标报告-->
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style=" width:5%;" class="table-thead text-center">序号</th>
                            <th class="table-thead text-center">清标人</th>
                            <th class="table-thead text-center">清标类型</th>
                            <th class="table-thead text-center">历史清标文件</th>
                            <th class="table-thead text-center">清标文件</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in viewModel.evaluationUserOpinion">
                            <td class="text-center">{{$index+1}}</td>
                            <td>{{obj.evaluationUser}}</td>
                            <td>{{obj.evaluationType}}</td>
                            <td>
                                <div ng-repeat="clarigyFile in obj.historyClarigyFileList">
                                    <p ng-repeat="file in clarigyFile.clientFileInformationList">
                                        <span wf-uploader files="[file]" opts="settings.fileOpts" ready="settings.fileReady" read-only="true"></span>
                                        <br />
                                    </p>
                                </div>
                            </td>
                            <td>
                                <p ng-repeat="file in obj.clarigyFile.clientFileInformationList">
                                    <span wf-uploader files="[file]" opts="settings.fileOpts" ready="settings.fileReady" read-only="true"></span>
                                    <br />
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!--发放澄清问卷标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt" id=""></i> 发放澄清问卷</h4>
            <!--发放澄清问卷内容-->
            <div class="form-inline">
                <div class="col-xs-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="回复截止时间">回复截止时间</label>
                    <div class="col-xs-4 col-sm-3 col-md-3 form-group baseifo-input">
                        <div date-time-picker date-time="viewModel.purchaseOfBusinessOperations.clarifyDeadline"></div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2 form-group baseifo-input">
                        <span><small style="color:red">修改回复截止时间后请保存</small></span>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style=" width:5%;" class="table-thead text-center">序号</th>
                            <th class="table-thead text-center">供应商名称</th>
                            <th class="table-thead text-center">验证码</th>
                            <th class="table-thead text-center">联系人邮箱</th>
                            <th class="table-thead text-center">商务澄清问卷</th>
                            <th class="table-thead text-center">技术澄清问卷</th>
                            <th class="table-thead text-center">回复状态</th>
                            <th class="table-thead text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="clarify in viewModel.clearBiddingClarifyInfoList|orderBy : 'supplierName' : false">
                            <td class="text-center">{{$index+1}}</td>
                            <td><span open-supplier-info supplier="clarify"></span></td>
                            <td>{{clarify.verificationCode}}</td>
                            <td>{{clarify.linkEmail}}</td>
                            <td>
                                <div wf-uploader files="clarify.businessClarifyFileList" read-only="true" opts="settings.fileOpts" ready="settings.fileReady"></div>
                            </td>
                            <td>
                                <div wf-uploader files="clarify.technologyClarifyFileList" read-only="true" opts="settings.fileOpts" ready="settings.fileReady"></div>
                            </td>
                            <td>
                                <span ng-if="!clarify.replyStateCode == null">--</span>
                                <span ng-if="clarify.replyStateCode != null">{{clarify.replyStateName}}</span>
                            </td>
                            <td class="text-center">
                                <button ng-if="clarify.replyStateCode===1" type="button" class="btn btn-default" ng-click="baseInfo.abandonClarifyReply(clarify)">放弃回复</button>
                                <span ng-if="clarify.replyStateCode!==1">--</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!-- 评论列表-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
            <div class="form-inline">
                <div class="form-inline">
                    <span sog-comment="opinions"></span>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--表单正文结束-->
        <!--页脚开始，不打印-->
        <div ng-include="'views/common/foot-copyright.html'"></div>
        <!--页脚结束-->
        <!--右侧通栏开始，不打印-->
        <div ng-include="'views/common/right-navigator.html'"></div>
    </div>
</div>
