<style>
    .cursor {
        cursor: pointer;
    }
</style>
<div wf-title="title"></div>
<div class="staff-service">
    <div class="staff-service">
        <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
        <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/BiddingBusinessOperationsBusinessEvaluateWf" wf-collect-data-fn="collectData"></div>
        <!--工具栏结束-->
        <!--流程导航开始-->
        <div ng-include="'views/common/flow-nav.html'"></div>

        <!--流程导航结束-->
        <!--表单正文开始，打印-->
        <div class="container appil-container">
            <!--左侧导航-->
            <div ng-if="viewModel.formAction.actionStateCode==2 || viewModel.formAction.actionStateCode==3" left-nav opts="settings.leftNavListOpts" data="viewModel.navOption.navigationList"></div>
            <!--页面标题开始-->
            <div class="page-header clearfix">
                <span>{{title}}</span>
                <small>单据编号：{{viewModel.flowNumber}}</small>
            </div>
            <!--页面标题结束-->
            <!--采购基本信息标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 采购基本信息</h4>
            <!--采购基本信息内容-->
            <div ng-include="'views/bidding/businessOperations/htmlTemplate/biddingBusinessOperationsBaseInfo.html'"></div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 开标信息</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="text-align:center;width:5%;" class="table-thead">序号</th>
                            <th style="text-align:center;" class="table-thead">供应商名称</th>
                            <th style="text-align:center;" class="table-thead">回标总价</th>
                            <th style="text-align:center;" class="table-thead">商务标</th>
                            <th style="text-align:center;" class="table-thead">技术标</th>
                            <th style="text-align:center;" class="table-thead">其他附件</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="supplier in viewModel.supplierReplyBiddingInfoSubmitList">
                            <td class="text-center">{{$index+1}}</td>
                            <td><span open-supplier-info supplier="supplier"></span></td>
                            <td style="text-align:center;">{{supplier.totalAmountWithTax|number:2}}</td>
                            <td style="text-align:center;">
                                <div wf-uploader files="supplier.businessFileList" opts="settings.fileopts" ready="settings.fileReady" read-only="true"></div>
                            </td>
                            <td style="text-align:center;">
                                <div wf-uploader files="supplier.technologyFileList" opts="settings.fileopts" ready="settings.fileReady" read-only="true"></div>
                            </td>
                            <td style="text-align:center;">
                                <div wf-uploader files="supplier.otherFileList" opts="settings.fileopts" ready="settings.fileReady" read-only="true"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>

            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 让利询价答复信息</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:5%;" class="table-thead text-center">序号</th>
                            <th class="table-thead text-center">环节</th>
                            <th class="table-thead text-center">信息项</th>
                            <th style="font-weight:normal;color:blue;" class="table-thead text-center" ng-repeat="supplier in viewModel.supplierScopeList|orderBy : 'supplierName' : false">{{supplier.supplierName}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="evaluate in viewModel.evaluateAMuList">
                            <td class="text-center" style="display:table-cell; vertical-align:middle;" rowspan="3">{{$index+1}}</td>
                            <td class="text-left" style="display:table-cell; vertical-align:middle;" rowspan="3">
                                <span ng-if="evaluate.round <= 1">首轮让利</span>
                                <span ng-if="evaluate.round > 1">第{{settings.numberToChinese(evaluate.round)}}轮让利</span>
                            </td>
                            <td class="text-left">让利总价</td>
                            <td class="text-right" ng-repeat="info in evaluate.supplierReplyBiddingInfoList|orderBy : 'supplierName' : false">
                                <span ng-if="info.afterDiscountAmount > 0">{{ info.afterDiscountAmount| number:2}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">让利文件</td>
                            <td class="text-left" ng-repeat="info in evaluate.supplierReplyBiddingInfoList|orderBy : 'supplierName' : false">
                                <p ng-repeat="file in info.grantDiscountEnquiryFileList">
                                    <span wf-uploader files="[file]" opts="settings.fileOpts" ready="settings.fileReady" read-only="true"></span>
                                    <br />
                                </p>
                            </td>
                        </tr>
                        <tr ng-repeat-end>
                            <td class="text-left">让利答复文件</td>
                            <td class="text-left" ng-repeat="info in evaluate.supplierReplyBiddingInfoList|orderBy : 'supplierName' : false">
                                <p ng-repeat="file in info.grantDiscountEnquiryReplyFileList">
                                    <span wf-uploader files="[file]" opts="settings.fileOpts" ready="settings.fileReady" read-only="true"></span>
                                    <br />
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>

            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 商务评标信息</h4>
            <!--综合评标法-->
            <div class="table-responsive" ng-if="viewModel.purchaseOfBusinessOperations.enquiryTypeCode == 2">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="text-align:center;width:5%;" class="table-thead">序号</th>
                            <th style="text-align:center;" class="table-thead">供应商名称</th>
                            <th style="text-align:center;" class="table-thead">首轮回标报价</th>
                            <th style="text-align:center;" class="table-thead">最新报价</th>
                            <th style="text-align:center;" class="table-thead">商务标原始得分</th>
                            <th style="text-align:center;" class="table-thead">商务标最终得分</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="supplier in viewModel.businessEvaluateBiddingInfoList">
                            <td class="text-center">{{$index+1}}</td>
                            <td><span open-supplier-info supplier="supplier"></span></td>
                            <td style="text-align:center;">
                                <span ng-show="supplier.totalAmountWithTax>0">{{supplier.totalAmountWithTax|number:2}}</span>
                            </td>
                            <td style="text-align:center;">
                                <span ng-show="supplier.finalQuoteAmountWithTax>0">{{supplier.finalQuoteAmountWithTax | number:2}}</span>
                            </td>
                            <td style="text-align:center;">
                                <input type="text" class="meeting input-type ng-pristine ng-valid text-right"
                                       wf-money opts="moneyOpts" ng-model="supplier.businessScore" placeholder="请输入">
                            </td>
                            <td style="text-align:center;">
                                <span ng-show="supplier.businessScale > 0">
                                    {{supplier.businessFinalScore = supplier.businessScale * supplier.businessScore * 0.01 |number:2}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--低价中标法-->
            <div class="table-responsive" ng-if="viewModel.purchaseOfBusinessOperations.enquiryTypeCode == 1">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="text-align:center;width:5%;" class="table-thead">序号</th>
                            <th style="text-align:center;" class="table-thead">供应商名称</th>
                            <th style="text-align:center;" class="table-thead">首轮回标报价</th>
                            <th style="text-align:center;" class="table-thead">最新报价</th>
                            <th style="text-align:center;" class="table-thead">名次</th>
                            <th style="text-align:center;" class="table-thead">备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="supplier in viewModel.businessEvaluateBiddingInfoList">
                            <td class="text-center">{{$index+1}}</td>
                            <td><span open-supplier-info supplier="supplier"></span></td>
                            <td style="text-align:center;">
                                <span ng-show="supplier.totalAmountWithTax>0">{{supplier.totalAmountWithTax|number:2}}</span>
                            </td>
                            <td style="text-align:center;">
                                <span ng-show="supplier.finalQuoteAmountWithTax>0">{{supplier.finalQuoteAmountWithTax | number:2}}</span>
                            </td>
                            <td style="text-align:center;">
                                <select sog-valide-status="开标方式" class="meeting" ng-model="supplier.ranking"
                                        ng-options="type.code as type.name for type in viewModel.businessOption"
                                        ng-selected="type.code == supplier.ranking">
                                    <option value="">请选择</option>
                                </select>
                            </td>
                            <td style="text-align:center;">
                                <input type="text" ng-model="supplier.remark" class="form-control meeting" maxlength="500"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>

            <!--附件标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt" id=""></i> 附件</h4>
            <!--附件内容-->
            <div class="form-inline">
                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="历史商务评标文件">历史商务评标文件</label>
                    <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                        <p ng-repeat="EvaluateFile in viewModel.historyBusinessEvaluateFileList|orderBy : 'round' : false">
                            <span ng-repeat="file in EvaluateFile.clientFileInformationList">
                                <span wf-uploader files="[file]" opts="settings.fileOpts" ready="settings.fileReady" read-only="true"></span><br />
                            </span>
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="商务评标文件">商务评标文件<span style="color:red;">*</span></label>
                    <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input" sog-valide-status="商务评标文件">
                        <span wf-uploader files="viewModel.businessEvaluateFile.clientFileInformationList" opts="settings.fileOpts" ready="settings.fileReady" read-only="false"></span>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!-- 评论列表-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
            <div class="form-inline">
                <div class="form-inline">
                    <span sog-comment="opinions"></span>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--表单正文结束-->
        <!--页脚开始，不打印-->
        <div ng-include="'views/common/foot-copyright.html'"></div>
        <!--页脚结束-->
        <!--右侧通栏开始，不打印-->
        <div ng-include="'views/common/right-navigator.html'"></div>
    </div>
</div>
