<style>
    .cursor {
        cursor: pointer;
    }

    .modal-dialog {
        width: 85% !important;
        margin: 30px auto;
    }
</style>
<div wf-title="title"></div>
<div class="staff-service">
    <div class="staff-service">
        <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
        <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/BiddingBusinessOperationsAwardWf" wf-collect-data-fn="collectData"></div>
        <!--工具栏结束-->
        <!--流程导航开始-->
        <div ng-include="'views/common/flow-nav.html'"></div>
        <!--流程导航结束-->
        <!--表单正文开始，打印-->
        <div class="container appil-container">
            <!--左侧导航-->
            <div ng-if="viewModel.formAction.actionStateCode==2 || viewModel.formAction.actionStateCode==3" left-nav opts="settings.leftNavListOpts" data="viewModel.navOption.navigationList"></div>
            <!--页面标题开始-->
            <div class="page-header clearfix">
                <span>{{title}}</span>
                <small>单据编号：{{viewModel.flowNumber}}</small>
            </div>
            <!--页面标题结束-->
            <!--采购基本信息标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 采购基本信息</h4>
            <!--采购基本信息内容-->
            <div ng-include="'views/bidding/businessOperations/htmlTemplate/biddingBusinessOperationsBaseInfo.html'"></div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <div sog-valide-status="合约规划">
                <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 合约规划<span style="color:red;">*</span></h4>
                <div contract-agreement-business opts="settings.contractAgreementOpts" data="viewModel.contractAgreementScopeList"></div>
                <div class="clearfix visible-xs-block visible-sm-block"></div>
                <div class="clearfix"></div>
            </div>

            <!--评标信息-->
            <h4 class="control-heading bg-info">
                <i class="glyphicon glyphicon-list-alt" id=""></i> 评标信息
                <small style="color:blue;padding-left:10px;cursor:pointer;" ng-click="baseInfo.lookInfo('biddingBusinessOperationsApplication')">查看招标基本信息</small>
                <small style="color:blue;padding-left:10px;cursor:pointer;" ng-click="baseInfo.lookInfo('biddingBusinessOperationsBusinessClarigy')">查看清标信息</small>
                <small style="color:blue;padding-left:10px;cursor:pointer;" ng-click="baseInfo.lookInfo('biddingBusinessOperationsEvaluateSummary')">查看评标信息</small>
            </h4>
            <button class="btn btn-primary" ng-click="baseInfo.addWinningBidSupplier()" style="cursor:pointer">+添加到中标</button>
            <!--综合评标法-->
            <div class="table-responsive" ng-if="viewModel.purchaseOfBusinessOperations.enquiryTypeCode == 2">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="text-align:center;width:5%;" class="table-thead"></th>
                            <th style="text-align:center;width:5%;" class="table-thead">序号</th>
                            <th style="text-align:center;" class="table-thead">供应商名称</th>
                            <th style="text-align:center;" class="table-thead">最新回标金额</th>
                            <th style="text-align:center;" class="table-thead">商务标原始得分</th>
                            <th style="text-align:center;" class="table-thead">商务标最终得分</th>
                            <th style="text-align:center;" class="table-thead">技术标原始得分</th>
                            <th style="text-align:center;" class="table-thead">技术标最终得分</th>
                            <th style="text-align:center;" class="table-thead">最终总得分</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="supplier in viewModel.summerEvaluateBiddingInfoList">
                            <td style="text-align:center;vertical-align:middle;">
                                <input type="checkbox" ng-model="supplier.checked" />
                            </td>
                            <td class="text-center">{{$index+1}}</td>
                            <td><span open-supplier-info supplier="supplier"></span></td>
                            <td style="text-align:center;">
                                <span ng-show="supplier.finalQuoteAmountWithTax>0">{{supplier.finalQuoteAmountWithTax|number:2}}</span>
                            </td>
                            <td style="text-align:center;"><span>{{supplier.businessScore}}</span></td>
                            <td style="text-align:center;"><span>{{supplier.businessScale * supplier.businessScore * 0.01|number:2}}</span></td>
                            <td style="text-align:center;"><span>{{supplier.technologyScore}}</span></td>
                            <td style="text-align:center;"><span>{{supplier.technologyScale * supplier.technologyScore * 0.01|number:2}}</span></td>
                            <td style="text-align:center;"><span>{{supplier.sumScore|number:2}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--低价中标法-->
            <div class="table-responsive" ng-if="viewModel.purchaseOfBusinessOperations.enquiryTypeCode == 1">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="text-align:center;width:5%;" class="table-thead"></th>
                            <th style="text-align:center;width:5%;" class="table-thead">序号</th>
                            <th style="text-align:center;" class="table-thead">供应商名称</th>
                            <th style="text-align:center;" class="table-thead">最新回标金额</th>
                            <th style="text-align:center;" class="table-thead">名次</th>
                            <th style="text-align:center;" class="table-thead">商务评标备注</th>
                            <th style="text-align:center;" class="table-thead">是否合格</th>
                            <th style="text-align:center;" class="table-thead">技术评标备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="supplier in viewModel.summerEvaluateBiddingInfoList">
                            <td style="text-align:center;vertical-align:middle;">
                                <input type="checkbox" ng-disabled="!supplier.isQualified" ng-model="supplier.checked" />
                            </td>
                            <td class="text-center">{{$index+1}}</td>
                            <td><span open-supplier-info supplier="supplier"></span></td>
                            <td style="text-align:center;">
                                <span ng-show="supplier.finalQuoteAmountWithTax>0">{{supplier.finalQuoteAmountWithTax|number:2}}</span>
                            </td>
                            <td style="text-align:center;"><span>{{supplier.ranking}}</span></td>
                            <td style="text-align:left;"><span>{{supplier.businessRemark}}</span></td>
                            <td style="text-align:center;">
                                <span ng-if="supplier.isQualified ==true">是</span>
                                <span ng-if="supplier.isQualified ==false">否</span>
                            </td>
                            <td style="text-align:left;"><span>{{supplier.technologyRemark}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>

            <!--中标情况-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 中标情况<span style="color:red;font-size:12pt;">*</span></h4>
            <button class="btn btn-danger" ng-click="baseInfo.deleteWinningBidSupplier()" style="cursor:pointer">-删除</button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="text-align:center;width:5%;" class="table-thead">
                                <input type="checkbox" ng-checked="baseInfo.select_all" ng-model="baseInfo.select_all" ng-change="baseInfo.selectAllContract(baseInfo.select_all)" />
                            </th>
                            <th style="text-align:center;width:5%;" class="table-thead">序号</th>
                            <th style="text-align:center;" class="table-thead">拟定中标供应商名称</th>
                            <th style="text-align:center;" class="table-thead">供应商行业领域</th>
                            <th style="text-align:center;" class="table-thead">合同甲方</th>
                            <th style="text-align:center;" class="table-thead">中标金额</th>
                            <th style="text-align:center;" class="table-thead">拟定合同名称</th>
                            <th style="text-align:center;" class="table-thead">所属合约</th>
                            <th style="text-align:center;" class="table-thead">合同经办人</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contract in viewModel.perSignContractInfoList">
                            <td style="text-align:center;vertical-align:middle;">
                                <input type="checkbox" ng-model="contract.checked" />
                            </td>
                            <td class="text-center">{{$index+1}}</td>
                            <td><span open-supplier-info supplier="contract"></span></td>
                            <td style="text-align:left;"><span>{{contract.industryDomainName}}</span></td>
                            <td style="text-align:center;">
                                <select class="meeting" ng-model="contract.corporationCode"
                                        ng-options="type.code as type.name for type in viewModel.option.corporationList"
                                        ng-selected="type.code == contract.corporationCode"
                                        ng-change="baseInfo.contractCorporationChange(contract, type)" style="width:150px;">
                                    <option value="">请选择</option>
                                </select>
                            </td>
                            <td style="text-align:center;">
                                <input type="text" wf-money opts="moneyOpts" class="meeting text-right" style="width:100px;" ng-model="contract.perSignContractAmount">
                            </td>
                            <td style="text-align:center;">
                                <input type="text" ng-model="contract.contractName" class="form-control meeting"  maxlength="200"/>
                            </td>
                            <td style="text-align:center;">
                                <a style="color:blue" ng-click="baseInfo.relatinCotractAgreement(contract)">关联</a>
                            </td>
                            <td style="text-align:center;">
                                <span sog-ogu-input="contract.operatorUser" opts="settings.peopleSelect"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!--附件标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 附件</h4>
            <!--附件内容-->
            <div class="form-inline">
                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="技术评标报告">技术评标报告</label>
                    <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                        <p ng-repeat="evaluateFile in viewModel.technologyEvaluateFileList">
                            <span ng-repeat="file in evaluateFile.clientFileInformationList">
                                <span wf-uploader files="[file]" opts="settings.fileOpts" ready="settings.fileReady" read-only="true"></span><br />
                            </span>
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="商务评标报告">商务评标报告</label>
                    <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                        <p ng-repeat="evaluateFile in viewModel.businessEvaluateFileList">
                            <span ng-repeat="file in evaluateFile.clientFileInformationList">
                                <span wf-uploader files="[file]" opts="settings.fileOpts" ready="settings.fileReady" read-only="true"></span><br />
                            </span>
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="定标报告">定标报告<span style="color:red;">*</span></label>
                    <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                        <span wf-uploader files="viewModel.awardReportFile" opts="settings.fileOpts" ready="settings.fileReady" read-only="false"></span>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="其他附件">其他附件</label>
                    <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                        <span wf-uploader files="viewModel.awardOtherFile" opts="settings.fileOpts" ready="settings.fileReady" read-only="false"></span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!--传阅标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 传阅</h4>
            <!--传阅内容-->
            <div class="form-inline">
                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="传阅人">传阅人</label>
                    <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input" sog-valide-status="传阅人">
                        <span sog-ogu-input="viewModel.circularizePersons" opts="userOpts"></span>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!-- 评论列表-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
            <div class="form-inline">
                <div class="form-inline">
                    <span sog-comment="opinions"></span>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="clearfix"></div>
            </div>
            <!-- 入围审批意见列表-->
            <div application-opinion data="viewModel.applicationApprovalOpinion" read-only="true" opinion-opts="opinionOpts"></div>
            <!-- 定标审批意见列表-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 定标审批</h4>
            <div class="form-inline">
                <span sog-simple-opinions="viewModel.awardApprovalOpinion"></span>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--表单正文结束-->
        <!--页脚开始，不打印-->
        <div ng-include="'views/common/foot-copyright.html'"></div>
        <!--页脚结束-->
        <!--右侧通栏开始，不打印-->
        <div ng-include="'views/common/right-navigator.html'"></div>
    </div>
</div>
