<div class="form-inline">
    <div class="col-xs-12 col-sm-12 col-md-12 form-group" ng-show="viewModel.purchaseBasePEMu.upstreamProcessGuideName">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="上游流程" style="text-align:right;">上游流程</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <span>{{viewModel.purchaseBasePEMu.upstreamProcessGuideName}}</span>
            <span ng-show="viewModel.purchaseBasePEMu.upstreamProcessURL != ''">/</span>
            <div ng-show="viewModel.purchaseBasePEMu.upstreamProcessURL != ''" open-extra-link extra-link="viewModel.purchaseBasePEMu.upstreamProcessURL" extra-name="viewModel.purchaseBasePEMu.upstreamProcessName"></div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right;display:block;height:54px;line-height:54px;" title="是否涉及项目系统建设">是否涉及项目系统建设<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <div class="switch-btn-box" sog-valide-status="是否涉及项目系统建设">
                <div class="btn checkbox-label-not" style="width:49%;"
                     ng-class="{'checkbox-label-this':viewModel.purchaseOfNotProjectPEMu.isInvolveITConstruction==true}">是</div>
                <div class="btn checkbox-label-not" style="width:49%;"
                     ng-class="{'checkbox-label-this':viewModel.purchaseOfNotProjectPEMu.isInvolveITConstruction==false}">否</div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 form-group">
                <span style="color:red;">提示：若涉及信息系统建设业务，请走信息系统建设流程发起采购，否则无法发起合同！</span>
            </div>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="settings.isApproval">
        <label class="col-xs-6 control-label text-right" title="支出类型">支出类型</label>
        <div class="col-xs-6 form-group baseifo-input">
            <div>{{viewModel.purchaseBasePEMu.expenditureTypeName}}</div>
        </div>
    </div>
    <div class="clearfix "></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="是否涉及项目">是否涉及项目<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <div class="switch-btn-box" sog-valide-status="是否涉及项目">
                <div class="btn checkbox-label-not" style="width:49%;"
                     ng-class="{'checkbox-label-this':viewModel.purchaseOfNotProjectPEMu.isInvolveProject==true}">是</div>
                <div class="btn checkbox-label-not" style="width:49%;"
                     ng-class="{'checkbox-label-this':viewModel.purchaseOfNotProjectPEMu.isInvolveProject==false}">否</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-show="viewModel.purchaseOfNotProjectPEMu.isInvolveProject==true">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="项目名称">项目名称<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchaseOfNotProjectPEMu.projectName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="预计采购金额（元）">预计采购金额（元）<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <span ng-if="sceneId != 'Draft'">{{viewModel.purchaseBasePEMu.perPurchaseAmount|number:2}}</span>
            <div ng-if="sceneId == 'Draft'" wf-money opts="baseInfo.moneyOpts" class="meeting" ng-model="viewModel.purchaseBasePEMu.perPurchaseAmount" ng-blur="baseInfo.purchaseAmountChange()"></div>
        </div>
    </div>
    <div class="clearfix "></div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="招标人">招标人<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.corporationNames}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <div ng-if="settings.isApproval">
            <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="记账公司">记账公司<span style="color:red;">*</span></label>
            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                {{viewModel.purchaseOfNotProjectPEMu.chargeCompanyName}}
            </div>
        </div>
        <div ng-if="!settings.isApproval">
            <label class="col-xs-6 control-label" title="指合同的列支记账公司" style="text-align:right" ng-show="viewModel.isUseCostCenter">记账公司<span style="color:red;">*</span></label>
            <label class="col-xs-6 control-label" title="记账公司" style="text-align:right" ng-show="!viewModel.isUseCostCenter">记账公司<span style="color:red;">*</span></label>
            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                {{viewModel.purchaseOfNotProjectPEMu.chargeCompanyName}}
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <div ng-if="settings.isApproval">
            <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="成本中心">成本中心<span style="color:red;">*</span></label>
            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                {{viewModel.purchaseOfNotProjectPEMu.costCenterName}}
            </div>
        </div>
        <div ng-if="!settings.isApproval">
            <label class="col-xs-6 control-label" title="指合同的列支成本中心" style="text-align:right" ng-show="viewModel.isUseCostCenter">成本中心<span style="color:red;">*</span></label>
            <label class="col-xs-6 control-label" title="成本中心" style="text-align:right" ng-show="!viewModel.isUseCostCenter">成本中心<span style="color:red;">*</span></label>
            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                {{viewModel.purchaseOfNotProjectPEMu.costCenterName}}
            </div>
        </div>
    </div>
    <div class="clearfix "></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="是否重大诉讼">是否重大诉讼<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <div class="switch-btn-box" sog-valide-status="是否重大诉讼">
                <div class="btn checkbox-label-not" style="width:49%;"
                     ng-class="{'checkbox-label-this':viewModel.purchaseOfNotProjectPEMu.isGreatLawsuit==true}">是</div>
                <div class="btn checkbox-label-not" style="width:49%;"
                     ng-class="{'checkbox-label-this':viewModel.purchaseOfNotProjectPEMu.isGreatLawsuit==false}">否</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="是否法务类">是否法务类<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <div class="switch-btn-box" sog-valide-status="是否法务类">
                <div class="btn checkbox-label-not" style="width:49%;"
                     ng-class="{'checkbox-label-this':viewModel.purchaseOfNotProjectPEMu.isLegal==true}">是</div>
                <div class="btn checkbox-label-not" style="width:49%;"
                     ng-class="{'checkbox-label-this':viewModel.purchaseOfNotProjectPEMu.isLegal==false}">否</div>
            </div>
        </div>
    </div>
    <div class="clearfix "></div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="采购名称" style="text-align:right;">采购名称<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input" sog-valide-status="采购名称">
            <div ng-if="settings.isApproval">
                <span ng-show="!viewModel.isUseCostCenter || (viewModel.isUseCostCenter && !viewModel.isMutiUseCostCenter)">{{viewModel.purchaseBasePEMu.purchaseName}}</span>
                <div mulit-workflow data="viewModel.purchaseBasePEMu" opts="settings.linkName" ng-show="viewModel.isUseCostCenter && viewModel.isMutiUseCostCenter"></div>
            </div>
            <div ng-if="!settings.isApproval">
                <div ng-if="!settings.isDraftReadOnly || (settings.isDraftReadOnly && !viewModel.isUseCostCenter) || (settings.isDraftReadOnly && viewModel.isUseCostCenter && !viewModel.isMutiUseCostCenter)">{{viewModel.purchaseBasePEMu.purchaseName}}</div>
                <div ng-if="settings.isDraftReadOnly && viewModel.isUseCostCenter && viewModel.isMutiUseCostCenter">
                    <div mulit-workflow data="viewModel.purchaseBasePEMu" opts="settings.linkName"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix "></div>
    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="本次招标范围和内容" style="text-align:right;">
            本次招标范围和内容<span style="color:red;">*</span>
            <br />
            <span style="color:red;font-size:9pt;font-weight:bold;">外网供应商可见，请谨慎填写！</span>
        </label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <p ng-bind-html="viewModel.purchaseOfNotProjectPEMu.purchaseContent | htmlContent"></p>
        </div>
    </div>
    <div class="clearfix "></div>
    <div class="col-xs-12 col-sm-12 col-md-12 form-group" ng-show="baseInfo.isAllSupplierFinalQuoteAmount">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right" title="合计中标金额">合计中标金额<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            {{viewModel.purchaseBasePEMu.purchaseAmount | number:2}}
        </div>
    </div>
    <div class="clearfix "></div>
</div>