<div>
    <h4 class="control-heading bg-info">
        <i class="glyphicon glyphicon-list-alt"></i> 入围审批
        <input ng-if="isShowApplicationOpinion"
               type="button" style="margin-left:82%;font-weight:900;background-color:#d9edf7;" name="name" value="收起" class="btn" ng-click="hideApplicationOpinion()" />
    </h4>
    <div class="form-inline">
        <input ng-if="!isShowApplicationOpinion"
               type="button" style="font-weight:900;color:blue;text-decoration: underline;" name="name" value="展开查看入围审批记录" class="btn" ng-click="showApplicationOpinion()" />
        <span ng-if="isShowApplicationOpinion" sog-simple-opinions="data"></span>
        <!--<input ng-if="isShowApplicationOpinion && !readOnly" wf-opinions opinions-opts="opinionOpts" opinions="data" predefined-opinions="predefinedOpinions" user-predefined-opinions="userPredefinedOpinions" />--> 
        <div class="clearfix"></div>
    </div> 
</div>