<style>
    .angucomplete-holder {
        position: relative;
    }

    .angucomplete-dropdown {
        border-color: #ececec;
        border-width: 1px;
        border-style: solid;
        border-radius: 2px;
        padding: 6px;
        cursor: pointer;
        z-index: 9999;
        position: absolute;
        background-color: #ffffff;
        max-height: 500px;
        overflow-y: auto;
        width: 100%;
    }

    .angucomplete-row {
        padding: 5px;
        color: #000000;
        width: 100%;
        border-radius: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .angucomplete-selected-row, .angucomplete-row:hover {
            background-color: lightblue;
            color: #ffffff;
        }
</style>
<div class="angucomplete-holder" ng-if="data.inputType===1">
    <input ng-model="data.searchStr" type="text" placeholder="请输入" class="meeting" ng-keyup="option.keyPressed()" ng-focus="option.showResults()" ng-blur="option.hideResults()" />
    <div class="angucomplete-dropdown" ng-if="data.showDropdown">
        <div class="angucomplete-row" title="{{item}}" ng-repeat="item in data.searchList" ng-mousedown="option.select(item)">
            {{item}}
        </div>
    </div>
</div>
<div class="angucomplete-holder" ng-if="data.inputType===2">
    <input ng-model="data.searchStr" type="text" placeholder="请输入" class="meeting" ng-keyup="option.keyPressed()" ng-focus="option.showResults()" ng-blur="option.hideResults()" />
    <div class="angucomplete-dropdown" ng-if="data.showDropdown">
        <div class="angucomplete-row" title="{{item.name}}" ng-repeat="item in data.searchList" ng-mousedown="option.select(item)">
            {{item.name}}
        </div>
        <span ng-if="data.searchStr ==='' && option.isExtendShow">&nbsp;&nbsp;......</span>
    </div>
</div>