<div>
    <div ng-if="isEdit">
        <div ng-show="opts.fileId == '' || opts.fileId == null"><button ng-click="openGlodonFileModal()" class="btn" style="background-color:#00B7EE;color:white">选择</button></div>
        <div ng-show="opts.fileId != '' && opts.fileId != null">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <span open-glodon-link opt="linkOpt"></span>&nbsp;&nbsp;
                <button ng-click="deleteDetail()" class="btn btn-danger">取消选择</button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8" style="color:red;text-align:right"><i>注意：如需修改清单，请取消选择后在广联达清单系统中进行修改，修改完毕后重新添加</i></div>
        </div>
    </div>
    <div ng-if="!isEdit">
        <span open-glodon-link opt="linkOpt"></span>
    </div>
</div>
