<nav class="root" id="leftnav">
    <div class="section-nav-head-flag">
        <span class="flag"></span>
    </div>
    <ul class="section-nav nav" ng-style="ulHeight">
        <li ng-repeat="item in data"  ng-style="liHeight">
            <a ng-click="lookInfo(item)">
                <div ng-if="item.sceneName==opts.scene" class="section-nav-direction-l">
                    <div class="section-nav-flag-wrapper" style="background:rgb(243, 88, 114)">
                        <span style="color:#fff;" class="flag">{{item.name}}</span>
                    </div>
                </div>
                <div ng-if="item.sceneName!=opts.scene" class="section-nav-direction-l">
                    <div class="section-nav-flag-wrapper">
                        <span class="flag">{{item.name}}</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div class="section-nav-tail-flag">
        <span class="flag"></span>
    </div>
</nav>
<style>
    .root {
        margin-top:20px;
        width: 300px;
        height: 1000px;
        margin-left: -260px;
        position: fixed;
    }

    .section-nav {
        position: relative;
        margin: 59px auto 0 auto;
        padding: 20px;
        list-style-type: none;
    }

        .section-nav:before {
            position: absolute;
            left: 255px;
            top: 0;
            content: ' ';
            display: block;
            width: 3px;
            height: 100%;
            margin-left: -3px;
            background: #ddd;
            z-index: 5;
        }

        .section-nav .none-li:before {
            position: absolute;
            top: 50%;
            right: -17.5px;
            content: ' ';
            display: block;
            width: 6px;
            height: 6px;
            margin-top: -4px;
            background: #ddd;
            border-radius: 10px;
            border: 4px solid #ddd;
            z-index: 10;
        }

        .section-nav li::after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

    .section-nav-direction-l {
        position: relative;
        width: 220px;
        float: left;
        text-align: right;
        padding: 0;
    }

        .section-nav-direction-l .time-wrapper {
            float: left;
        }


    .section-nav > li > a {
        padding: 0;
    }

    .section-nav-flag-wrapper {
        position: relative;
        display: inline-block;
        text-align: center;
    }

        .section-nav-flag-wrapper .flag {
            color: #999;
        }


    /*.section-nav .active .section-nav-flag-wrapper .flag {
        position: relative;
        display: inline;
        background: rgb(243, 88, 114);
        padding: 4px 7px;
        text-align: left;
        color: #fff;
    }*/

    .section-nav-direction-l .flag:before {
        position: absolute;
        top: 50%;
        right: -17.7px;
        content: ' ';
        display: block;
        width: 6px;
        height: 6px;
        margin-top: -4px;
        background: #ddd;
        border-radius: 10px;
        border: 4px solid #ddd;
        z-index: 10;
    }

    .section-nav-head-flag {
        position: fixed;
        display: inline-block;
        width: 240px;
        text-align: right;
        margin-top: 54px;
    }

    .section-nav-tail-flag {
        position: fixed;
        display: inline-block;
        width: 240px;
        text-align: right;
        margin-top: 4px;
    }

        .section-nav-head-flag .flag:before,
        .section-nav-tail-flag .flag:before {
            position: absolute;
            top: 50%;
            right: -18.5px;
            content: ' ';
            display: block;
            width: 10px;
            height: 10px;
            margin-top: -4px;
            border-radius: 10px;
            border: 2px solid #ddd;
            z-index: 10;
        }

    @media screen and (max-width: 1024px) {
        .section-nav {
            display: none;
        }

        .section-nav-head-flag {
            display: none;
        }

        .section-nav-tail-flag {
            display: none;
        }
    }
</style>

