<!--查看审批流-->
<div class="table-responsive" style="padding:10px;">
    <table class="table table-striped table-bordered table-responsive">
        <thead>
            <tr>
                <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                <th class="table-thead" style="text-align:center;">是否主审批流</th>
                <th class="table-thead" style="text-align:center;">使用成本中心</th>
                <th class="table-thead" style="text-align:center;">单据地址</th>
                <th class="table-thead" style="text-align:center;">当前待办人</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in multiWorkflowList">
                <td class="text-center">{{$index+1}}</td>
                <td class="text-center">
                    <span ng-if="item.resourceID === item.mainResourceID">是</span>
                    <span ng-if="item.resourceID != item.mainResourceID">否</span>
                </td>
                <td class="text-center">{{item.useCostCenterName}}</td>
                <td class="text-center">
                    <div open-extra-link extra-link="item.approvalUrl" extra-name="item.approvalTitle"></div>
                </td>
                <td class="text-center">{{item.taskUser}}</td>
            </tr>
        </tbody>
    </table>
</div>