<div class="table-responsive" ng-switch="opts.actionTypeCode">
    <!--默认通用-->
    <div ng-switch-default>
        <button ng-if="!readonly" ng-click="addDetail()" class="btn btn-primary" style="cursor:pointer">+增加</button>
        <span></span>
        <button ng-if="!readonly" ng-click="deleteDetail()" class="btn btn-danger" style="cursor:pointer">-删除</button>
        <!--非项目服务类-申请-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='application' && readonly!==true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;">
                        <input type="checkbox" ng-checked="select_all" ng-model="select_all" ng-change="selectAll(select_all)" ng-if="!opts.isUpstreamReadOnly">
                        <input type="checkbox" ng-model="select_all" disabled="disabled" ng-if="opts.isUpstreamReadOnly">
                    </th>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data | orderBy:'sortNo'">
                    <td style="text-align:center;vertical-align:middle;">
                        <input type="checkbox" ng-model="item.checked" ng-change="selectOne(item.checked)" ng-if="item.modifier != 'notModifyLine'">
                        <input type="checkbox" ng-model="item.checked" disabled="disabled" ng-if="item.modifier == 'notModifyLine'">
                    </td>
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td ng-if="!readonly" class="text-right">
                        <div ng-if="item.modifier != 'notModifyLine'">
                            <input sog-valide-status="委托信息第{{$index+1}}行，直接委托金额(元)" wf-money opts="baseInfo.moneyOpts" class="meeting input-type ng-pristine ng-valid text-right" ng-model="item.delegationAmount" ng-blur="getPurchaseAmount()" />
                        </div>
                        <div ng-if="item.modifier == 'notModifyLine'">{{item.delegationAmount|number:2}}</div>
                    </td>
                    <td class="text-center" ng-if="!readonly">
                        <!--<div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" search-single-supplier opts="supplierOpts" index="$index" data="item"></div>-->
                        <!--<div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" select-supplier-info opts="supplierOpts" index="$index" data="item"></div>-->
                        <div ng-if="item.modifier != 'notModifyLine'" sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" fuzzy-query-supplier opts="supplierOpts" index="$index" data="item"></div>
                        <div ng-if="item.modifier == 'notModifyLine'">
                            <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                        </div>
                    </td>
                    <td class="text-center">
                        {{item.industryDomainName}}
                    </td>
                    <td class="text-center">
                        <div sog-valide-status="委托信息第{{$index+1}}行，合同经办人">
                            <span opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--非项目服务类-只读-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='application'&& readonly===true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data | orderBy:'sortNo'">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td>
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName}}
                    </td>
                    <td class="text-center">
                        <span ng-if="item.operatorUser != null" opts="operatorSelect" wf-user-presence="item.operatorUser"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--非项目服务类-发起合同订立-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='startupContractEdit'&& readonly===true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data | orderBy:'sortNo'">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td>
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName}}
                    </td>
                    <td class="text-center">
                        <span opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--非项目服务类-已办结-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='startupContract' && readonly===true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                    <th class="table-thead" style="text-align:center;" ng-if="isSuccess">合同状态</th>
                    <th class="table-thead" style="text-align:center;" ng-if="isSuccess">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data | orderBy:'sortNo'">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td>
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName}}
                    </td>
                    <td class="text-center">
                        <div sog-valide-status="委托信息第{{$index+1}}行，合同经办人">
                            <span ng-if="!isSuccess ||(item.contractStateCode!==2 && item.contractStateCode!==0)===true" opts="operatorSelect" wf-user-presence="item.operatorUser"></span>
                            <span ng-if="isSuccess && (item.contractStateCode===2 || item.contractStateCode===0)===true" opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                        </div>
                    </td>
                    <td ng-show="isSuccess" class="text-center">
                        <span>{{item.contractStateName}}</span>
                    </td>
                    <td ng-show="isSuccess" class="text-center">
                        <a ng-if="(item.contractStateCode!==2 && item.contractStateCode!==0)===true" style="color:blue;" ng-click="lookContarctInfo(item)">查看详情</a>
                        <button ng-if="(item.contractStateCode===2 || item.contractStateCode===0)===true && opts.actionStateCode==2" class="btn btn-primary" style="cursor:pointer;color:white;" ng-click="reStartContract(item)">重新发起</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--固定资产类-->
    <div ng-switch-when="2">
        <button ng-if="!readonly" ng-click="addDetail()" class="btn btn-primary" style="cursor:pointer">+增加</button>
        <span></span>
        <button ng-if="!readonly" ng-click="deleteDetail()" class="btn btn-danger" style="cursor:pointer">-删除</button>
        <!--固定资产类-申请-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='application' && readonly!==true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;">
                        <input type="checkbox" ng-checked="select_all" ng-model="select_all" ng-change="selectAll(select_all)">
                    </th>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">采购内容</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td style="text-align:center;vertical-align:middle;">
                        <input type="checkbox" ng-model="item.checked" ng-change="selectOne(item.checked)">
                    </td>
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td ng-if="!readonly">
                        <input sog-valide-status="委托信息第{{$index+1}}行，直接委托金额(元)" wf-money opts="baseInfo.moneyOpts" class="meeting input-type ng-pristine ng-valid text-right" ng-model="item.delegationAmount" ng-blur="getPurchaseAmount()" />
                    </td>
                    <td class="text-center" ng-if="!readonly">
                        <!--<div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" search-single-supplier opts="supplierOpts" index="$index" data="item"></div>-->
                        <!--<div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" select-supplier-info opts="supplierOpts" index="$index" data="item"></div>-->
                        <div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" fuzzy-query-supplier opts="supplierOpts" index="$index" data="item"></div>
                    </td>
                    <td>
                        {{item.industryDomainName}}
                    </td>
                    <td>
                        <div sog-valide-status="委托信息第{{$index+1}}行，采购内容" search-fixed-assets opts="fixedAssetsOpts" index="$index" data="item"></div>
                    </td>
                    <td class="text-center">
                        <div sog-valide-status="委托信息第{{$index+1}}行，合同经办人">
                            <span opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--固定资产类-只读-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='application'&& readonly===true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">采购内容</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td>
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName}}
                    </td>
                    <td>
                        <div search-fixed-assets opts="fixedAssetsOpts" index="$index" data="item" read-only="true"></div>
                    </td>
                    <td class="text-center">
                        <span ng-if="item.operatorUser != null" opts="operatorSelect" wf-user-presence="item.operatorUser"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--固定资产类-发起合同订立-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='startupContractEdit'&& readonly===true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">采购内容</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td>
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName}}
                    </td>
                    <td>
                        <div search-fixed-assets opts="fixedAssetsOpts" index="$index" data="item" read-only="true"></div>
                    </td>
                    <td class="text-center">
                        <span opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--固定资产类-已办结-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='startupContract' && readonly===true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">采购内容</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                    <th class="table-thead" style="text-align:center;" ng-if="isSuccess">合同状态</th>
                    <th class="table-thead" style="text-align:center;" ng-if="isSuccess">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td>
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName}}
                    </td>
                    <td>
                        <div search-fixed-assets opts="fixedAssetsOpts" index="$index" data="item" read-only="true"></div>
                    </td>
                    <td ng-if="item.contractStateCode!=2 && item.contractStateCode!=0" class="text-center">
                        <span opts="operatorSelect" wf-user-presence="item.operatorUser"></span>
                    </td>
                    <td ng-if="item.contractStateCode==2 || item.contractStateCode==0" class="text-center">
                        <div sog-valide-status="委托信息第{{$index+1}}行，合同经办人">
                            <span opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                        </div>
                    </td>
                    <td ng-if="isSuccess" class="text-center">
                        <span>{{item.contractStateName}}</span>
                    </td>
                    <td ng-if="isSuccess && item.contractStateCode!=2 && item.contractStateCode!=0" class="text-center">
                        <a style="color:blue;" ng-click="lookContarctInfo(item)">查看详情</a>
                    </td>
                    <td ng-if="isSuccess && (item.contractStateCode==2 || item.contractStateCode==0) && opts.actionStateCode==2" class="text-center">
                        <button class="btn btn-primary" style="cursor:pointer;color:white;" ng-click="reStartContract(item)">重新发起</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--工程采购类-->
    <div ng-switch-when="5">
        <div ng-if="opts.isNeedContract===true">
            <!--工程采购-申请-->
            <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='application' && readonly!==true">
                <thead>
                    <tr>
                        <th class="table-thead text-center">
                            <input type="checkbox" ng-checked="select_all" ng-model="select_all" ng-change="selectAll(select_all)">
                        </th>
                        <th class="table-thead text-center">序号</th>
                        <th class="table-thead text-center">直接委托金额(元)</th>
                        <th class="table-thead text-center">直接委托供应商</th>
                        <th class="table-thead text-center">行业领域</th>
                        <th class="table-thead text-center">关联的战采协议</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data">
                        <td class="text-center">
                            <input type="checkbox" ng-model="item.checked" ng-change="selectOne(item.checked)">
                        </td>
                        <td class="text-center">
                            {{$index+1}}
                        </td>
                        <td>
                            <input sog-valide-status="委托信息第{{$index+1}}行，直接委托金额(元)" type="text" class="meeting input-type ng-pristine ng-valid text-right" ng-blur="getPurchaseAmount()"
                                   wf-money opts="moneyOpts" ng-model="item.delegationAmount" placeholder="请输入">
                        </td>
                        <td class="text-center">
                            <!--<div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" search-single-supplier opts="supplierOpts" index="$index" data="item"></div>-->
                            <!--<div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" select-supplier-info opts="supplierOpts" index="$index" data="item"></div>-->
                            <div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" fuzzy-query-supplier opts="supplierOpts" index="$index" data="item"></div>
                        </td>
                        <td>
                            {{item.industryDomainName}}
                        </td>
                        <td>
                            <div sog-valide-status="委托信息第{{$index+1}}行，关联的战采协议" select-strategy-purchase-agreement-info opts="strategyPurchaseAgreementInfoOpts" data="item"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--工程采购-申请只读-->
            <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='application' && readonly===true">
                <thead>
                    <tr>
                        <th class="table-thead text-center">序号</th>
                        <th class="table-thead text-center">直接委托金额(元)</th>
                        <th class="table-thead text-center">直接委托供应商</th>
                        <th class="table-thead text-center">行业领域</th>
                        <th class="table-thead text-center">关联的战采协议</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data">
                        <td class="text-center">
                            {{$index+1}}
                        </td>
                        <td class="text-right">
                            {{item.delegationAmount|number:2}}
                        </td>
                        <td>
                            <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                        </td>
                        <td>
                            {{item.industryDomainName}}
                        </td>
                        <td>
                            {{item.strategyPurchaseAgreementInfoName}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="opts.isNeedContract===false">
            <!--工程采购-申请-->
            <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='application' && readonly!==true">
                <thead>
                    <tr>
                        <th class="table-thead text-center">
                            <input type="checkbox" ng-checked="select_all" ng-model="select_all" ng-change="selectAll(select_all)">
                        </th>
                        <th class="table-thead text-center">序号</th>
                        <th class="table-thead text-center">直接委托金额(元)</th>
                        <th class="table-thead text-center">直接委托供应商</th>
                        <th class="table-thead text-center">行业领域</th>
                        <th class="table-thead text-center">关联的战采协议</th>
                        <th class="table-thead text-center">所属合同</th>
                        <th class="table-thead text-center">认价单</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data">
                        <td class="text-center">
                            <input type="checkbox" ng-model="item.checked" ng-change="selectOne(item.checked)">
                        </td>
                        <td>
                            {{$index+1}}
                        </td>
                        <td>
                            <input sog-valide-status="委托信息第{{$index+1}}行，直接委托金额(元)" type="text" class="meeting input-type ng-pristine ng-valid text-right" ng-blur="getPurchaseAmount()"
                                   wf-money opts="moneyOpts" ng-model="item.delegationAmount" placeholder="请输入">
                        </td>
                        <td>
                            <!--<div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" search-single-supplier opts="supplierOpts" index="$index" data="item"></div>-->
                            <!--<div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" select-supplier-info opts="supplierOpts" index="$index" data="item"></div>-->
                            <div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" fuzzy-query-supplier opts="supplierOpts" index="$index" data="item"></div>
                        </td>
                        <td>
                            {{item.industryDomainName}}
                        </td>
                        <td>
                            <div sog-valide-status="委托信息第{{$index+1}}行，关联的战采协议" select-strategy-purchase-agreement-info opts="strategyPurchaseAgreementInfoOpts" data="item"></div>
                        </td>
                        <td>
                            <div sog-valide-status="委托信息第{{$index+1}}行，所属合同"
                                 contract data="item.flagContract" read-only="false" project="item.project"></div>
                        </td>
                        <td sog-valide-status="委托信息第{{$index+1}}行，认价单">
                            <span wf-uploader files="item.priceFile" opts="priceFileOpts" ready="priceFileReady" read-only="false"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--工程采购-申请只读-->
            <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='application' && readonly===true">
                <thead>
                    <tr>
                        <th class="table-thead text-center">序号</th>
                        <th class="table-thead text-center">直接委托金额(元)</th>
                        <th class="table-thead text-center">直接委托供应商</th>
                        <th class="table-thead text-center">行业领域</th>
                        <th class="table-thead text-center">关联的战采协议</th>
                        <th class="table-thead text-center">所属合同</th>
                        <th class="table-thead text-center">认价单</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data">
                        <td class="text-center">
                            {{$index+1}}
                        </td>
                        <td class="text-right">
                            {{item.delegationAmount|number:2}}
                        </td>
                        <td>
                            <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                        </td>
                        <td>
                            {{item.industryDomainName }}
                        </td>
                        <td>
                            {{item.strategyPurchaseAgreementInfoName}}
                        </td>
                        <td>
                            {{item.flagContractName}}
                        </td>
                        <td>
                            <span wf-uploader files="item.priceFile" opts="priceFileOpts" ready="priceFileReady" read-only="true"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--工程采购-发起合同-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='startupContract' && readonly!==true">
            <thead>
                <tr>
                    <th class="table-thead text-center">序号</th>
                    <th class="table-thead text-center">直接委托供应商</th>
                    <th class="table-thead text-center">行业领域</th>
                    <th class="table-thead text-center">报送金额</th>
                    <th class="table-thead text-center">初审金额</th>
                    <th class="table-thead text-center">复审审定金额</th>
                    <th class="table-thead text-center">合同签订金额</th>
                    <th class="table-thead text-center">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td>
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName }}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td class="text-right">
                        <span ng-show="item.firstTrialAmount"><a style="color:blue;" ng-click="openFirstTrial();">{{item.firstTrialAmount|number:2}}</a></span>
                        <span ng-hide="item.firstTrialAmount">--</span>
                    </td>
                    <td class="text-right">
                        <span ng-show="item.reTrialJudgementAmount"><a style="color:blue;" ng-click="openReTrial();">{{item.reTrialJudgementAmount|number:2}}</a></span>
                        <span ng-hide="item.reTrialJudgementAmount">--</span>
                    </td>
                    <td class="text-right">
                        {{item.contractAmount|number:2}}
                    </td>
                    <td class="text-center">
                        <div sog-valide-status="委托信息第{{$index+1}}行，合同经办人">
                            <span opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--工程采购-发起合同只读-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='startupContract' && readonly===true">
            <thead>
                <tr>
                    <th class="table-thead text-center">序号</th>
                    <th class="table-thead text-center">直接委托供应商</th>
                    <th class="table-thead text-center">行业领域</th>
                    <th class="table-thead text-center">报送金额</th>
                    <th class="table-thead text-center">初审金额</th>
                    <th class="table-thead text-center">复审审定金额</th>
                    <th class="table-thead text-center">合同签订金额</th>
                    <th class="table-thead text-center">合同经办人</th>
                    <th class="table-thead text-center">合同状态</th>
                    <th class="table-thead text-center">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td>
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName }}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td class="text-right">
                        <span ng-show="item.firstTrialAmount"><a style="color:blue;" ng-click="openFirstTrial();">{{item.firstTrialAmount|number:2}}</a></span>
                        <span ng-hide="item.firstTrialAmount">--</span>
                    </td>
                    <td class="text-right">
                        <span ng-show="item.reTrialJudgementAmount"><a style="color:blue;" ng-click="openReTrial();">{{item.reTrialJudgementAmount|number:2}}</a></span>
                        <span ng-hide="item.reTrialJudgementAmount">--</span>
                    </td>
                    <td class="text-right">
                        {{item.contractAmount|number:2}}
                    </td>
                    <td class="text-center">
                        <div sog-valide-status="委托信息第{{$index+1}}行，合同经办人">
                            <span ng-if="(!isSuccess ||(item.contractStateCode!==2 && item.contractStateCode!==0)===true) && item.operatorUser" opts="operatorSelect" wf-user-presence="item.operatorUser"></span>
                            <span ng-if="isSuccess && (item.contractStateCode===2 || item.contractStateCode===0)===true" opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                        </div>
                    </td>
                    <td>
                        {{item.contractStateName}}
                    </td>
                    <td class="text-center">
                        <a ng-if="(item.contractStateCode!==2 && item.contractStateCode!==0)===true" style="color:blue;" ng-click="lookContarctInfo(item)">查看详情</a>
                        <button ng-if="(item.contractStateCode===2 || item.contractStateCode===0)===true && opts.actionStateCode==2" class="btn btn-primary" style="cursor:pointer;color:white;" ng-click="reStartContract(item)">重新发起</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--项目定义类-->
    <div ng-switch-when="4">
        <button ng-if="!readonly" ng-click="addDetail()" class="btn btn-primary" style="cursor:pointer">+增加</button>
        <span></span>
        <button ng-if="!readonly" ng-click="deleteDetail()" class="btn btn-danger" style="cursor:pointer">-删除</button>
        <!--项目定义类-申请-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='application' && readonly!==true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;" ng-if="!readonly">
                        <input type="checkbox" ng-checked="select_all" ng-model="select_all" ng-change="selectAll(select_all)">
                    </th>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">所属合约</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td class="text-center">
                        <input type="checkbox" ng-model="item.checked" ng-change="selectOne(item.checked)">
                    </td>
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td>
                        <input sog-valide-status="委托信息第{{$index+1}}行，直接委托金额(元)" type="text" class="meeting input-type ng-pristine ng-valid text-right" ng-blur="getPurchaseAmount()"
                               wf-money opts="moneyOpts" ng-model="item.delegationAmount" placeholder="请输入">
                    </td>
                    <td class="text-center">
                        <!--<div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" search-single-supplier opts="supplierOpts" index="$index" data="item"></div>-->
                        <!--<div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" select-supplier-info opts="supplierOpts" index="$index" data="item"></div>-->
                        <div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" fuzzy-query-supplier opts="supplierOpts" index="$index" data="item"></div>
                    </td>
                    <td>
                        {{item.industryDomainName }}
                    </td>
                    <td class="text-center">
                        <a style="color:blue" ng-click="showContractAgreement(item)">选择</a>
                    </td>
                    <td class="text-center">
                        <div sog-valide-status="委托信息第{{$index+1}}行，合同经办人">
                            <span opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--项目定义类-只读-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='application' && readonly ===true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;" ng-if="!readonly">
                        <input type="checkbox" ng-checked="select_all" ng-model="select_all" ng-change="selectAll(select_all)">
                    </th>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">所属合约</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td>
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName }}
                    </td>
                    <td class="text-center">
                        <a style="color:blue" ng-click="lookContractAgreement(item)">查看</a>
                    </td>
                    <td class="text-center">
                        <span ng-if="item.operatorUser != null" wf-user-presence="item.operatorUser"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--项目定义类-发起合同订立-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='startupContractEdit' && readonly===true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">所属合约</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td class="text-center">
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName}}
                    </td>
                    <td class="text-center">
                        <a style="color:blue" ng-click="lookContractAgreement(item)">查看</a>
                    </td>
                    <td class="text-center">
                        <span opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--项目定义类-已办结-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='startupContract' && readonly===true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">所属合约</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                    <th class="table-thead" style="text-align:center;" ng-if="isSuccess">合同状态</th>
                    <th class="table-thead" style="text-align:center;" ng-if="isSuccess">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td class="text-center">
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName}}
                    </td>
                    <td class="text-center">
                        <a style="color:blue" ng-click="lookContractAgreement(item)">查看</a>
                    </td>
                    <td class="text-center">
                        <span ng-if="!isSuccess ||(item.contractStateCode!==2 && item.contractStateCode!==0)===true" opts="operatorSelect" wf-user-presence="item.operatorUser"></span>
                        <span ng-if="isSuccess && (item.contractStateCode===2 || item.contractStateCode===0)===true" opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                    </td>
                    <td ng-if="isSuccess">
                        {{item.contractStateName }}
                    </td>
                    <td class="text-center">
                        <a ng-show="isSuccess && item.contractStateCode!==2 && item.contractStateCode!==0" style="color:blue;" ng-click="lookContarctInfo(item)">查看详情</a>
                        <button ng-show="isSuccess && (item.contractStateCode===2 || item.contractStateCode===0) && opts.actionStateCode==2" class="btn btn-primary" style="cursor:pointer;color:white;" ng-click="reStartContract(item)">重新发起</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--非开发运营类-->
    <div ng-switch-when="32">
        <button ng-if="!readonly" ng-click="addDetail()" class="btn btn-primary" style="cursor:pointer">+增加</button>
        <span></span>
        <button ng-if="!readonly" ng-click="deleteDetail()" class="btn btn-danger" style="cursor:pointer">-删除</button>
        <!--非开发运营类-申请-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='application' && readonly!==true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;" ng-if="!readonly">
                        <input type="checkbox" ng-checked="select_all" ng-model="select_all" ng-change="selectAll(select_all)">
                    </th>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">所属合约</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td class="text-center">
                        <input type="checkbox" ng-model="item.checked" ng-change="selectOne(item.checked)">
                    </td>
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td>
                        <input sog-valide-status="委托信息第{{$index+1}}行，直接委托金额(元)" type="text" class="meeting input-type ng-pristine ng-valid text-right" ng-blur="getPurchaseAmount()"
                               wf-money opts="moneyOpts" ng-model="item.delegationAmount" placeholder="请输入">
                    </td>
                    <td class="text-center">
                        <div sog-valide-status="委托信息第{{$index+1}}行，直接委托供应商" fuzzy-query-supplier opts="supplierOpts" index="$index" data="item"></div>
                    </td>
                    <td>
                        {{item.industryDomainName }}
                    </td>
                    <td class="text-center">
                        <a style="color:blue" ng-click="showContractAgreement(item)">选择</a>
                    </td>
                    <td class="text-center">
                        <div sog-valide-status="委托信息第{{$index+1}}行，合同经办人">
                            <span opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--非开发运营类-只读-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='application' && readonly ===true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">所属合约</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td>
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName }}
                    </td>
                    <td class="text-center">
                        <a style="color:blue" ng-click="lookContractAgreement(item)">查看</a>
                    </td>
                    <td class="text-center">
                        <span ng-if="item.operatorUser != null" wf-user-presence="item.operatorUser"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--非开发运营类-发起合同订立-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='startupContractEdit' && readonly===true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">所属合约</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td class="text-center">
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName}}
                    </td>
                    <td class="text-center">
                        <a style="color:blue" ng-click="lookContractAgreement(item)">查看</a>
                    </td>
                    <td class="text-center">
                        <span opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--非开发运营类-已办结-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='startupContract' && readonly===true">
            <thead>
                <tr>
                    <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                    <th class="table-thead" style="text-align:center;">直接委托金额(元)</th>
                    <th class="table-thead" style="text-align:center;">直接委托供应商</th>
                    <th class="table-thead" style="text-align:center;">行业领域</th>
                    <th class="table-thead" style="text-align:center;">所属合约</th>
                    <th class="table-thead" style="text-align:center;">合同经办人</th>
                    <th class="table-thead" style="text-align:center;" ng-if="isSuccess">合同状态</th>
                    <th class="table-thead" style="text-align:center;" ng-if="isSuccess">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td class="text-right">
                        {{item.delegationAmount|number:2}}
                    </td>
                    <td class="text-center">
                        <a style="color:blue;" ng-click="checkSupplierDetails(item.supplierCode);" class="ng-binding">{{item.supplierName}}</a>
                    </td>
                    <td>
                        {{item.industryDomainName}}
                    </td>
                    <td class="text-center">
                        <a style="color:blue" ng-click="lookContractAgreement(item)">查看</a>
                    </td>
                    <td class="text-center">
                        <span ng-if="!isSuccess ||(item.contractStateCode!==2 && item.contractStateCode!==0)===true" opts="operatorSelect" wf-user-presence="item.operatorUser"></span>
                        <span ng-if="isSuccess && (item.contractStateCode===2 || item.contractStateCode===0)===true" opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                    </td>
                    <td ng-if="isSuccess">
                        {{item.contractStateName }}
                    </td>
                    <td class="text-center">
                        <a ng-show="isSuccess && item.contractStateCode!==2 && item.contractStateCode!==0" style="color:blue;" ng-click="lookContarctInfo(item)">查看详情</a>
                        <button ng-show="isSuccess && (item.contractStateCode===2 || item.contractStateCode===0) && opts.actionStateCode==2" class="btn btn-primary" style="cursor:pointer;color:white;" ng-click="reStartContract(item)">重新发起</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>