<div class="modal hidden-print show staff-service">
    <div class="modal-backdrop hidden-print"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="glyphicon glyphicon-info-sign text-info"></i>事业部</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table>
                        <!--class="table table-bordered table-striped"-->
                        <thead>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in lstBusinessDivision">
                                <td style="width:20%">
                                    <input type="checkbox" ng-model="item.checked" />
                                </td>
                                <td hidden="hidden" style="width:10%">{{item.businessDivisionCode}}</td>
                                <td style="width:70%">{{item.businessDivisionName}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeThisDialog(this)">取消</button>
                <button type="button" class="btn btn-primary" ng-click="SelectSealOK();closeThisDialog(this) ">确定</button>
            </div>
        </div>
    </div>
</div>
