 <!--编辑模式-->
<div class="table-responsive">
    <div ng-if="(opts.actionTypeCode===28)===false">
        <button ng-if="!readOnly" ng-click="addDetail()" class="btn btn-primary" style="cursor:pointer">+增加</button>
        <button ng-if="!readOnly" ng-click="deleteDetail()" class="btn btn-danger" style="cursor:pointer">-删除</button>

        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='Award' && readOnly===false">
            <thead>
                <tr>
                    <td class="table-thead text-center">
                        <input id="flag" type="checkbox" ng-checked="sel" ng-model="select_all" ng-change="selectAll(select_all)">
                    </td>
                    <th class="table-thead text-center">序号</th>
                    <th class="table-thead text-center">合同名称<i style="color:red;">*</i></th>
                    <th class="table-thead text-center">甲方（法人公司）<i style="color:red;">*</i></th>
                    <th class="table-thead text-center">他方（供应商）<i style="color:red;">*</i></th>
                    <th class="table-thead text-center">合同金额（元）<i style="color:red;">*</i></th>
                    <th class="table-thead text-center">合同经办人<i style="color:red;">*</i></th>
                    <th class="table-thead text-center">所属合约<i style="color:red;">*</i></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data|orderBy : sortNo : false">
                    <td style="text-align:center;vertical-align:middle;">
                        <input type="checkbox" ng-model="item.checked" ng-change="selectOne(item.checked)">
                    </td>
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td>
                        <input sog-valide-status="拟签订合同信息第{{$index+1}}行，合同名称" type="text" ng-model="item.contractName" class="form-control meeting" />
                    </td>
                    <td>
                        <select sog-valide-status="拟签订合同信息第{{$index+1}}行，甲方（法人公司）" class="meeting" ng-model="item.corporationCode"
                                ng-options="type.corporationCode as type.corporationName for type in model.corporationScopeList"
                                ng-selected="type.corporationCode == item.corporationCode">
                            <option value="">请选择</option>
                        </select>
                    </td>
                    <td>
                        <select sog-valide-status="拟签订合同信息第{{$index+1}}行，他方（供应商）" class="meeting" ng-model="item.supplierCode"
                                ng-options="type.code as type.name for type in model.awardSupplierList"
                                ng-selected="type.code == item.supplierCode"
                                ng-change="supplierChange(item)">
                            <option value="">请选择</option>
                        </select>
                    </td>
                    <td>
                        <input sog-valide-status="拟签订合同信息第{{$index+1}}行，合同金额（元）" type="text" class="meeting input-type ng-pristine ng-valid text-right"
                               wf-money opts="moneyOpts" ng-model="item.perSignContractAmount" placeholder="请输入">

                    </td>
                    <td>
                        <span sog-valide-status="拟签订合同信息第{{$index+1}}行，合同经办人" opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                    </td>
                    <td sog-valide-status="拟签订合同信息第{{$index+1}}行，所属合约">
                        <a style="color:blue" ng-click="editContractAgreement($index,item)">选择</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--只读模式-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='Award' && readOnly===true">
            <thead>
                <tr>
                    <th class="table-thead text-center">序号</th>
                    <th class="table-thead text-center">合同名称</th>
                    <th class="table-thead text-center">甲方（法人公司）</th>
                    <th class="table-thead text-center">他方（供应商）</th>
                    <th class="table-thead text-center">合同金额（元）</th>
                    <th class="table-thead text-center">合同经办人</th>
                    <th class="table-thead text-center">所属合约</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data|orderBy : sortNo : false">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td>
                        {{item.contractName}}
                    </td>
                    <td>
                        {{item.corporationName}}
                    </td>
                    <td>
                        {{item.supplierName}}
                    </td>
                    <td class="text-right">
                        {{item.perSignContractAmount|number:2}}
                    </td>
                    <td>
                        <span ng-if="item.operatorUser != null" wf-user-presence="item.operatorUser"></span>
                    </td>
                    <td class="text-center">
                        <a style="color:blue" ng-click="showContractAgreement($index,item)">查看</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--发起合同模式-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='StartupContract' && readOnly===false">
            <thead>
                <tr>
                    <th class="table-thead text-center">序号</th>
                    <th class="table-thead text-center">合同名称</th>
                    <th class="table-thead text-center">甲方（法人公司）</th>
                    <th class="table-thead text-center">他方（供应商）</th>
                    <th class="table-thead text-center">合同金额（元）</th>
                    <th class="table-thead text-center">合同经办人<i style="color:red;">*</i></th>
                    <th class="table-thead text-center">所属合约</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data|orderBy : sortNo : false">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td>
                        {{item.contractName}}
                    </td>
                    <td>
                        {{item.corporationName}}
                    </td>
                    <td>
                        {{item.supplierName}}
                    </td>
                    <td class="text-right">
                        {{item.perSignContractAmount|number:2}}
                    </td>
                    <td>
                        <span sog-valide-status="拟签订合同信息第{{$index+1}}行，合同经办人" opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                    </td>
                    <td class="text-center">
                        <a style="color:blue" ng-click="showContractAgreement($index,item)">查看</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--发起合同只读模式-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='StartupContract' && readOnly===true">
            <thead>
                <tr>
                    <th class="table-thead text-center">序号</th>
                    <th class="table-thead text-center">合同名称</th>
                    <th class="table-thead text-center">甲方（法人公司）</th>
                    <th class="table-thead text-center">他方（供应商）</th>
                    <th class="table-thead text-center">合同金额（元）</th>
                    <th class="table-thead text-center">合同经办人<i style="color:red;">*</i></th>
                    <th class="table-thead" style="text-align:center;">合同状态</th>
                    <th class="table-thead" style="text-align:center;" ng-if="isSuccess">操作</th>
                    <th class="table-thead text-center">所属合约</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data|orderBy : sortNo : false">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td>
                        {{item.contractName}}
                    </td>
                    <td>
                        {{item.corporationName}}
                    </td>
                    <td>
                        {{item.supplierName}}
                    </td>
                    <td class="text-right">
                        {{item.perSignContractAmount|number:2}}
                    </td>
                    <td>
                        <span ng-if="!isSuccess ||(item.contractStateCode!==2 && item.contractStateCode!==0)===true"
                              sog-valide-status="拟签订合同信息第{{$index+1}}行，合同经办人"
                              opts="operatorSelect" wf-user-presence="item.operatorUser"></span>
                        <span ng-if="(isSuccess && item.contractStateCode===2)===true" opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                    </td>
                    <td>
                        {{item.contractStateName}}
                    </td>
                    <td ng-if="isSuccess" class="text-center">
                        <a ng-show="isSuccess && item.contractStateCode!==2 && item.contractStateCode!==0" style="color:blue;" ng-click="lookContarctInfo(item)">查看详情</a>
                        <button ng-show="isSuccess && item.contractStateCode===2 || item.contractStateCode===0" class="btn btn-primary" style="cursor:pointer;color:white;" ng-click="reStartContract(item)">重新发起</button>
                    </td>
                    <td class="text-center">
                        <a style="color:blue" ng-click="showContractAgreement($index,item)">查看</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="opts.actionTypeCode===28">
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='Award' && readOnly===false">
            <thead>
                <tr>
                    <th class="table-thead text-center">序号</th>
                    <th class="table-thead text-center">拟推荐中标单位(合同他方)<i style="color:red;">*</i></th>
                    <th class="table-thead text-center">拟定合同价</th>
                    <th class="table-thead text-center">是否最低价中标</th>
                    <th class="table-thead text-center">未采用最低价原因<i style="color:red;" ng-if="!data[0].isBottomPriceWin">*</i></th>
                    <th class="table-thead text-center">合同经办人<span style="color:red;">*</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data|orderBy : sortNo : false">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td>
                        <select sog-valide-status="中标情况第{{$index+1}}行，拟推荐中标单位(合同他方)" class="meeting" ng-model="item.supplierCode"
                                ng-options="type.code as type.name for type in model.awardSupplierList"
                                ng-selected="type.code == item.supplierCode"
                                ng-change="supplierChange(item)">
                            <option value="">请选择</option>
                        </select>
                    </td>
                    <td class="text-center" sog-valide-status="中标情况第{{$index+1}}行，拟定合同价">
                        {{item.perSignContractAmount | number:2}}
                    </td>
                    <td class="text-center">
                        {{item.isBottomPriceWin?'是':'否'}}
                    </td>
                    <td>
                        <input sog-valide-status="中标情况第{{$index+1}}行，未采用最低价原因" class="meeting" ng-model="item.notBottomPriceWinReason" />
                    </td>
                    <td>
                        <span sog-valide-status="中标情况第{{$index+1}}行，合同经办人" opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--只读模式-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='Award' && readOnly===true">
            <thead>
                <tr>
                    <th class="table-thead text-center">序号</th>
                    <th class="table-thead text-center">拟推荐中标单位(合同他方)</th>
                    <th class="table-thead text-center">拟定合同价</th>
                    <th class="table-thead text-center">是否最低价中标</th>
                    <th class="table-thead text-center">未采用最低价原因</th>
                    <th class="table-thead text-center">合同经办人</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data|orderBy : sortNo : false">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td>
                        {{item.supplierName}}
                    </td>
                    <td class="text-right">
                        {{item.perSignContractAmount|number:2}}
                    </td>
                    <td class="text-center">
                        {{item.isBottomPriceWin?'是':'否'}}
                    </td>
                    <td class="text-center">
                        {{item.notBottomPriceWinReason}}
                    </td>
                    <td>
                        <span ng-if="item.operatorUser != null" wf-user-presence="item.operatorUser"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--发起合同模式-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='StartupContract' && readOnly===false">
            <thead>
                <tr>
                    <th class="table-thead text-center">序号</th>
                    <th class="table-thead text-center">拟推荐中标单位(合同他方)</th>
                    <th class="table-thead text-center">拟定合同价</th>
                    <th class="table-thead text-center">是否最低价中标</th>
                    <th class="table-thead text-center">未采用最低价原因</th>
                    <th class="table-thead text-center">合同经办人<i style="color:red;">*</i></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data|orderBy : sortNo : false">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td>
                        {{item.supplierName}}
                    </td>
                    <td class="text-right">
                        {{item.perSignContractAmount|number:2}}
                    </td>
                    <td class="text-center">
                        {{item.isBottomPriceWin?'是':'否'}}
                    </td>
                    <td class="text-center">
                        {{item.notBottomPriceWinReason}}
                    </td>
                    <td>
                        <span sog-valide-status="中标情况第{{$index+1}}行，合同经办人" opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--发起合同只读模式-->
        <table class="table table-striped table-bordered table-responsive" ng-if="opts.scene==='StartupContract' && readOnly===true">
            <thead>
                <tr>
                    <th class="table-thead text-center">序号</th>
                    <th class="table-thead text-center">拟推荐中标单位(合同他方)</th>
                    <th class="table-thead text-center">拟定合同价</th>
                    <th class="table-thead text-center">是否最低价中标</th>
                    <th class="table-thead text-center">未采用最低价原因</th>
                    <th class="table-thead text-center">合同经办人<i style="color:red;">*</i></th>
                    <th class="table-thead" style="text-align:center;">合同状态</th>
                    <th class="table-thead" style="text-align:center;" ng-if="isSuccess">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data|orderBy : sortNo : false">
                    <td class="text-center">
                        {{$index+1}}
                    </td>
                    <td>
                        {{item.supplierName}}
                    </td>
                    <td class="text-right">
                        {{item.perSignContractAmount|number:2}}
                    </td>
                    <td class="text-center">
                        {{item.isBottomPriceWin?'是':'否'}}
                    </td>
                    <td class="text-center">
                        {{item.notBottomPriceWinReason}}
                    </td>
                    <td>
                        <span ng-if="!isSuccess ||(item.contractStateCode!==2 && item.contractStateCode!==0)===true"
                              sog-valide-status="中标情况第{{$index+1}}行，合同经办人"
                              opts="operatorSelect" wf-user-presence="item.operatorUser"></span>
                        <span ng-if="(isSuccess && item.contractStateCode===2)===true" opts="operatorSelect" sog-ogu-input="item.operatorUser"></span>
                    </td>
                    <td>
                        {{item.contractStateName}}
                    </td>
                    <td ng-if="isSuccess" class="text-center">
                        <a ng-show="isSuccess && item.contractStateCode!==2 && item.contractStateCode!==0" style="color:blue;" ng-click="lookContarctInfo(item)">查看详情</a>
                        <button ng-show="isSuccess && item.contractStateCode===2 || item.contractStateCode===0" class="btn btn-primary" style="cursor:pointer;color:white;" ng-click="reStartContract(item)">重新发起</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
