<div class="staff-service">
    <div class="appil-container">
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;搜索条件</h4>
        <div class="form-inline clearfix">
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label" >协议名称</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <input class="meeting" ng-model="model.agreementInfoNameKeyWord">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label" >供应商名称</label>
                <div class="col-xs-6 form-group baseifo-input">
                    {{model.supplierName}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label" >行业领域</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <input class="meeting" ng-model="model.industryDomainNameKeyWord">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group" style="margin-top:2px;">
                <div class="col-xs-12 form-group baseifo-input text-center">
                    <button class="btn btn-primary btn-sm" style="padding-left:20px;padding-right:20px;" ng-click="model.query()">查询</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default  btn-sm" style="padding-left:20px;padding-right:20px;" ng-click="model.clear()">条件重置</button>
                </div>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;协议列表</h4>
        <div class="form-inline clearfix"  ng-init="model.loadData(1);">
            <div class="table-responsive" style="max-height: 300px;overflow: auto;">
                <table class="table table-hover table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:40px;"></th>
                            <th class="text-center">序号</th>
                            <th class="text-center">协议名称</th>
                            <th class="text-center">供应商名称</th>
                            <th class="text-center">行业领域</th>
                            <th class="text-center">协议开始时间</th>
                            <th class="text-center">协议结束时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-repeat="item in model.strategyPurchaseAgreementInfoList">
                            <td><input type="radio" name="projectItem" ng-click="model.chooseItem(item)" ng-checked="model.selectedItem!=null&&model.selectedItem.strategyPurchaseAgreementInfoCode===item.strategyPurchaseAgreementInfoCode"></td>
                            <td>{{$index+1}}</td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.strategyPurchaseAgreementInfoName}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.supplierName}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.industryDomainName}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.startTime | date: 'yyyy-MM-dd'}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;" >{{item.endTime | date: 'yyyy-MM-dd'}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--分页-->
            <div tm-pagination="model.paginationConf" class="pull-right clearfix" style="margin-right:10px;"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeThisDialog();">取消</button>
    <button type="button" class="btn btn-primary" ng-click="model.confirm();">确定</button>
</div>
