<div class="modal hidden-print show staff-service">
    <div class="modal-backdrop hidden-print"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" ng-click="closeThisDialog()"><span>×</span></button>-->
                <h4 class="modal-title"><i class="glyphicon glyphicon-info-sign text-info"></i>行业领域选择<small><font color="red"> 提示：请展开节点至最末级进行选择</font> </small></h4>
            </div>
            <div class="modal-body">
                <div class="form-inline clearfix">
                    <div class="col-xs-12 form-group" style="margin-bottom: 5px;">
                        <label class="col-xs-6 col-sm-3 control-label text-right" title="关键字查询">关键字查询</label>
                        <div class="col-xs-6   col-sm-7 form-group baseifo-input">
                            <input type="text" class="meeting" ng-model="condation.categoryName">
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <button class="btn btn-primary" style="padding: 0 15px;" ng-click="query('categoryName')">搜 索</button>
                        </div>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-xs-6 col-sm-3 control-label text-right" title="根据供应商查询">根据供应商查询</label>
                        <div class="col-xs-6   col-sm-7 form-group baseifo-input">
                            <input type="text" class="meeting" ng-model="condation.supplierName">
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <button class="btn btn-primary" style="padding: 0 15px;" ng-click="query('supplierName')">搜 索</button>
                        </div>
                    </div>
                </div>
                <hr style="border-color: #eee;" />
                <div>
                    <div style="text-align:left" ng-show="condation.isShowTree">
                        <span wf-tree tree-opts="dynamicOpts" class="tree"></span>
                    </div>
                    <div ng-show="!condation.isShowTree">
                        <ul ng-show="queryResult.length>0">
                            <li ng-repeat="item in queryResult">
                                <input type="checkbox" ng-model="item.isChecked" ng-click="selectItem()"> 
                                {{item.displayName}}
                            </li>
                        </ul>
                        <div ng-show="queryResult.length===0" style="padding:20px 0;text-align:center;font-size: 12px;">暂无数据</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeThisDialog(this)">取消</button>
                <button type="button" class="btn btn-primary" ng-click="confirmHandler() ">确定</button>
            </div>
        </div>
    </div>
</div>

