<div class="modal hidden-print show staff-service">
    <div class="modal-dialog" style="width: 60%;margin-left:50%">
        <div class="modal-content" style="width: 50%;">
            <div class="modal-header">
                <h4 class="modal-title"><i class="glyphicon glyphicon-info-sign text-info"></i>业态范围选择<small><font color="red"> 提示：请展开节点至最末级进行选择</font> </small></h4>
            </div>
            <div class="modal-body" style="width: 100%;">
                <div style="text-align:left">
                    <span wf-tree tree-opts="dynamicOpts" tree-model="list" class="tree"></span>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-default" ng-click="closeThisDialog();">取消(C)</button>
                &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                <button type="button" class="btn btn-primary" ng-click="contractAgreementCategoryOk();closeThisDialog()">确定(O)</button>
            </div>
        </div>
    </div>
</div>
