<div class="form-inline form-inline-readonly clearfix">
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 control-label text-right" title="无合同采购申请报告">无合同采购申请报告</label>
        <div class="col-xs-6 form-group baseifo-input" sog-valide-status="无合同采购申请报告">
            <span class="attachment right" wf-uploader ready="viewModel.purchaseOfNoContractApplicationFileReady" files="viewModel.purchaseOfNoContractApplicationFiles" opts="baseInfo.purchaseOfNoContractApplicationFileOpts" read-only="true"></span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 control-label text-right" title="付款计算明细">付款计算明细</label>
        <div class="col-xs-6 form-group baseifo-input" sog-valide-status="付款计算明细">
            <span class="attachment right" wf-uploader ready="viewModel.payCaculationDetailFileReady" files="viewModel.payCaculationDetailFiles" opts="baseInfo.payCaculationDetailFileOpts" read-only="true"></span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 control-label text-right" title="收费依据文件">收费依据文件</label>
        <div class="col-xs-6 form-group baseifo-input">
            <span class="attachment right" wf-uploader ready="viewModel.chargeAccordingFileReady" files="viewModel.chargeAccordingFiles" opts="baseInfo.chargeAccordingFileOpts" read-only="true"></span>
        </div>
    </div>
</div>