<div class="form-inline form-inline-readonly clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label text-right" title="采购名称" style="text-align:right">采购名称</label>
        <div class="col-xs-6 col-sm-7 col-md-10 form-group baseifo-input">
            {{viewModel.purchaseBase.purchaseName}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="项目名称" style="text-align:right">项目名称</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchaseOfNoContract.projectName}}
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="期区/地块" style="text-align:right">期区/地块</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchaseOfNoContract.stageAreaName}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-md-4 col-sm-6 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-md-6 col-sm-6 control-label" title="法人公司" style="text-align:right">法人公司</label>
        <div class="col-xs-6 col-md-6 col-sm-6 form-group baseifo-input">
            {{viewModel.corporationScopeList[0].corporationName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="记账公司" style="text-align:right">记账公司</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchaseOfNoContract.chargeCompanyName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="成本中心" style="text-align:right">成本中心</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchaseOfNoContract.costCenterName}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 form-group">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="建设地点" style="text-align:right">建设地点</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            {{viewModel.purchaseOfNoContract.cityInput.fullPathNameReadOnly}}
            &nbsp;
            {{viewModel.purchaseOfNoContract.buildDetailAddress}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label labelheight" title="本次采购范围和内容" style="text-align:right">本次采购范围和内容</label>
        <div class="col-xs-12 col-sm-9 col-md-10 form-group baseifo-input">
            {{viewModel.purchaseOfNoContract.purchaseContent}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="建筑面积" style="text-align:right">建筑面积</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchaseOfNoContract.buildingArea | number:2}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="建设单方成本目标" style="text-align:right">建设单方成本目标</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchaseOfNoContract.buildingCostTargetPerArea | number:2}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="本次采购金额(元)" style="text-align:right">本次采购金额(元)</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchaseBase.purchaseAmount | number:2}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="收款单位" style="text-align:right">收款单位</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchaseOfNoContract.chargeUnitName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="收费依据文件名称" style="text-align:right">收费依据文件名称</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchaseOfNoContract.chargeAccordingFileName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="是否上报资金计划" style="text-align:right">是否上报资金计划</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <div>
                <input type="radio" disabled="disabled" value="true" name="ReportTheFundingPlan" ng-checked="viewModel.purchaseOfNoContract.isReportFundingBudget" />是
                <input type="radio" disabled="disabled" value="false" name="ReportTheFundingPlan" ng-checked="!viewModel.purchaseOfNoContract.isReportFundingBudget" />否
            </div>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
            <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="是否有返还款" style="text-align:right">是否有返还款</label>
            <div class="col-xs-6 form-group baseifo-input">
                <ul>
                    <li style="display:inline" ng-repeat="item in hasPrepaymentRefundList">
                        <input type="radio" disabled="disabled" ng-checked="{{item.checked}}" value="{{item.code}}" ng-model="viewModel.purchaseOfNoContract.hasPrepaymentRefund" name="hasPrepaymentRefund" />{{item.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign" ng-show="viewModel.purchaseOfNoContract.hasPrepaymentRefund">
            <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="应返还比例" style="text-align:right">应返还比例</label>
            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                {{viewModel.purchaseOfNoContract.prepaymentRefundScale|number:2}}&nbsp;%
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign" ng-show="viewModel.purchaseOfNoContract.hasPrepaymentRefund">
            <label class="col-xs-6 col-sm-6 col-md-6 control-label" title="应返还金额" style="text-align:right">应返还金额</label>
            <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                {{viewModel.purchaseOfNoContract.prepaymentRefundAmount|number:2}}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label labelheight" title="收费标准描述" style="text-align:right">收费标准描述</label>
        <div class="col-xs-12 col-sm-9 col-md-10 form-group baseifo-input">
            {{viewModel.purchaseOfNoContract.chargeStandardDescribe}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label labelheight" title="付款方式描述" style="text-align:right">付款方式描述</label>
        <div class="col-xs-12 col-sm-9 col-md-10 form-group baseifo-input">
            {{viewModel.purchaseOfNoContract.paymentWayDescribe}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label labelheight" title="原因说明" style="text-align:right">原因说明</label>
        <div class="col-xs-12 col-sm-9 col-md-10 form-group baseifo-input">
            {{viewModel.purchaseOfNoContract.reasonExplain}}
        </div>
    </div>
    <div class="clearfix"></div>
</div>