<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/CooperationInfoWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--左侧导航栏-->
        <div ng-show="viewModel.formAction.actionStateCode==2" left-nav opts="baseInfo.leftNavListOpts" data="viewModel.navOption.navigationList"></div>
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>招投标（集中采购）</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div ng-include="'views/strategyCommissioned/biddingCentralizedPurchasing/htmlTemplate/biddingCentralizedPurchasingBaseInfoReadOnly.html'"></div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>合作供应商信息</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center;width:5%;" class="table-thead">序号</th>
                        <th style="text-align:center;" class="table-thead">供应商名称</th>
                        <th style="text-align:center;" class="table-thead">行业领域</th>
                        <th style="text-align:center;" class="table-thead">联系人</th>
                        <th style="text-align:center;" class="table-thead">联系邮箱</th>
                        <th style="text-align:center;" class="table-thead">联系电话</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="supplier in baseInfo.getWinTheBiddingSuppliers()|orderBy : 'sortNo' : false">
                        <td class="text-center">{{$index+1}}</td>
                        <td style="text-align:center;">{{supplier.supplierName}}</td>
                        <td style="text-align:center;">{{supplier.industryDomainName}}</td>
                        <td style="text-align:center;">
                            <input type="text" class="meeting" ng-model="supplier.linkManName">
                        </td>
                        <td style="text-align:center;">
                            <input type="text" class="meeting" ng-model="supplier.linkEmail">
                        </td>
                        <td style="text-align:center;">
                            <input type="text" class="meeting" ng-model="supplier.linkPhone">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>协议信息</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center;width:5%;" class="table-thead">序号</th>
                        <th style="text-align:center;" class="table-thead">拟定中标供应商名称</th>
                        <th style="text-align:center;" class="table-thead">行业领域</th>
                        <th style="text-align:center;" class="table-thead">拟定协议名称</th>
                        <th style="text-align:center;" class="table-thead">协议编号</th>
                        <th style="text-align:center;" class="table-thead">合作协议</th>
                        <th style="text-align:center;" class="table-thead">协议开始时间</th>
                        <th style="text-align:center;" class="table-thead">协议结束时间</th>
                        <th style="text-align:center;" class="table-thead">指导手册</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="supplier in viewModel.p_StrategyPurchaseAgreementInfoPEMus|orderBy : 'sortNo' : false">
                        <td class="text-center">{{$index+1}}</td>
                        <td style="text-align:center;">{{supplier.supplierName}}</td>
                        <td style="text-align:center;">{{supplier.industryDomainName}}</td>
                        <td style="text-align:center;">{{supplier.agreementName}}</td>
                        <td style="text-align:center;">{{supplier.agreementNo}}</td>
                        <td style="text-align:center;">
                            <div wf-uploader files="supplier.agreementFile" read-only="true" opts="baseInfo.fileopts" ready="baseInfo.fileReady"></div>
                        </td>
                        <td style="text-align:center;">
                            <div my-calendar my-date="supplier.startDate"></div>
                        </td>
                        <td style="text-align:center;">
                            <div my-calendar my-date="supplier.endDate"></div>
                        </td>
                        <td style="text-align:center;">
                            <div wf-uploader files="supplier.strategyDirectFile" opts="baseInfo.fileopts" ready="baseInfo.fileReady"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>