<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/ScalingApprovalWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--左侧导航栏-->
        <div left-nav opts="baseInfo.leftNavListOpts" data="viewModel.navOption.navigationList"></div>
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>招投标（集中采购）</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div ng-include="'views/strategyCommissioned/biddingCentralizedPurchasing/htmlTemplate/biddingCentralizedPurchasingBaseInfoReadOnly.html'"></div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购时间安排</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">环节名称</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">供应商提问截止时间</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">回标截止时间</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">清标时间</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">评标时间</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">定标时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in viewModel.p_PurchaseDateArrangeInfoPEMus|orderBy : 'sortNo' : false">
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">
                            <span ng-show="item.className==4">原采购时间安排</span>
                            <span ng-show="item.className==5">最新采购时间安排</span>
                            <span ng-show="item.className==6">实际采购情况</span>
                        </td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">{{item.questionDeadline | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">{{item.replyDeadline | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">{{item.clearBinddingDeadline | date:'yyyy-MM-dd'}}</td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">{{item.evaluateBiddingDeadline | date:'yyyy-MM-dd'}}</td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">{{item.decideBiddingDeadline | date:'yyyy-MM-dd'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <h4 class="control-heading bg-info">
            <i class="glyphicon glyphicon-list-alt"></i>
            <span>供应商投标信息</span>
            <span style="color:blue;font-size:12px;padding-left:10px;cursor:pointer;" ng-click="lookInfo('evaluateTenderGather','查看评标信息')">查看评标信息</span>
            <span style="color:blue;font-size:12px;padding-left:10px;cursor:pointer;" ng-click="lookInfo('compilingTenderApproval','查看招标基本信息')">查看招标基本信息</span>
        </h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">序号</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">供应商名称</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">除税首轮回标总价</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">名次</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">除税首轮让利总价</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">除税最终报价</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">名次</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="supplier in viewModel.p_SupplierScopePEMus|orderBy : 'sortNo' : false">
                        <td class="text-center">{{$index+1}}</td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">{{supplier.supplierName}}</td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">
                            <span ng-show="baseInfo.getReplyBidding(supplier.supplierCode).totalAmountNotTax>0">
                                {{baseInfo.getReplyBidding(supplier.supplierCode).totalAmountNotTax|number:2}}
                            </span>
                        </td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">{{baseInfo.getBusinessEvaluateBiddingInfo(supplier.supplierCode,1).firstTurnRanking}}</td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">
                            <span ng-show="baseInfo.getBusinessEvaluateBiddingInfo(supplier.supplierCode,1).finalQuoteAmountNotTax>0">
                                {{baseInfo.getBusinessEvaluateBiddingInfo(supplier.supplierCode,1).finalQuoteAmountNotTax|number:2}}
                            </span>
                        </td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">
                            <span ng-show="baseInfo.getBusinessEvaluateBiddingInfo(supplier.supplierCode,viewModel.p_StrategyPurchasePlanCase.evaluateBiddingTimes).finalQuoteAmountNotTax>0">
                                {{baseInfo.getBusinessEvaluateBiddingInfo(supplier.supplierCode,viewModel.p_StrategyPurchasePlanCase.evaluateBiddingTimes).finalQuoteAmountNotTax|number:2}}
                            </span>
                        </td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">{{baseInfo.getBusinessEvaluateBiddingInfo(supplier.supplierCode,viewModel.p_StrategyPurchasePlanCase.evaluateBiddingTimes).ranking}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>中标情况<span style="color:red;">*</span></h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center;width:5%;" class="table-thead">序号</th>
                        <th style="text-align:center;" class="table-thead">拟定中标供应商名称</th>
                        <th style="text-align:center;" class="table-thead">行业领域</th>
                        <th style="text-align:center;" class="table-thead">拟定协议名称</th>
                        <th style="text-align:center;" class="table-thead">合作协议</th>
                        <th style="text-align:center;width:10%;" class="table-thead">协议份数</th>
                        <th style="text-align:center;width:30%;" class="table-thead">中标范围</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="supplier in viewModel.p_StrategyPurchaseAgreementInfoPEMus|orderBy : 'sortNo' : false">
                        <td class="text-center">{{$index+1}}</td>
                        <td style="text-align:center;">{{supplier.supplierName}}</td>
                        <td style="text-align:center;">{{supplier.industryDomainName}}</td>
                        <td style="text-align:center;">{{supplier.agreementName}}</td>
                        <td style="text-align:center;">
                            <div wf-uploader files="supplier.agreementFile" read-only="true" opts="baseInfo.fileopts" ready="baseInfo.fileReady"></div>
                        </td>
                        <td style="text-align:center;">{{supplier.agreementCopies}}</td>
                        <td style="text-align:center;">{{supplier.biddingScopeDescribe}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <!--企查查展示-->
        <div enterprise-show data="viewModel.p_SupplierScopePEMus"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 附件</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="技术报告" style="text-align:right;">技术报告</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-repeat="item in viewModel.scalingTechnologyFile">
                        <span wf-uploader files="[item]" opts="baseInfo.fileopts" read-only="true" ready="baseInfo.fileReady"></span><br />
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="商务报告" style="text-align:right;">商务报告</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-repeat="item in viewModel.scalingBusinessFile">
                        <span wf-uploader files="[item]" opts="baseInfo.fileopts" read-only="true" ready="baseInfo.fileReady"></span><br />
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="定标报告" style="text-align:right;">定标报告</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-repeat="item in viewModel.scalingFile">
                        <span wf-uploader files="[item]" opts="baseInfo.fileopts" read-only="true" ready="baseInfo.fileReady"></span><br />
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="其他附件" style="text-align:right;">其他附件</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-repeat="item in viewModel.scalingOtherFile">
                        <span wf-uploader files="[item]" opts="baseInfo.fileopts" read-only="true" ready="baseInfo.fileReady"></span><br />
                    </p>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 自定义步骤</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <div class="col-xs-6 form-group baseifo-input">
                    <input type="checkbox" ng-disabled="true" ng-model="viewModel.p_StrategyPurchasePlanCase.isGrantWinBiddingNotice" />
                    发放中标通知
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>传阅</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right" title="传阅人">传阅人</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <span ng-repeat="user in viewModel.scalingCircularizePersons" wf-user-presence="user" style="margin-left:10px;"></span>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <!-- 评论列表-->
        <h4 class="control-heading bg-info" ng-show="isOpinionsShow"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
        <div class="form-inline" ng-show="isOpinionsShow">
            <div class="form-inline">
                <span sog-comment="opinions"></span>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div> 
        <!-- 入围审批意见列表-->
        <div application-opinion data="viewModel.applicationApprovalOpinion" read-only="true" opinion-opts="opinionOpts"></div>
        <!-- 定标审批意见列表-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 定标审批</h4>
        <div class="form-inline">
            <input wf-opinions opinions-opts="opinionOpts" opinions="viewModel.awardApprovalOpinion" predefined-opinions="predefinedOpinions" user-predefined-opinions="userPredefinedOpinions"
                   current-opinion="currentOpinion" url-base="/ScalingApprovalWf" />
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>