<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/TendersIssuedWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--左侧导航栏-->
        <div ng-show="viewModel.formAction.actionStateCode==2 || viewModel.formAction.actionStateCode==3" left-nav opts="baseInfo.leftNavListOpts" data="viewModel.navOption.navigationList"></div>
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>招投标（集中采购）</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div ng-include="'views/strategyCommissioned/biddingCentralizedPurchasing/htmlTemplate/biddingCentralizedPurchasingBaseInfoReadOnly.html'"></div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购时间安排<span style="color:red;">*</span></h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center;">环节名称</th>
                        <th style="text-align:center;">供应商提问截止时间</th>
                        <th style="text-align:center;">回标截止时间</th>
                        <th style="text-align:center;">清标时间</th>
                        <th style="text-align:center;">评标时间</th>
                        <th style="text-align:center;">定标时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in baseInfo.purchaseDateArrangeInfoPEMus()">
                        <td style="text-align:center;width:10%;">采购时间安排</td>
                        <td style="width:22%;">
                            <div date-time-picker date-time="item.questionDeadline"></div>
                        </td>
                        <td style="width:22%;">
                            <div date-time-picker date-time="item.replyDeadline"></div>
                        </td>
                        <td style="width:15%;">
                            <div my-calendar my-date="item.clearBinddingDeadline"></div>
                        </td>
                        <td style="width:15%;">
                            <div my-calendar my-date="item.evaluateBiddingDeadline"></div>
                        </td>
                        <td style="width:15%;">
                            <div my-calendar my-date="item.decideBiddingDeadline"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 招标主责人<span style="color:red;">*</span></h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="招标主责人">招标主责人<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    <span sog-ogu-input="viewModel.linkManUser" opts="baseInfo.selectRadioPeople"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="联系方式">联系方式<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    <input type="text" class="meeting" ng-model="viewModel.p_StrategyPurchasePlanCase.linkManPhone">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="E-mail">E-mail<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
                    <input type="text" class="meeting" ng-model="viewModel.p_StrategyPurchasePlanCase.linkManEmail">
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 入围供应商<span style="color:red;">*</span></h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center;width:5%;" class="table-thead">序号</th>
                        <th style="text-align:center;" class="table-thead">供应商名称</th>
                        <th style="text-align:center;" class="table-thead">行业领域</th>
                        <th style="text-align:center;" class="table-thead">行业领域等级</th>
                        <th style="text-align:center;" class="table-thead">验证码</th>
                        <th style="text-align:center;" class="table-thead">联系人</th>
                        <th style="text-align:center;" class="table-thead">联系人邮箱</th>
                        <th style="text-align:center;" class="table-thead">联系人电话</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in viewModel.p_SupplierScopePEMus|orderBy : 'sortNo' : false">
                        <td class="text-center">{{$index+1}}</td>
                        <td class="text-center">{{item.supplierName}}</td>
                        <td class="text-center">{{item.industryDomainName}}</td>
                        <td class="text-center">{{item.industryDomainLevelName}}</td>
                        <td class="text-center">{{item.verificationCode}}</td>
                        <td class="text-center">
                            <input type="text" class="meeting" ng-model="item.linkManName">
                        </td>
                        <td class="text-center">
                            <input type="text" class="meeting" ng-model="item.linkEmail">
                        </td>
                        <td class="text-center">
                            <input type="text" class="meeting" ng-model="item.linkPhone">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!-- 审批意见列表-->
        <h4 class="control-heading bg-info" ng-show="isApprovalShow"><i class="glyphicon glyphicon-list-alt"></i>审批意见列表</h4>
        <div class="form-inline" ng-show="isApprovalShow">
            <span sog-simple-opinions="opinions"></span>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>