<div class="staff-service">

    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/OverDueStrategyDelayRequestApplicationWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <!--信息项组标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>申请信息</h4>
        <div class="form-inline">

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label text-right" title="申请人">申请人<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input" sog-valide-status="申请人">
                    <!--<span sog-ogu-input="viewModel.requestUser" opts="baseInfo.peopleSelect"></span>-->
                    <span ng-if="viewModel.requestUser" wf-user-presence="viewModel.requestUser"></span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label text-right" title="申请时间">申请时间<span style="color: red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input" sog-valide-status="申请时间">
                    {{viewModel.overDueStrategyDelayRequestRecord.requestDate| date:'yyyy-MM-dd HH:mm:ss'}}
                </div>
            </div>
            <div class="clearfix"></div>

            <!--<div class="clearfix visible-xs-block"></div>-->

            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="延期申请说明" style="text-align: right; display: block; height: 54px; line-height: 54px;">延期申请说明<span style="color: red;">*</span></label>
                <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
                    <textarea sog-valide-status="延期申请说明" ng-model="viewModel.overDueStrategyDelayRequestRecord.delayReason" style="width: 100%; height: 54px;"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 拟变更信息</h4>

        <div purchase-strategy-contract-info data="viewModel.proposedChangeInfoList" readonly="false" opts="settings.proposedChangeOpts"></div>

        <!--传阅-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>传阅人</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label " title="传阅人 ">传阅人</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input" sog-valide-status="传阅人">
                    <span sog-ogu-input="viewModel.circularizePersons " opts="baseInfo.selectCheckBoxPeople"></span>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <!-- 审批意见列表-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>审批意见列表</h4>
        <div class="form-inline">
            <span sog-simple-opinions="opinions"></span>
            <div class="clearfix"></div>
        </div>

    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>