<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/ComparePricePurchaseApprovalWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--<div sog-abort-opinion opinions="opinions"></div>-->
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <!--信息项组标题-->
        <!--采购信息标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 采购信息</h4>
        <!--采购信息内容-->
        <div ng-include="'views/comparePricePurchase/htmlTemplate/comparePricePurchaseBaseInfoReadOnly.html'"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--入围供应商标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 入围供应商<span style="color:red;">*</span></h4>
        <!--入围供应商内容-->
        <div supplier-scope data="viewModel.supplierScopeList" opts="settings.supplierScopeOpts" sog-valide-status="入围供应商" readonly="true"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--拟定中标供应商标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 拟定中标供应商<span style="color:red;">*</span></h4>
        <!--拟定中标供应商内容-->
        <div sign-contract opts="settings.signContractOpts" data="viewModel.perSignContractInfoList" read-only="true"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--附件标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>附件</h4>
        <!--附件内容-->
        <div class="form-inline clearfix">
            <div class="col-xs-12 col-sm-6 col-md-4 form-group sog-xs-style-sign">
                <label class="col-xs-6 control-label text-right" title="其他附件">其他附件</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span wf-uploader files="viewModel.otherFile" ready="fileReady" opts="fileopts" read-only="true"></span>
                </div>
            </div>
        </div>
        <!-- 评论列表-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
        <div class="form-inline form-inline-readonly clearfix">
            <div class="form-inline">
                <span sog-comment="opinions"></span>
            </div>
        </div>
        <!-- 审批-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>审批</h4>
        <div class="form-inline form-inline-readonly clearfix">
            <input wf-opinions opinions-opts="opinionOpts" opinions="opinions" predefined-opinions="predefinedOpinions" user-predefined-opinions="userPredefinedOpinions"
                   current-opinion="currentOpinion" url-base="/ComparePricePurchaseApprovalWf" />
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>

    <!--右侧通栏结束-->
</div>