<div class="form-inline">
    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right" title="采购名称">采购名称<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">{{viewModel.p_StrategyPurchasePlanCase.purchasePlanName}}</div>
    </div>
    <div class="clearfix "></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="招标人">招标人<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">{{viewModel.p_StrategyPurchasePlanCase.bidderName}}</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="供应商类别">供应商类别<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">{{viewModel.industryDomainName}}</div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="合作期限">合作期限<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">{{viewModel.p_StrategyPurchasePlanCase.cooperationDeadlineTypeName}}</div>
    </div>
    <div class="clearfix "></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-show="baseInfo.isShowUser">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="采购主责人">采购主责人<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <span ng-if="viewModel.purchaseMainUser" wf-user-presence="viewModel.purchaseMainUser" style="margin-left:10px;"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-show="baseInfo.isShowUser">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="商务负责人">商务负责人<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <span ng-if="viewModel.businessMainUser" wf-user-presence="viewModel.businessMainUser" style="margin-left:10px;"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-show="baseInfo.isShowUser">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="技术负责人">技术负责人<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <span ng-if="viewModel.technologyMainUser" wf-user-presence="viewModel.technologyMainUser" style="margin-left:10px;"></span>
        </div>
    </div>
    <div class="clearfix "></div>

    <div class="col-xs-12 col-sm-6 col-md-8 form-group">
        <label class="col-xs-6 col-sm-6 col-md-3 control-label" style="text-align:right" title="采购小组其他成员">采购小组其他成员<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-9 form-group baseifo-input">
            <span ng-repeat="user in viewModel.strategyPurchasePlanPersonList" wf-user-presence="user" style="margin-left:10px;"></span>
        </div>
    </div>
    <div class="clearfix "></div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right;line-height:50px;" title="工期/供货期">工期/供货期<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <p ng-bind-html="viewModel.p_StrategyPurchasePlanCase.timeLimitDescribe | htmlContent"></p>
        </div>
    </div>
    <div class="clearfix "></div>
    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right;line-height:50px;" title="本次招标范围和内容">
            本次招标范围和内容<span style="color:red;">*</span>
        </label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <p ng-bind-html="viewModel.p_StrategyPurchasePlanCase.purchaseContentDescribe | htmlContent"></p>
        </div>
    </div>
    <div class="clearfix "></div>
    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right;line-height:50px;" title="付款方式描述">付款方式描述<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <p ng-bind-html="viewModel.p_StrategyPurchasePlanCase.payWayDescribe | htmlContent"></p>
        </div>
    </div>
    <div class="clearfix "></div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-show="baseInfo.isShowbiddingReportFile">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="招标文件">招标文件<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <div wf-uploader ng-show="baseInfo.isEditbiddingReportFile" files="viewModel.biddingReportFile" opts="baseInfo.fileopts" ready="baseInfo.fileReady"></div>
            <div wf-uploader ng-show="!baseInfo.isEditbiddingReportFile" files="viewModel.biddingReportFile" read-only="true" opts="baseInfo.fileopts" ready="baseInfo.fileReady"></div>
        </div>
    </div>
    <div class="clearfix "></div>
</div>