<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                <th class="table-thead" style="text-align:center;">评标人</th>
                <th class="table-thead" style="text-align:center;">评标类型</th>
                <th class="table-thead" style="text-align:center;">历史评标报告</th>
                <th class="table-thead" style="text-align:center;">评标报告</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    {{$index+1}}
                </td>
                <td style="text-align:center;">
                    {{viewModel.purchaseOfFixedAssets.businessMainUserName}}
                </td>
                <td style="text-align:center;">
                    商务标
                </td>
                <td style="text-align:center;">
                    <div ng-if="viewModel.historyBusinessEvaluateFileList.length===0"> --</div>
                    <div ng-if="viewModel.historyBusinessEvaluateFileList.length!==0">
                        <p ng-repeat="evaluteFile in viewModel.historyBusinessEvaluateFileList|orderBy : 'round' : false">
                            <span ng-repeat="file in evaluteFile.clientFileInformationList">
                                <span wf-uploader files="[file]" opts="settings.fileopts" ready="settings.fileReady" read-only="true"></span>
                            </span>
                            <br />
                        </p>
                    </div>
                </td>
                <td style="text-align:center;">
                    <p ng-repeat="file in viewModel.businessEvaluateFile.clientFileInformationList">
                        <span wf-uploader files="[file]" opts="settings.fileOpts" ready="settings.fileReady" read-only="true"></span>
                        <br />
                    </p>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    {{$index+2}}
                </td>
                <td style="text-align:center;">{{viewModel.purchaseOfFixedAssets.technologyMainUserName}}</td>
                <td style="text-align:center;">技术标</td>
                <td style="text-align:center;">--</td>
                <td style="text-align:center;">
                    <p ng-repeat="file in viewModel.technologyEvaluateFile.clientFileInformationList">
                        <span wf-uploader files="[file]" opts="settings.fileOpts" ready="settings.fileReady" read-only="true"></span>
                        <br />
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>