<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                <th class="table-thead" style="text-align:center;">供应商名称</th>
                <th class="table-thead" style="text-align:center;">商务标</th>
                <th class="table-thead" style="text-align:center;">技术标</th>
                <th class="table-thead" style="text-align:center;">其他附件</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in viewModel.supplierReplyBiddingInfoSubmitList">

                <td style="text-align:center;">
                    {{$index+1}}
                </td>
                <td style="text-align:left;">
                    {{item.supplierName}}
                </td>
                <td style="text-align:center;">
                    <p ng-repeat="file in item.businessFileList">
                        <span wf-uploader files="[file]" opts="settings.fileOpts" ready="settings.fileReady" read-only="true"></span>
                        <br />
                    </p>
                </td>
                <td style="text-align:center;">
                    <p ng-repeat="file in item.technologyFileList">
                        <span wf-uploader files="[file]" opts="settings.fileOpts" ready="settings.fileReady" read-only="true"></span>
                        <br />
                    </p>
                </td>
                <td style="text-align:center;">
                    <p ng-repeat="file in item.otherFileList">
                        <span wf-uploader files="[file]" opts="settings.fileOpts" ready="settings.fileReady" read-only="true"></span>
                        <br />
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>