<style>
    .cursor {
        cursor: pointer;
    }
</style>
<div wf-title="title"></div>
<div class="staff-service">
    <div class="staff-service">
        <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
        <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/DirectCommissionedEngineeringAuditImplementationWf" wf-collect-data-fn="collectData"></div>
        <!--工具栏结束-->
        <!--流程导航开始-->
        <div ng-include="'views/common/flow-nav.html'"></div>
        <!--流程导航结束-->
        <!--表单正文开始，打印-->
        <div class="container appil-container">

            <!--页面标题开始-->
            <div class="page-header clearfix">
                <span>{{title}}</span>
                <small>单据编号：{{viewModel.flowNumber}}</small>
            </div>
            <!--页面标题结束-->
            <!--采购基本信息标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 采购基本信息</h4>
            <!--采购基本信息内容-->
            <div ng-include="'views/directCommissioned/engineering/htmlTemplate/directCommissionedEngineeringBaseInfo.html'"></div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!--委托信息标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 委托信息</h4>
            <!--委托信息内容-->
            <div purchase-delegation-info data="viewModel.purchaseDelegationInfoList" opts="settings.delegationOpts" readonly="true"
                 price-file="viewModel.pirceFile"></div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!--预算审核信息标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 预算审核信息</h4>
            <!--预算审核信息内容-->
            <div ng-include="'views/directCommissioned/engineering/htmlTemplate/directCommissionedEngineeringInitialAudit.html'"></div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!--复审单位信息标题-->
            <h4 class="control-heading bg-info">
                <i class="glyphicon glyphicon-list-alt"></i> 复审单位信息
            </h4>
            <!--复审单位信息内容-->
            <div class="form-inline">
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="复审单位">复审单位</label>
                    <div class="col-xs-6 form-group baseifo-input">
                        <div>{{viewModel.purchaseOfEngineering.outReTrialUnitName}}</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="复审负责人">复审负责人</label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <div>{{viewModel.purchaseOfEngineering.outReTrialPrincipalName}}</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="负责人手机号">负责人手机号</label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <span>{{viewModel.purchaseOfEngineering.outReTrialPrincipalPhone}}</span>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="最迟完成时间">最迟完成时间</label>
                    <div class="col-xs-6 form-group baseifo-input">
                        <span>{{viewModel.purchaseOfEngineering.outReTrialLastCompletionTime|date:'yyyy-MM-dd'}}</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="待办状态">待办状态</label>
                    <div class="col-xs-6 form-group baseifo-input">
                        <div ng-show="viewModel.purchaseOfEngineering.outReTrialTaskStateCode===0">
                            <span style="color:blue">&nbsp;&nbsp;未发出</span>
                        </div>
                        <div ng-show="viewModel.purchaseOfEngineering.outReTrialTaskStateCode===1">
                            <span style="color:blue">&nbsp;&nbsp;未回复</span>
                        </div>
                        <div ng-show="viewModel.purchaseOfEngineering.outReTrialTaskStateCode===2">
                            <span style="color:blue">&nbsp;&nbsp;已回复</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="实际完成时间">实际完成时间</label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        {{viewModel.purchaseOfEngineering.outReTrialActCompletionTime|date:'yyyy-MM-dd'}}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!--复审结果标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 复审结果</h4>
            <!--复审结果内容-->
            <div class="form-inline">
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="复审结论">复审结论</label>
                    <div class="col-xs-6 form-group baseifo-input">
                        出具审核报告
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="复审一致部分(元)">复审一致部分(元)</label>
                    <div class="col-xs-6 form-group baseifo-input text-right">
                        {{viewModel.purchaseOfEngineering.reTrialAgreedPartAmount|number:2}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="复审争议部分(元)">复审争议部分(元)</label>
                    <div class="col-xs-6 form-group baseifo-input text-right">
                        {{viewModel.purchaseOfEngineering.reTrialDisputePartAmount|number:2}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="审增金额(元)">审增金额(元)</label>
                    <div class="col-xs-6 form-group baseifo-input text-right">
                        {{viewModel.purchaseOfEngineering.reTrialAuditIncreaseAmount|number:2}}
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="一致部分复审核减金额">一致部分复审核减金额</label>
                    <div class="col-xs-6 form-group baseifo-input text-right">
                        {{viewModel.purchaseOfEngineering.reTrialAgreedPartAmountMinus|number:2}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="争议部分复审核减金额">争议部分复审核减金额</label>
                    <div class="col-xs-6 form-group baseifo-input text-right">
                        {{viewModel.purchaseOfEngineering.reTrialDisputePartAmountMinus|number:2}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="复审核减率(%)">复审核减率(%)</label>
                    <div class="col-xs-6 form-group baseifo-input text-right">
                        {{viewModel.purchaseOfEngineering.reTrialJudgementAmountMinusRate|number:2}}%
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="复审审定金额(元)">复审审定金额(元)</label>
                    <div class="col-xs-6 form-group baseifo-input text-right">
                        {{viewModel.purchaseOfEngineering.reTrialJudgementAmount|number:2}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="成本目标偏差金额(元)">成本目标偏差金额(元)</label>
                    <div class="col-xs-6 form-group baseifo-input text-right">
                        {{viewModel.purchaseOfEngineering.reTrialCostTargetDeviationAmount|number:2}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="成本目标偏差比例(%)">成本目标偏差比例(%)</label>
                    <div class="col-xs-6 form-group baseifo-input text-right">
                        {{viewModel.purchaseOfEngineering.reTrialCostTargetDeviationRate|number:2}}%
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.purchaseOfEngineering.reTrialIsExternalAuditor!==null">
                    <label class="text-right col-xs-6 control-label" title="是否外审">是否外审</label>
                    <div class="col-xs-6 form-group baseifo-input">
                        <span ng-show="viewModel.purchaseOfEngineering.reTrialIsExternalAuditor===true">是</span>
                        <span ng-show="viewModel.purchaseOfEngineering.reTrialIsExternalAuditor===false">否</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="复审单位">复审单位</label>
                    <div class="col-xs-6 form-group baseifo-input text-right">
                        {{viewModel.purchaseOfEngineering.reTrialUnitName}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label" title="复审报告编号">复审报告编号</label>
                    <div class="col-xs-6 form-group baseifo-input text-right">
                        {{viewModel.purchaseOfEngineering.reTrialReportNo}}
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="审计报告">审计报告</label>
                    <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input" sog-valide-status="审计报告">
                        <p ng-repeat="item in viewModel.auditReportFile">
                            <span wf-uploader files="[item]" opts="auditReportFileOpts" ready="auditReportFileReady" read-only="true"></span><br />
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="复审定案表">复审定案表</label>
                    <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input" sog-valide-status="复审定案表">
                        <p ng-repeat="item in viewModel.auditFinalFormFile">
                            <span wf-uploader files="[item]" opts="auditFinalFormFileOpts" ready="auditFinalFormFileReady" read-only="true"></span><br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!--预算资料清单标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 预算资料清单</h4>
            <!--预算资料内容-->
            <div ng-include="'views/directCommissioned/engineering/htmlTemplate/directCommossionedEngineeringMaterialMediumFile.html'"></div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!--其他附件标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 其他附件</h4>
            <!--其他附件内容-->
            <div ng-include="'views/directCommissioned/engineering/htmlTemplate/directCommissionedEngineeringOtherInfo.html'"></div>

            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!-- 评论列表-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
            <div class="form-inline">
                <div class="form-inline">
                    <span sog-comment="opinions"></span>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="clearfix"></div>
            </div>
            <!-- 审批意见列表-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 审批</h4>
            <div class="form-inline">
                <span sog-simple-opinions="opinions"></span>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--表单正文结束-->
        <!--页脚开始，不打印-->
        <div ng-include="'views/common/foot-copyright.html'"></div>
        <!--页脚结束-->
        <!--右侧通栏开始，不打印-->
        <div ng-include="'views/common/right-navigator.html'"></div>
    </div>
</div>  