<div class="staff-service">

    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/BiddingAssetsPurchaseConfirmTenderApprovalWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--左侧导航-->
        <div ng-if="viewModel.formAction.actionStateCode==2 || viewModel.formAction.actionStateCode==3" left-nav opts="settings.leftNavListOpts" data="viewModel.navOption.navigationList"></div>
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>

        <!--信息项组标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <!--采购基本信息内容-->
        <div ng-include="'views/bidding/assetsPurchase/htmlTemplate/biddingAssetsPurchaseBaseInfoReadOnly.html'"></div>
        <div class="clearfix"></div>

        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
            <label class="col-xs-6 control-label" title="合计中标金额" style="text-align:right">合计中标金额</label>
            <div class="col-xs-6 form-group baseifo-input">
                {{viewModel.purchaseBase.purchaseAmount | number:2}}
            </div>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 调整采购时间</h4>
        <div purchase-datearrange-info data="viewModel.purchaseDateArrangeInfoList" opts="settings.purchaseDateArrangeOpts"
             sog-valide-status="调整采购时间" readonly="true"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>

        <!--使用成本中心-->
        <div select-usecostcenter data="viewModel.useCostCenterInfoList" readonly="true" ng-show="viewModel.isUseCostCenter"></div>

        <h4 class="control-heading bg-info">
            <i class="glyphicon glyphicon-list-alt"></i>供应商投标信息
            <span style="font-size:13px">
                <a ng-click="lookInfo('evaluateTenderSummary')" style="color:blue;">查看评标详情</a>
                <a ng-click="lookInfo('draft')" style="color:blue;">查看招标基本信息</a>
            </span>
        </h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                        <th class="table-thead" style="text-align:center;">供应商名称</th>
                        <th class="table-thead" style="text-align:center;">最终回标价</th>
                        <th class="table-thead" style="text-align:center;">排名</th>
                        <th class="table-thead" style="text-align:center;">是否合格</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in viewModel.supplierScopeList">
                        <td style="text-align:center;">
                            {{$index+1}}
                        </td>
                        <td style="text-align:left;">
                            {{item.supplierName}}
                        </td>
                        <td style="text-align:right;">
                            {{item.finalQuoteAmount | number:2}}
                        </td>
                        <td style="text-align:center;">
                            {{item.ranking}}
                        </td>
                        <td style="text-align:center;">
                            <span ng-if="item.isQualified">合格</span>
                            <span ng-if="!item.isQualified">不合格</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>

        <h4 class="control-heading bg-info">
            <i class="glyphicon glyphicon-list-alt"></i> 中标情况
            <span style="color:red;font-size:12px;padding-left:10px;">提示：每行对应一个合同，若签订多个合同，请选择多行</span>
        </h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                        <th class="table-thead" style="text-align:center;">供应商名称</th>
                        <th class="table-thead" style="text-align:center;">法人主体</th>
                        <th class="table-thead" style="text-align:center;">拟签订合同金额（元）</th>
                        <th class="table-thead" style="text-align:center;">采购内容</th>
                        <th class="table-thead" style="text-align:center;">是否首轮最低价中标</th>
                        <th class="table-thead" style="text-align:center;">说明</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in viewModel.perSignContractInfoList">
                        <td style="text-align:center;">
                            {{$index+1}}
                        </td>
                        <td style="text-align:center;">
                            {{item.supplierName}}
                        </td>
                        <td style="text-align:center;">
                            {{item.corporationName}}
                        </td>
                        <td style="text-align: right;" class="col-xs-2 col-sm-2 col-md-2">
                            {{item.perSignContractAmount|number:2}}
                        </td>
                        <td style="width:220px">
                            <div sog-valide-status="" search-fixed-assets opts="settings.fixedAssetsOpts" index="$index" data="item" read-only="true"></div>
                        </td>
                        <td style="width:60px" class="text-center">
                            <span ng-show="item.isFirstRoundBottomPrice">是</span>
                            <span ng-show="!item.isFirstRoundBottomPrice">否</span>
                        </td>
                        <td style="text-align:left;" class="col-xs-2 col-sm-2 col-md-2">
                            {{item.explain}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>附件</h4>
        <div ng-include="'views/bidding/assetsPurchase/htmlTemplate/biddingAssetsPurchaseConfirmReportFile.html'"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>

        <!--传阅-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>传阅</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right" title="传阅人">传阅人</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <span ng-repeat="user in viewModel.circularizePersons" wf-user-presence="user" style="margin-left:10px;"></span>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <!-- 评论列表-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
        <div class="form-inline">
            <div class="form-inline">
                <span sog-comment="opinions"></span>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <!-- 入围审批意见列表-->
        <div application-opinion data="viewModel.applicationApprovalOpinion" read-only="true" opinion-opts="opinionOpts"></div>
        <!--定标其他审批流-->
        <div ng-show="viewModel.isUseCostCenter">
            <h4 class="control-heading bg-info">
                <i class="glyphicon glyphicon-list-alt"></i> 定标其他审批流
                <input type="button" style="margin-left:82%;font-weight:900;background-color:#d9edf7;" name="name" value="{{settings.spreadButtonName}}" class="btn" ng-click="settings.spreadInfoFn()" />
            </h4>
            <div class="form-inline" ng-show="settings.isSpreadInfo">
                <span sog-simple-opinions="viewModel.otherOpinions"></span>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- 审批意见列表-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 定标审批</h4>
        <div class="form-inline">
            <input wf-opinions opinions-opts="opinionOpts" opinions="viewModel.awardApprovalOpinion" predefined-opinions="predefinedOpinions" user-predefined-opinions="userPredefinedOpinions"
                   current-opinion="currentOpinion" url-base="/BiddingAssetsPurchaseConfirmTenderApprovalWf" />
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>