<div class="form-inline">
    <div class="col-xs-12 col-sm-12 col-md-12 form-group" ng-show="viewModel.pageShow.isShowUpstreamProcessMarketingUrl">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="上游流程" style="text-align:right;">上游流程</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <span>{{viewModel.purchaseOfMarketing.upstreamProcessGuideName}}</span>
            <span ng-if="viewModel.purchaseOfMarketing.upstreamProcessURL != ''">/</span>
            <div ng-if="viewModel.purchaseOfMarketing.upstreamProcessURL != ''" open-extra-link extra-link="viewModel.purchaseOfMarketing.upstreamProcessURL" extra-name="viewModel.purchaseOfMarketing.upstreamProcessName"></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="采购名称" style="text-align:right;">采购名称<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <span>{{viewModel.purchaseBase.purchaseName}}</span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="项目名称" style="text-align:right">项目名称<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseOfMarketing.projectName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="采购主责人" style="text-align:right;">采购主责人<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span ng-if="viewModel.purchaseMainUser" wf-user-presence="viewModel.purchaseMainUser"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="是否涉及工程" style="text-align:right">是否涉及工程<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span class="btn checkbox-label-not" ng-class="{'checkbox-label-this':viewModel.purchaseOfMarketing.isInvolveEngineering == true}">涉及</span>
            <span class="btn checkbox-label-not" ng-class="{'checkbox-label-this':viewModel.purchaseOfMarketing.isInvolveEngineering == false}">不涉及</span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="公司" style="text-align:right">公司<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span>{{viewModel.corporationScope[0].corporationName}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="记账公司" style="text-align:right">记账公司<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span>{{viewModel.purchaseOfMarketing.chargeCompanyName}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="成本中心" style="text-align:right">成本中心<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span>{{viewModel.purchaseOfMarketing.costCenterName}}</span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="本次采购范围和内容">本次采购范围和内容<span style="color:red;">*</span></label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">

            <textarea ng-model="viewModel.purchaseOfMarketing.purchaseContent" style="width:100%;" readonly="readonly"></textarea>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="直接委托理由" style="text-align:right">直接委托理由<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span>{{viewModel.purchaseOfMarketing.directDelegationReasonName}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="营销采购分类" style="text-align:right">营销采购分类<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span>{{viewModel.purchaseOfMarketing.marketingPurchaseTypeName}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="营销费用预算" style="text-align:right">营销费用预算<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <span>{{viewModel.purchaseOfMarketing.marketingBudgetAmount | number:2}}</span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="isApproval">
        <label class="col-xs-6 control-label text-right" title="支出类型">支出类型</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseBase.expenditureTypeName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseProject && isApproval">
        <label class="col-xs-6 control-label text-right" title="使用项目">使用项目</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseBase.useProjectName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseCostCenter && isApproval">
        <label class="col-xs-6 control-label text-right" title="使用记账公司">使用记账公司</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseBase.useChargeCompanyName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseCostCenter && isApproval">
        <label class="col-xs-6 control-label text-right" title="使用成本中心">使用成本中心</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseBase.useCostCenterName}}
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 control-label" title="本次拟采购金额（元）" style="text-align:right">本次拟采购金额（元）<span style="color:red;">*</span></label>
        <div class="col-xs-6 form-group baseifo-input">
            <div>
                {{viewModel.purchaseBase.purchaseAmount|number:2}}
            </div>
        </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="clearfix"></div>
</div>