<div class="staff-service">

    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/BiddingMaintenanceApplicationWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--左侧导航-->
        <div ng-show="viewModel.formAction.actionStateCode==2 || viewModel.formAction.actionStateCode==3 " left-nav opts="baseInfo.leftNavListOpts" data="viewModel.navOption.navigationList"></div>
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <!--信息项组标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div class="form-inline">

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="项目名称" style="text-align:right">项目名称<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input" sog-valide-status="项目">
                    <div select-multiple-project opts="api.projectOpts" data="viewModel.projectScopeList"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="预计采购金额" style="text-align:right">预计采购金额（元）<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <div>
                        <div wf-money opts="baseInfo.moneyOpts" class="meeting" ng-model="viewModel.purchaseBase.perPurchaseAmount" ng-blur="baseInfo.purchaseAmountChange()"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label text-right" title="支出类型">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" title="本项目支出：正常的合同签订方式，是指本项目/本单位使用，并在本项目/本单位列支；
跨项目列支：是指A项目使用的费用，要在B项目列支；
平台在项目列支：是指集团或者事业部平台使用的费用，要在项目上列支；
若事业部平台和项目共用记账公司，平台发生费用时需选择“平台在项目列支”，否则无法选到正确的成本中心；" style="color:red"></span>
                    支出类型<span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select sog-valide-status="支付类型" style="width:100%;" class="meeting" ng-model="viewModel.purchaseBase.expenditureTypeCode" ng-options="p.code as p.name for p in viewModel.option.expenditureTypeList" ng-selected="p.code == viewModel.purchaseBase.expenditureTypeCode" ng-change="baseInfo.expenditureTypeChange();">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseProject">
                <label class="col-xs-6 control-label text-right" title="使用项目">使用项目<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input text-right" sog-valide-status="使用项目">
                    <div rc-select-project opts="api.useProjectOpts"></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="招标人" style="text-align:right">招标人<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <div>
                        <div select-multiple-corporation data="viewModel.corporationScopeList" opts="api.corporationOpts"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="指合同的列支记账公司" style="text-align:right" ng-show="viewModel.isUseCostCenter">记账公司<span style="color:red;">*</span></label>
                <label class="col-xs-6 control-label" title="记账公司" style="text-align:right" ng-show="!viewModel.isUseCostCenter">记账公司<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select style="width:100%;" class="meeting" ng-model="viewModel.purchaseOfMaintenance.chargeCompanyCode" ng-change="chargeCompanyChange();" ng-options="p.code as p.name for p in viewModel.option.chargeCompany" ng-selected="p.code == viewModel.purchaseOfMaintenance.chargeCompanyCode">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="指合同的列支成本中心" style="text-align:right" ng-show="viewModel.isUseCostCenter">成本中心<span style="color:red;">*</span></label>
                <label class="col-xs-6 control-label" title="成本中心" style="text-align:right" ng-show="!viewModel.isUseCostCenter">成本中心<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select style="width:100%;" class="meeting" ng-model="viewModel.purchaseOfMaintenance.costCenterCode" ng-change="costCenterChange();" ng-options="p.code as p.name for p in  viewModel.option.costCenter" ng-selected="p.code == viewModel.purchaseOfMaintenance.costCenterCode">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="采购名称" style="text-align:right;">采购名称<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <input style="width:60%;" class="meeting" title="{{viewModel.purchaseBase.purchaseName}}" ng-model="viewModel.purchaseBase.purchaseName" />
                    <span style="color:red;">提示：采购名称不允许超过30个字符</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="本次招标范围和内容" style="text-align:right;">
                    本次招标范围和内容<span style="color:red;">*</span>
                    <br />
                    <span style="color:red;font-size:9pt;font-weight:bold;">外网供应商可见，请谨慎填写！</span>
                </label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <textarea ng-model="viewModel.purchaseOfMaintenance.purchaseContent" style="width:100%;height:54px;"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 采购时间安排<span style="color:red;">*</span></h4>
        <div purchase-datearrange-info data="viewModel.purchaseDateArrangeInfo" opts="baseInfo.purchaseDateArrangeOpts"
             sog-valide-status="采购时间安排"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 采购小组成员<span style="color:red;">*</span></h4>

        <div class="form-inline">

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="采购主责人" style="text-align:right;">采购主责人<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <div class="list-group-item-text"><span sog-ogu-input="viewModel.purchaseMainUser" opts="baseInfo.peopleSelect"></span></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="商务主责人" style="text-align:right;">商务主责人<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <div class="list-group-item-text"><span sog-ogu-input="viewModel.businessMainUser" opts="baseInfo.peopleSelect"></span></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="技术主责人" style="text-align:right;">技术主责人<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <div class="list-group-item-text"><span sog-ogu-input="viewModel.technologyMainUser" opts="baseInfo.peopleSelect"></span></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>

        <!--使用成本中心-->
        <div select-usecostcenter data="viewModel.useCostCenterInfoList" expend-type="viewModel.purchaseBase.expenditureTypeCode" main-code="viewModel.mainCostCenterCode" readonly="false" isproject="true" ng-show="viewModel.isUseCostCenter"></div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 入围供应商<span style="color:red;">*</span></h4>
        <div supplier-scope data="viewModel.supplierScopeList" opts="api.supplierScopeOpts"
             sog-valide-status="入围供应商"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 附件</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="招标文件" style="text-align:right;">招标文件<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <div wf-uploader files="viewModel.reportFile" opts="baseInfo.fileopts" ready="fileReady" read-only="fillFileReadOnly"></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="其他附件" style="text-align:right;">其他附件</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <div wf-uploader files="viewModel.otherFile" opts="baseInfo.fileopts" ready="fileReady" read-only="fillFileReadOnly"></div>
                    <div class="clearfix"></div>
                    <i style="color:red;">提示：可上传其他相关附件，仅用于内部审批，入围供应商无法查看。</i>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <!--传阅-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>传阅人</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label " title="传阅人 ">传阅人</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <span sog-ogu-input="viewModel.circularizePersons " opts="baseInfo.selectCheckBoxPeople"></span>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
        <div class="form-inline">
            <div class="form-inline">
                <span sog-comment="opinions"></span>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <!--其他审批流-->
        <div ng-show="viewModel.isUseCostCenter && isApprovalShow">
            <h4 class="control-heading bg-info">
                <i class="glyphicon glyphicon-list-alt"></i> 其他审批流
                <input type="button" style="margin-left:82%;font-weight:900;background-color:#d9edf7;" name="name" value="{{settings.spreadButtonName}}" class="btn" ng-click="settings.spreadInfoFn()" />
            </h4>
            <div class="form-inline" ng-show="settings.isSpreadInfo">
                <span sog-simple-opinions="viewModel.otherOpinions"></span>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- 审批意见列表-->
        <h4 class="control-heading bg-info" ng-show="isApprovalShow"><i class="glyphicon glyphicon-list-alt"></i>审批意见列表</h4>
        <div class="form-inline" ng-show="isApprovalShow">
            <span sog-simple-opinions="opinions"></span>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>