<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/BiddingProjectDefineNullifiedApprovalWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 废标</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" style="text-align:right;line-height:50px;" title="废标原因">废标原因<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-bind-html="viewModel.purchaseOfProjectDefine.abandonBiddingReason | htmlContent"></p>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div ng-include="'views/bidding/projectDefine/htmlTemplate/biddingProjectDefineBaseInfoReadOnly.html'"></div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <!--供应商回标标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 供应商回标</h4>
        <!--供应商回标内容-->
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="table-thead" style="text-align:center;width:5%;">序号</th>
                        <th class="table-thead" style="text-align:center;">供应商名称</th>
                        <th class="table-thead" style="text-align:center;">验证码</th>
                        <th class="table-thead" style="text-align:center;">投标联系人</th>
                        <th class="table-thead" style="text-align:center;">联系电话</th>
                        <th class="table-thead" style="text-align:center;">联系邮箱</th>
                        <th class="table-thead" style="text-align:center;">回标状态</th>
                        <th class="table-thead" style="text-align:center;">回标时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in viewModel.supplierScopeList">
                        <td class="text-center">{{$index+1}}</td>
                        <td class="text-left"><span open-supplier-info supplier="item"></span></td>
                        <td class="text-center">{{item.verificationCode}}</td>
                        <td class="text-center">{{item.linkManName}}</td>
                        <td class="text-center">{{item.linkEmail}}</td>
                        <td class="text-center">{{item.linkPhone}}</td>
                        <td style="text-align:center;">{{item.isReplyBidding?'已回标':'未回标'}}</td>
                        <td style="text-align:center;">
                            {{(item.replyBiddingDate|date:'yyyy-MM-dd HH:mm')=="0001-01-01 00:00"?"":item.replyBiddingDate|date:'yyyy-MM-dd HH:mm'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!-- 评论列表-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
        <div class="form-inline">
            <div class="form-inline">
                <span sog-comment="opinions"></span>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <!-- 审批意见列表-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>审批意见列表</h4>
        <div class="form-inline">
            <input wf-opinions opinions-opts="opinionOpts" opinions="opinions" predefined-opinions="predefinedOpinions" user-predefined-opinions="userPredefinedOpinions"
                   current-opinion="currentOpinion" url-base="/BiddingProjectDefineNullifiedApprovalWf" />
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>

