<div class="staff-service">
    <div class="container appil-container">
        <div class="page-header clearfix"><span>京东购账号申请-组织联系人管理</span></div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;搜索</h4>
        <div class="form-inline clearfix">

            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label">关键字</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <input class="meeting" placeholder="组织名称" ng-model="viewModel.organizationName">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <div class="col-xs-12 form-group baseifo-input text-left">
                    <button class="btn btn-primary btn-sm" style="padding-left:20px;padding-right:20px;" ng-click="viewModel.query()">搜&nbsp;索</button>
                </div>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;组织联系人列表</h4>
        <button ng-click="addDetail()" class="btn btn-primary" style="cursor:pointer">+增加</button>
        <div class="form-inline clearfix">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:40px;"></th>
                            <th class="text-center">事业部/专业线名称</th>
                            <th class="text-center">联系人姓名</th>
                            <th class="text-center">联系人电话</th>
                            <th class="text-center">联系人邮箱</th>
                            <th class="text-center">创建时间</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-repeat="item in viewModel.userList">
                            <td><span style="display:inline-block;white-space:nowrap;">{{$index+1}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.organizationName}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.contactNames}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.telephones}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.emails}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.createTime|date:'yyyy-MM-dd'}}</span></td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="delete(item);">删除</button>
                            </td>
                        </tr>
                        <tr class="text-center" ng-if="viewModel.userList.length===0">
                            <td colspan="7">暂无相关数据！</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--分页-->
            <div tm-pagination="viewModel.paginationConf" class="pull-right clearfix" style="margin-right:10px;"></div>
        </div>

    </div>
</div>