<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net462" />
  <package id="bootstrap" version="3.4.1" targetFramework="net462" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net462" />
  <package id="Castle.Core.AsyncInterceptor" version="2.1.0" targetFramework="net462" />
  <package id="Castle.Facilities.AspNet.SystemWeb" version="5.0.1" targetFramework="net462" />
  <package id="Castle.LoggingFacility" version="5.0.1" targetFramework="net462" />
  <package id="Castle.Windsor" version="5.0.1" targetFramework="net462" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net462" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net462" />
  <package id="jQuery" version="3.4.1" targetFramework="net462" />
  <package id="jQuery.Validation" version="1.17.0" targetFramework="net462" />
  <package id="Mcs" version="5.8.0" targetFramework="net462" />
  <package id="MCS.Library" version="2.6.1" targetFramework="net462" />
  <package id="MCS.Library.ADHelper" version="2.0.0" targetFramework="net462" />
  <package id="MCS.Library.Compression" version="2.0.0" targetFramework="net462" />
  <package id="MCS.Library.Data" version="2.2.0" targetFramework="net462" />
  <package id="MCS.Library.Office" version="2.0.0" targetFramework="net462" />
  <package id="MCS.Library.Office.OpenXml.Excel" version="2.0.0" targetFramework="net462" />
  <package id="MCS.Library.OGUPermission" version="2.1.2" targetFramework="net462" />
  <package id="MCS.Library.Passport" version="2.0.0" targetFramework="net462" />
  <package id="MCS.Library.SOA.DataObjects" version="2.3.0" targetFramework="net462" />
  <package id="MCS.Library.SOA.DataObjects.Evaluation" version="1.0.0" targetFramework="net462" />
  <package id="MCS.Library.SOA.DataObjects.Questionnaire" version="1.0.0" targetFramework="net462" />
  <package id="MCS.Library.SOA.DataObjects.Schemas.Client" version="2.0.0" targetFramework="net462" />
  <package id="MCS.Library.SOA.DataObjects.Security.AUClient" version="2.0.0" targetFramework="net462" />
  <package id="MCS.Library.SOA.Web.WebControls" version="1.7.2" targetFramework="net462" />
  <package id="MCS.Library.WcfExtensions" version="1.0.0.0" targetFramework="net462" />
  <package id="MCS.Library.Workflow" version="1.1.0.0" targetFramework="net462" />
  <package id="Mcs.Web" version="5.8.0" targetFramework="net462" />
  <package id="Mcs.Web.Common" version="5.8.0" targetFramework="net462" />
  <package id="MCS.Web.Library" version="1.2.0.0" targetFramework="net462" />
  <package id="MCS.Web.Library.Script.Json" version="2.0.0" targetFramework="net462" />
  <package id="Mcs.Web.Mvc" version="5.8.0" targetFramework="net462" />
  <package id="MCS.Web.MVC.Library" version="1.0.0.103" targetFramework="net462" />
  <package id="MCS.Web.Responsive.Library" version="1.0.0.103" targetFramework="net462" />
  <package id="MCS.Web.WebControls" version="1.3.0.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc.zh-Hans" version="5.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor.zh-Hans" version="3.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Web.Optimization.zh-Hans" version="1.1.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages.zh-Hans" version="3.2.9" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.1.4" targetFramework="net462" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.1.4" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.4" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.4" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="3.1.4" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.4" targetFramework="net462" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.11" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.1" targetFramework="net462" />
  <package id="Modernizr" version="2.8.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="Nito.AsyncEx.Context" version="5.0.0" targetFramework="net462" />
  <package id="Nito.AsyncEx.Coordination" version="5.0.0" targetFramework="net462" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net462" />
  <package id="Nito.Collections.Deque" version="1.0.4" targetFramework="net462" />
  <package id="Nito.Disposables" version="2.0.0" targetFramework="net462" />
  <package id="NUglify" version="1.5.14" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="RestSharp" version="106.11.7" targetFramework="net462" />
  <package id="RestSharp.Serializers.NewtonsoftJson" version="106.11.7" targetFramework="net462" />
  <package id="Seagull2.Components" version="2.5.0" targetFramework="net462" />
  <package id="Seagull2.Core" version="4.2.1" targetFramework="net462" />
  <package id="Seagull2.Owin" version="4.5.1" targetFramework="net462" />
  <package id="Seagull2.Owin.Workflow" version="4.3.1" targetFramework="net462" />
  <package id="SinoOcean.Seagull2.OGUPermission" version="1.0.0.0" targetFramework="net462" />
  <package id="SinoOcean.Seagull2.TransactionData.Evaluation" version="1.0.0" targetFramework="net462" />
  <package id="SinoOcean.Seagull2.TransactionData.Questionnaire" version="1.0.0" targetFramework="net462" />
  <package id="SOL.Web.Library.Mvc" version="1.0.0.0" targetFramework="net462" />
  <package id="SOL.Web.Library.Mvc.WebControls" version="1.0.0.0" targetFramework="net462" />
  <package id="SOL.Web.Library.Mvc.Workflow" version="1.1.0.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net462" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net462" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net462" />
  <package id="System.DirectoryServices" version="4.0.0" targetFramework="net462" />
  <package id="System.Linq.Dynamic.Core" version="1.1.1" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net462" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net462" />
  <package id="System.Threading" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net462" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net462" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net462" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" targetFramework="net462" />
  <package id="TimeZoneConverter" version="3.2.0" targetFramework="net462" />
  <package id="Unity" version="4.0.1" targetFramework="net462" />
  <package id="Unity.Abstractions" version="5.11.7" targetFramework="net462" />
  <package id="Unity.Configuration" version="5.11.2" targetFramework="net462" />
  <package id="Unity.Container" version="5.11.11" targetFramework="net462" />
  <package id="WebGrease" version="1.6.0" targetFramework="net462" />
</packages>