<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/NonContractRenewApprovalWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--<div sog-abort-opinion opinions="opinions"></div>-->
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>无合同采购重新分摊</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <!--信息项组标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div ng-include="'views/nonContractPurchaseRenew/htmlTemplate/nonContractRenewBaseInfo.html'"></div>
        <div ng-show="viewModel.purchaseOfNoContract.hasPrepaymentRefund==true||viewModel.purchaseOfNoContract.hasPrepaymentRefund=='true'">
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>返还款信息明细栏</h4>
            <div class="form-inline form-inline-readonly clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                    <div class="table-responsive flow-table-box">
                        <table class="table table-bordered table-striped" style="width: 200%;">
                            <thead>
                                <tr>
                                    <th class="table-thead" style="text-align:center;vertical-align:middle">序号</th>
                                    <th class="table-thead" style="text-align:center;vertical-align:middle">返还类型</th>
                                    <th class="table-thead" style="text-align:center;vertical-align:middle">费用类型</th>
                                    <th class="table-thead" style="text-align:center;vertical-align:middle">对应合约</th>
                                    <th class="table-thead" style="text-align:center;vertical-align:middle">实际返还金额</th>
                                    <th class="table-thead" style="text-align:center;vertical-align:middle">实际返还比例（%）</th>
                                    <th class="table-thead" style="text-align:center;vertical-align:middle">实际返还日期</th>
                                    <th class="table-thead" style="text-align:center;vertical-align:middle">返还状态</th>
                                    <th class="table-thead" style="text-align:center;vertical-align:middle">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in viewModel.repaymentInfoList">
                                    <td style="text-align:center;">{{$index+1}}</td>
                                    <td class="text-left" style="width:15%;">{{item.returnTypeName}}</td>
                                    <td class="text-left" style="width:25%;">{{item.feeNames}}</td>
                                    <td class="text-left">{{item.correspondingContract}}</td>
                                    <td class="text-right">{{item.amountReturned | number:2}}</td>
                                    <td class="text-right">{{item.actualRefundScale | number:2}}</td>
                                    <td class="text-left">{{item.returnDateTime | date:'yyyy-MM-dd'}}</td>
                                    <td class="text-left">
                                        <span ng-if="item.statusCode==0||item.statusCode==1">返还中</span>
                                        <span ng-if="item.statusCode==2">已返还</span>
                                    </td>
                                    <td class="text-right">
                                        <a href="javascript:void(0)" ng-if="item.formUrl!=null&&item.formUrl!=''" style="color:blue;text-decoration:none;cursor:pointer;" ng-click="baseInfo.showPrepayRefund(item)">查看</a>
                                        <span ng-if="item.formUrl==null||item.formUrl==''">查看</span>
                                    </td>
                                </tr>
                                <tr class="text-center">
                                    <td colspan="4" class="text-center">合计</td>
                                    <td class="text-right">{{repaymentInfoTotal.amountReturnedTotal | number:2}}</td>
                                    <td class="text-right">{{repaymentInfoTotal.actualRefundScaleTotal | number:2}}</td>
                                    <td colspan="3"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flow-table-icon"> </div>
                </div>
            </div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>合约规划</h4>
        <div contract-agreement-split-info opts="baseInfo.contractAgreementOpts" data="viewModel.contractAgreementScopeList"></div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>成本归属</h4>
        <div class="form-inline form-inline-readonly clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <div class="table-responsive flow-table-box">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">序号</th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle;width:200px !important;">成本科目</th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">
                                    <span>科目成本</span><br />
                                    <span style="color:red;font-weight:bolder;">【A】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle;width:110px !important;">
                                    <span style="color:red;">*</span><span>本单分摊金额</span><br />
                                    <span style="color:red;font-weight:bolder;">【B】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">
                                    <span>已发生采购</span><br />
                                    <span style="color:red;font-weight:bolder;">【C】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">
                                    <span>预估待发生金额</span><br />
                                    <span style="color:red;font-weight:bolder;">【D】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">
                                    <span>可用余量</span><br />
                                    <span style="color:red;font-weight:bolder;">【A-B-C-D】</span>
                                </th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle"><span style="color:red;">*</span>业态范围</th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle"><span style="color:red;">*</span>分配方式</th>
                                <th class="table-thead" style="text-align:center;vertical-align:middle">自定义比例</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="agree in viewModel.contractAgreementScopeList">
                            <tr ng-repeat="item in agree.contractAgreementSplitInfoList">
                                <td class="text-center">{{$index+1}}</td>
                                <td class="text-center">{{item.costCourseName}}</td>
                                <td class="text-right">{{item.costTargetAmount | number:2}}</td>
                                <td class="text-right">{{item.actualAmount | number:2}}</td>
                                <td class="text-right">{{item.accumulativeHappenedAmountWithTax | number:2}}</td>
                                <td class="text-right">
                                    <span ng-if="item.forecastHappenAmountWithTax != null">{{item.forecastHappenAmountWithTax | number:2}}</span>
                                    <span ng-if="item.forecastHappenAmountWithTax == null">{{item.originForecastHappenAmountWithTax | number:2}}</span>
                                </td>
                                <td class="text-right">{{item.surplusValueWithTax | number:2}}</td>
                                <td title="{{item.businessTypeNames}}">
                                    {{item.businessTypeNames |txtLimitLength:true:20:' ...'}}
                                </td>
                                <td class="text-center">
                                    {{item.allotTypeName}}
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.allotTypeCode==3">
                                        <button ng-click="baseInfo.checkallotType(item, $index)" class="glyphicon btn in-crease">查看</button>
                                    </span>
                                    <span ng-show="!(item.allotTypeCode==3)">--</span>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td colspan="2" class="text-center">合计</td>
                                <td class="text-right">{{agree.allCostTargetAmount | number:2}}</td>
                                <td class="text-right">{{agree.allActualAmount | number:2}}</td>
                                <td class="text-right">{{agree.allAccumulativeHappenedAmountWithTax | number:2}}</td>
                                <td class="text-right">{{agree.allForecastHappenAmountWithTax | number:2}}</td>
                                <td class="text-right">{{agree.allSurplusValueWithTax | number:2}}</td>
                                <td colspan="3"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flow-table-icon"> </div>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>附件</h4>
        <div ng-include="'views/nonContractPurchaseRenew/htmlTemplate/nonContractRenewCommonFile.html'"></div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>传阅</h4>
        <div class="form-inline form-inline-readonly clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group sog-xs-style-sign">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="传阅人" style="text-align:right">传阅人</label>
                <div class="col-xs-6 col-sm-8 col-md-8 form-group baseifo-input">
                    <span ng-repeat="tt in viewModel.circularizePersons">
                        <span wf-user-presence="tt"></span>
                    </span>
                </div>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
        <div class="form-inline form-inline-readonly clearfix">
            <div class="form-inline">
                <span sog-comment="opinions"></span>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>审批</h4>
        <div class="form-inline form-inline-readonly clearfix">
            <input wf-opinions url-base="/PurchaseApprovalWf" opinions-opts="opinionOpts" opinions="opinions" predefined-opinions="predefinedOpinions"
                   user-predefined-opinions="userPredefinedOpinions" current-opinion="currentOpinion" />
        </div>

    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>

    <!--右侧通栏结束-->
</div>
<style>
    @media (max-width: 767px) {
        .form-group label {
            text-align: left !important;
        }
    }
</style>