<!--重要信息-->
<div class="form-inline" ng-show="viewModel.isEmphasis!==false">
    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="采购名称">采购名称</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            {{viewModel.purchaseBase.purchaseName}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="法人公司">招标人</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <span ng-repeat="item in viewModel.corporationScopeList">{{item.corporationName}}  <br /></span>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="供应商类别">供应商类别</label>
        <div class="col-xs-6 form-group baseifo-input">
            <span ng-repeat="item in viewModel.industryDomainScope"> {{item.industryDomainName}} <br /></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="采购类别">采购类别</label>
        <div class="col-xs-6 form-group baseifo-input ">
            {{viewModel.purchaseOfImplement.purchaseCategoryName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="是否示范区采购">是否示范区采购</label>
        <div class="col-xs-6 form-group baseifo-input ">
            <span ng-show="viewModel.purchaseOfImplement.isExampleArea===true">是</span>
            <span ng-show="viewModel.purchaseOfImplement.isExampleArea!==true">否</span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="isShowTenderFile">
        <label class="text-right col-xs-6 control-label" title="使用招标清单">招标清单</label>
        <div class="col-xs-6 form-group baseifo-input ">
            <span ng-show="viewModel.purchaseBase.isUsedTenderFile===true">使用</span>
            <span ng-show="viewModel.purchaseBase.isUsedTenderFile!==true">不使用</span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-show="viewModel.isAdmin===true">
        <label class="text-right col-xs-6 control-label" title="本次采购成本目标">本次采购成本目标</label>
        <div class="col-xs-6 form-group baseifo-input text-right">
            {{viewModel.purchaseOfImplement.purchaseCostTargetAmount|number:2}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="建筑面积">建筑面积</label>
        <div class="col-xs-6 form-group baseifo-input text-right">
            {{viewModel.purchaseOfImplement.buildingArea|number:2}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="建设单方成本目标">建设单方成本目标</label>
        <div class="col-xs-6 form-group baseifo-input text-right">
            {{viewModel.purchaseOfImplement.buildingCostTargetPerArea|number:2}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="合同价格形式">合同价格形式</label>
        <div class="col-xs-6 form-group baseifo-input ">
            {{viewModel.purchaseOfImplement.contractPriceTypeName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="定标专项单方">定标专项单方</label>
        <div class="col-xs-6 form-group baseifo-input text-right ">
            {{viewModel.purchaseOfImplement.calibrationSpecialPrice|number:2}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 form-group">
        <label class="text-right col-xs-6 col-sm-6 col-md-2 control-label" title="本次招标范围和内容 ">
            本次招标范围和内容
            <br />
        </label>
        <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
            <p ng-bind-html="viewModel.purchaseOfImplement.purchaseContent | htmlContent"></p>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 form-group">
        <label class="text-right col-xs-6 col-sm-6 col-md-2 control-label" title="付款方式描述">付款方式描述</label>
        <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
            <p ng-bind-html="viewModel.purchaseOfImplement.paymentWayDescribe | htmlContent"></p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--详细信息-->
<div class="form-inline" ng-show="viewModel.isEmphasis===false">
    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="采购名称">采购名称</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            {{viewModel.purchaseBase.purchaseName}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="isApproval">
        <label class="col-xs-6 control-label text-right" title="支出类型">支出类型</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseBase.expenditureTypeName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseProject && isApproval">
        <label class="col-xs-6 control-label text-right" title="使用项目">使用项目</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseBase.useProjectName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseProject && isApproval">
        <label class="col-xs-6 control-label text-right" title="使用期区">使用期区</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseBase.useStageAreaName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseCostCenter && isApproval">
        <label class="col-xs-6 control-label text-right" title="使用记账公司">使用记账公司</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseBase.useChargeCompanyName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseCostCenter && isApproval">
        <label class="col-xs-6 control-label text-right" title="使用成本中心">使用成本中心</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseBase.useCostCenterName}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label ng-if="!viewModel.isUseProject" class="text-right col-xs-6 control-label" title="项目名称">项目名称</label>
        <label ng-if="viewModel.isUseProject" class="text-right col-xs-6 control-label" title="合约的列支项目">项目名称</label>
        <div class="col-xs-6 form-group baseifo-input">
            <span ng-repeat="item in viewModel.projectScopeList">{{item.projectName}} <br /></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 form-group">
        <label ng-if="!viewModel.isUseProject" class="text-right col-xs-6 col-sm-6 col-md-3 control-label" title="期区">期区</label>
        <label ng-if="viewModel.isUseProject" class="text-right col-xs-6 col-sm-6 col-md-3 control-label" title="合约的列支期区">期区</label>
        <div class="col-xs-6 col-sm-6 col-md-9 form-group baseifo-input ">
            <span ng-repeat="item in viewModel.stageAreaScopeList">{{item.projectName}}-{{item.stageAreaName}} <br /></span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="法人公司">招标人</label>
        <div class="col-xs-6 form-group baseifo-input">
            <span ng-repeat="item in viewModel.corporationScopeList">{{item.corporationName}} <br /></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="记账公司">记账公司</label>
        <div class="col-xs-6 form-group baseifo-input ">
            {{viewModel.purchaseOfImplement.chargeCompanyName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="成本中心">成本中心</label>
        <div class="col-xs-6 form-group baseifo-input ">
            {{viewModel.purchaseOfImplement.costCenterName}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="供应商类别">供应商类别</label>
        <div class="col-xs-6 form-group baseifo-input">
            <span ng-repeat="item in viewModel.industryDomainScope">{{item.industryDomainName}} <br /></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="采购类别">采购类别</label>
        <div class="col-xs-6 form-group baseifo-input ">
            {{viewModel.purchaseOfImplement.purchaseCategoryName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="定标专项单方">定标专项单方</label>
        <div class="col-xs-6 form-group baseifo-input text-right ">
            {{viewModel.purchaseOfImplement.calibrationSpecialPrice|number:2}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="isShowTenderFile">
        <label class="text-right col-xs-6 control-label" title="使用招标清单">招标清单</label>
        <div class="col-xs-6 form-group baseifo-input ">
            <span ng-show="viewModel.purchaseBase.isUsedTenderFile===true">使用</span>
            <span ng-show="viewModel.purchaseBase.isUsedTenderFile!==true">不使用</span>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 form-group">
        <label class="text-right col-xs-6 col-sm-6 col-md-2 control-label" title="建设地点">建设地点</label>
        <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
            {{viewModel.purchaseOfImplement.cityInput.fullPathNameReadOnly}}
            &nbsp;
            {{viewModel.purchaseOfImplement.buildDetailAddress}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-show="viewModel.isAdmin===true">
        <label class="text-right col-xs-6 control-label" title="本次采购成本目标">本次采购成本目标</label>
        <div class="col-xs-6 form-group baseifo-input text-right">
            {{viewModel.purchaseOfImplement.purchaseCostTargetAmount|number:2}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="是否示范区采购">是否需要缴纳保证金</label>
        <div class="col-xs-6 form-group baseifo-input ">
            <span ng-show="viewModel.purchaseOfImplement.isNeedPaymentDeposit===true">是</span>
            <span ng-show="viewModel.purchaseOfImplement.isNeedPaymentDeposit!==true">否</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-show="viewModel.purchaseOfImplement.isNeedPaymentDeposit===true">
        <label class="text-right col-xs-6 control-label" title="各供应商应缴纳保证金金额">各供应商应缴纳保证金金额</label>
        <div class="col-xs-6 form-group baseifo-input text-right">
            {{viewModel.purchaseOfImplement.needPaymentDepositAmount|number:2}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="合同价格形式">合同价格形式</label>
        <div class="col-xs-6 form-group baseifo-input ">
            {{viewModel.purchaseOfImplement.contractPriceTypeName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="计价方式">计价方式</label>
        <div class="col-xs-6 form-group baseifo-input ">
            {{viewModel.purchaseOfImplement.valuationWayName}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="建筑面积">建筑面积</label>
        <div class="col-xs-6 form-group baseifo-input text-right">
            {{viewModel.purchaseOfImplement.buildingArea|number:2}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="单价（元）">单价（元）</label>
        <div class="col-xs-6 form-group baseifo-input text-right">
            {{viewModel.purchaseOfImplement.price|number:2}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="建设单方成本目标">建设单方成本目标</label>
        <div class="col-xs-6 form-group baseifo-input text-right">
            {{viewModel.purchaseOfImplement.buildingCostTargetPerArea|number:2}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 form-group">
        <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="本次招标范围和内容 ">
            本次招标范围和内容
            <br />
        </label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <p ng-bind-html="viewModel.purchaseOfImplement.purchaseContent | htmlContent"></p>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 form-group">
        <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="付款方式描述">付款方式描述</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <p ng-bind-html="viewModel.purchaseOfImplement.paymentWayDescribe | htmlContent"></p>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-4 form-group">
        <label class="text-right col-xs-6 control-label" title="中标总金额">中标总金额</label>
        <div class="col-xs-6 form-group baseifo-input text-right">
            {{viewModel.totalBiddingTotalPrice|number:2}}
        </div>
    </div>
    <div class="clearfix"></div>
</div>