<h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>基本信息</h4>
<div class="form-inline">
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="城市">城市</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchasePlanCase.cityName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="项目">项目</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchasePlanCase.projectName}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="期区">期区</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchasePlanCase.stageAreaName}}
        </div>
    </div>
    <div class="clearfix "></div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="事业部">事业部</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <div ng-if="sceneId =='Draft'">
                <div ng-if="viewModel.purchasePlanCase.constructCenterCode =='' || viewModel.purchasePlanCase.constructCenterCode == null">
                    <select style="width:100%;" class="meeting" ng-model="viewModel.purchasePlanCase.constructCenterCode" ng-change="organizationChange();" ng-options="p.code as p.name for p in  viewModel.option.organizations" ng-selected="p.code == viewModel.purchasePlanCase.constructCenterCode">
                        <option value="">--请选择--</option>
                    </select>
                </div>
                <div ng-if="viewModel.purchasePlanCase.constructCenterCode !='' && viewModel.purchasePlanCase.constructCenterCode != null">
                    {{viewModel.purchasePlanCase.constructCenterName}}
                </div>
            </div>
            <div ng-if="sceneId !='Draft'">{{viewModel.purchasePlanCase.constructCenterName}}</div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="编制人">编制人</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            <span ng-if="viewModel.drafter" wf-user-presence="viewModel.drafter" style="margin-left:10px;"></span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="编制时间">编制时间</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.formAction.createTime|date:'yyyy-MM-dd'}}
        </div>
    </div>
    <div class="clearfix "></div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="采购计划总条数">采购计划总条数</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchasePlanCase.purchasePlanDetailCount}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="预计采购总金额">预计采购总金额</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchasePlanCase.preTotalAmount|number:2}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="col-xs-6 col-sm-6 col-md-6 control-label" style="text-align:right" title="实际已采购总金额">实际已采购总金额</label>
        <div class="col-xs-6 col-sm-6 col-md-6 form-group baseifo-input">
            {{viewModel.purchasePlanCase.actualTotalAmount|number:2}}
        </div>
    </div>
    <div class="clearfix "></div>
    <div class="col-xs-12 col-sm-6 col-md-6 form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="text-align:right" title="编制版本">编制版本</label>
        <div class="col-xs-8 col-sm-8 col-md-8 form-group baseifo-input">
            <div ng-if="!readonly&&!viewModel.isPlanVersion" class="switch-btn-box" sog-valide-status="编制版本" style="width:130px;">
                <span class="btn checkbox-label-not"
                      ng-class="{'checkbox-label-this':viewModel.purchasePlanCase.planVersion===2}"
                      ng-click="setplanVersion(2)">月度版</span>
                <span class="btn checkbox-label-not"
                      ng-class="{'checkbox-label-this':viewModel.purchasePlanCase.planVersion===1}"
                      ng-click="setplanVersion(1)">年度版</span>
            </div>
            <div ng-if="readonly||viewModel.isPlanVersion">
                <span ng-show="viewModel.purchasePlanCase.planVersion===1">年度版</span>
                <span ng-show="viewModel.purchasePlanCase.planVersion===2">月度版</span>
            </div>
        </div>
    </div>
    <div class="clearfix "></div>
    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="col-xs-2 col-sm-2 col-md-2 control-label" style="text-align:right" title="编制说明">编制说明</label>
        <div class="col-xs-10 col-sm-10 col-md-10 form-group baseifo-input">
            <input ng-disabled="readonly" type="text" class="meeting" ng-model="viewModel.purchasePlanCase.planExplain" maxlength="1000" />
        </div>
    </div>
    <div class="clearfix "></div>
</div>