<div wf-right-side-navigator configs="{ opinionUrl: 'https://workflow.sinooceangroup.com/MCSWebApp/SinoOcean.Seagull2.ConsumerSatisfaction/Survey/SurveyForOrderProblem/AnswerOrderProblemLong.ashx?processDescKey=AnswerSurveyForOrderProblemLong',
       docs: [
            { title: '规范指引', category: '', more: '更多流程文件' },
            { title: '知识案例', category: '知识'   , more: '更多知识案例'},
            { title: '法律法规', category: '法律法规', more: '更多法律法规' }
     ] }"
     links="relativeLinks" customer-info="[{applicationName:'采购管理'}]"></div>