<div class="tab-content-result" style="font-size:12px;">
    <div class="tab-content-tbl">
        <table class="table table-striped fc-table">
            <thead>
                <tr>
                    <th class="fc-th-name text-center">序号</th>
                    <th class="fc-th-name text-center">采购名称</th>
                    <th class="fc-th-title text-center">采购方式</th>
                    <th class="fc-th-start text-center">开始时间</th>
                    <th class="fc-th-org text-center">完成时间</th>
                    <th class="fc-th-date text-center">历时（天）</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in taskList">
                    <td class="text-center">{{(paginationFinished.currentPage -1 )* paginationFinished.itemsPerPage + $index + 1}}</td>
                    <td class="text-left">
                        <a ng-click="mainPage.openUserTask(item.purchaseUrl)" style="white-space:normal;color:#0000FF">{{item.purchaseName}} </a>
                    </td>
                    <td class="text-center">{{item.purchaseType}}</td>
                    <td class="text-center">{{item.purchaseStartDate|date:'yyyy-MM-dd'}}</td>
                    <td class="text-center">{{item.purchaseEndDate|date:'yyyy-MM-dd'}}</td>
                    <td class="text-center">{{item.usingDates| number : 0 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix tab-content-pagination">
        <div ng-if="paginationFinished.itemsPerPage < paginationFinished.totalItems" tm-pagination="paginationFinished" class="fc-pagination pull-center"></div>
        <div ng-if="taskCount.completedTaskNum == 0" class="text-center">暂无数据</div>
    </div>
</div>
         

