<div class="staff-service">
    <div class="container appil-container">
        <div class="page-header clearfix"><span>京东购账号管理操作日志</span></div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;搜索</h4>
        <div class="form-inline clearfix">

            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label">京东账户</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <input class="meeting" ng-model="viewModel.queryCondition.jdMallUserName">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label">操作类型</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select class="meeting" ng-model="viewModel.queryCondition.operationMode">
                        <option value="">--请选择--</option>
                        <option value="1">新增</option>
                        <option value="2">编辑</option>
                        <option value="3">删除</option>
                        <option value="4">置为有效</option>
                        <option value="5">置为无效</option>
                        <option value="6">初始化</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <div class="col-xs-12 form-group baseifo-input text-left">
                    <button class="btn btn-primary btn-sm" style="padding-left:20px;padding-right:20px;" ng-click="viewModel.query()">搜&nbsp;索</button>
                    <a href="default.htm#/JdMallUsers" class="btn btn-primary btn-sm" style="padding-left:20px;padding-right:20px;" >返&nbsp;回</a>
                </div>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;日志列表</h4>
        <div class="form-inline clearfix">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:40px;"></th>
                            <th class="text-center">操作人</th>
                            <th class="text-center">京东账户</th>
                            <th class="text-center">操作类型</th>
                            <th class="text-left">日志详细</th>
                            <th class="text-center">操作时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in viewModel.logList">
                            <td class="text-left"><span style="display:inline-block;white-space:nowrap;">{{$index+1}}</span></td>
                            <td class="text-left"><span style="display:inline-block;white-space:nowrap;">{{item.creatorDisplayName}}-({{item.creatorLoginName}})</span></td>
                            <td class="text-left"><span style="display:inline-block;white-space:nowrap;">{{item.jdMallUserName}}</span></td>
                            <td class="text-left"><span style="display:inline-block;white-space:nowrap;">{{getActionTitle(item.operationMode)}}</span></td>
                            <td class="text-left"><span style="display:inline-block;  white-space:nowrap;" title="{{item.description}}">{{item.description | limitTo:45}}...</span></td>
                            <td class="text-center"><span style="display:inline-block;white-space:nowrap;">{{item.createTime|date:'yyyy-MM-dd hh:mm:ss'}}</span></td>
                        </tr>
                        <tr class="text-center" ng-if="viewModel.userList.length===0">
                            <td colspan="6">暂无相关数据！</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--分页-->
            <div tm-pagination="viewModel.paginationConf" class="pull-right clearfix" style="margin-right:10px;"></div>
        </div>

    </div>
</div>