<div class="staff-service">
    <div class="container appil-container">
        <div class="page-header clearfix"><span>京东购账号管理</span></div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;搜索</h4>
        <div class="form-inline clearfix">

            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label">关键字</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <input class="meeting" ng-model="viewModel.queryCondition.userName">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label">状态</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select class="meeting" ng-model="viewModel.queryCondition.validStatus">
                        <option value="">--请选择--</option>
                        <option value="1">有效</option>
                        <option value="0">无效</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-top:2px;">
                <div class="col-xs-12 form-group baseifo-input text-left">
                    <button class="btn btn-primary btn-sm" style="padding-left:20px;padding-right:20px;" ng-click="viewModel.query()">搜&nbsp;索</button>
                    <button ng-show="viewModel.hasPermission && viewModel.userList.length <=0 " class="btn btn-primary btn-sm" style="padding-left:20px;padding-right:20px;" ng-click="import()">初始化数据</button>
                    <a ng-show="viewModel.hasPermission" class="btn btn-primary btn-sm" style="padding-left:20px;padding-right:20px;" href="default.htm#/JdMallUserLogs">操作日志</a>
                </div>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;用户列表</h4>
        <button ng-show="viewModel.hasPermission" ng-click="addDetail()" class="btn btn-primary" style="cursor:pointer">+增加</button>
        <div class="form-inline clearfix">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:40px;"></th>
                            <th class="text-center">京东用户名称</th>
                            <!--<th class="text-center">用户密码</th>-->
                            <th class="text-center">关联账号登录名称</th>
                            <th class="text-center">关联账号显示名称</th>
                            <th class="text-center">备注</th>
                            <th class="text-center">创建时间</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">操作</th>
                            <th class="text-center">日志</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-repeat="item in viewModel.userList">
                            <td><span style="display:inline-block;white-space:nowrap;">{{$index+1}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.jdUserName}}</span></td>
                            <!--<td><span style="display:inline-block;white-space:nowrap;">{{item.jdPassword}}</span></td>-->
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.sysUserLoginName}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.sysUserDisplayName}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.description}}</span></td>
                            <td><span style="display:inline-block;white-space:nowrap;">{{item.createTime|date:'yyyy-MM-dd'}}</span></td>
                            <td><button ng-class="item.validStatus?'btn btn-primary':'btn btn-danger'">{{item.validStatus?'有效':'无效'}}</button></td>
                            <td>
                                <button ng-if="!item.validStatus" ng-disabled="!viewModel.hasPermission" class="btn btn-primary" ng-click="change(item);">置为有效</button>
                                <button ng-if="item.validStatus" ng-disabled="!viewModel.hasPermission" class="btn btn-default" ng-click="change(item);">置为无效</button>
                                <button ng-if="item.validStatus" type="button" ng-disabled="!viewModel.hasPermission" class="btn btn-primary" ng-click="edit(item);">编辑</button>
                                <button type="button" class="btn btn-danger" ng-disabled="!viewModel.hasPermission" ng-click="delete(item);">删除</button>
                            </td>
                            <td>
                                <a ng-show="viewModel.hasPermission" ng-click="logView(item.code)" style="color: blue;">查看</a>
                            </td>
                        </tr>
                        <tr class="text-center" ng-if="viewModel.userList.length===0">
                            <td colspan="9">暂无相关数据！</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--分页-->
            <div tm-pagination="viewModel.paginationConf" class="pull-right clearfix" style="margin-right:10px;"></div>
        </div>

    </div>
</div>