<!--意见可编辑页面-->
<div class="form-inline" ng-if="settings.editSate">
    <div class="col-xs-12 form-group">
        <div class="col-xs-2 text-center" style="background-color:#5DC4E8;padding:4px;color:white;">
            {{opinionInfo.specialtyName}}
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-xs-12" style="border:1px solid #E4E4E4;">
            <div class="col-xs-2 text-center form-group" style="line-height:30px;">
                {{opinionInfo.feedbackUserName}}
            </div>
            <div class="col-xs-10 form-group" style="border-left:2px solid #E4E4E4;padding-left:1%;">
                <div class="form-group baseifo-input col-xs-12" style="padding:3px;display:block;">
                    <input type="radio" name="specialtyOpinion" ng-value="true" ng-model="viewModel.specialtyOpinionTyoeCode" />同意
                    <input type="radio" name="specialtyOpinion" ng-value="false" ng-model="viewModel.specialtyOpinionTyoeCode" style="margin-left: 6%;" />不同意
                </div>
                <div class="form-group baseifo-input col-xs-12">
                    <textarea sog-valide-status="本次招标范围和内容" type="text" class="meeting" style="height:100px;"
                              ng-model="viewModel.specialtyOpinionContent" placeholder="您可对该采购的供应商入围标准、预计节点时间进行意见或建议反馈，也可以填写您的推荐供应商及推荐理由"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!--意见只读展示页面-->
<div ng-repeat="opinionLinkList in viewModel.materialFeedbackOpinionInfoList" ng-if="!settings.editSate">
    <div class="form-inline">
        <div class="col-xs-12 form-group">
            <div class="col-xs-2 text-center" style="background-color:#5DC4E8;padding:4px;color:white;">{{opinionLinkList.opinionSpecialtyName}}</div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-12" style="border:1px solid #E4E4E4;">
                <div class="col-xs-2 text-center form-group" style="line-height:30px;">{{opinionLinkList.opinionEditorName}}</div>
                <div class="col-xs-10 form-group" style="border-left:2px solid #E4E4E4;padding:1% 1% 0 1%;">
                    <div ng-repeat="itemOpinion in opinionLinkList.opinionInfoList">
                        <div class="form-group col-xs-12">
                            <input type="radio" ng-checked="itemOpinion.specialtyOpinionTyoeCode == 1" disabled />同意
                            <input type="radio" ng-checked="itemOpinion.specialtyOpinionTyoeCode == 2" disabled style="margin-left: 6%;" />不同意
                        </div>
                        <div class="form-group col-xs-12 text-left" style="padding:3px;display:block;">
                            <p ng-bind-html="itemOpinion.specialtyOpinionContent | htmlContent"></p>
                        </div>
                        <div class="form-group col-xs-12 text-right">
                            <span>一</span>&nbsp;
                            <span>{{itemOpinion.createTime |date:'yyyy-MM-dd HH:mm'}}</span>&nbsp;&nbsp;
                            <span>{{itemOpinion.opinionEditorName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
