<!--采购计划选择页面-->
<div class="staff-service">
    <div class="appil-container">
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;搜索条件</h4>
        <div class="form-inline clearfix">
           
            <div class="col-xs-12 col-sm-6 col-md-6 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label">项目<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <div rc-select-project opts="settings.projectOpts"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 form-group" style="margin-top:2px;">
                <label class="col-xs-6 control-label">期区<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select class="meeting" ng-model="settings.queryCondition.stageAreaCode"
                            ng-options="type.code as type.name for type in purchasePlanModel.stageAreaScopeList">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 form-group" style="margin-top:2px;">
                <label class="col-xs-6 col-sm-3 col-md-4 control-label">关键字</label>
                <div class="col-xs-6 col-sm-6 col-md-8 form-group baseifo-input">
                    <input class="meeting" ng-model="settings.queryCondition.keyWords">
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 form-group" style="margin-top:2px;">
                <div class="col-xs-6 form-group baseifo-input">
                    <button class="btn btn-primary btn-sm" style="padding-left:20px;padding-right:20px;" ng-click="purchasePlanFn.query()">搜索</button>
                </div>
            </div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;采购计划列表</h4>
        <div class="table-responsive" style="height:300px">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center" style="width:40px;"></th>
                        <th style="text-align:center;">序号</th>
                        <th style="text-align:center;">采购名称</th>
                        <th style="text-align:center;">合约名称</th>
                        <th style="text-align:center;">预计进场/供货时间</th>
                        <th style="text-align:center;">采购预计开始时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in purchasePlanModel.purhcaesPlanList" ng-click="purchasePlanFn.chooseItem(item)" class="text-center" >
                        <td style="text-align:center;">
                            <input type="radio" name="purchasePlan" />
                        </td>
                        <td style="text-align:center;">
                            {{$index+1}}
                        </td>
                        <td class="text-left">
                            <span>{{item.purchaseName}}</span>
                        </td>
                        <td class="text-left">
                            <span>{{item.contractAgreementName}}</span>
                        </td>
                        <td class="text-center">
                            <span>{{item.preEnterSupplyDate |date:'yyyy-MM-dd'}}</span>
                        </td>
                        <td class="text-center">
                            <span>{{item.preStartDate |date:'yyyy-MM-dd'}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--分页-->
            <div tm-pagination="purchasePlanModel.purchasePlanConf" class="pull-right clearfix" style="margin-right:10px;"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeThisDialog();">取消</button>
    <button type="button" class="btn btn-primary" ng-click="purchasePlanFn.confirm();">确定</button>
</div>

