<!--待办退回说明-->
<div class="staff-service">
    <div class="appil-container col-xs-12" style="margin:10px 0 40px 0;">
        <div class="col-xs-10" style="margin-left:5%;">
            <label class="col-xs-4 text-left"><span style="color:red;">*</span>待办接收人：</label>
            <div class="col-xs-8 form-group baseifo-input">
                <span sog-ogu-input="rebackModel.taskAcceptUser" opts="settings.peopleSelect"></span>
            </div>
        </div>
        <div class="col-xs-10" style="margin-left:5%;">
            <label class="text-left col-xs-12"><span style="color:red;">*</span>退回理由：</label>
            <div class="col-xs-12 form-group baseifo-input">
                <textarea class="col-xs-12" style="margin-left:2%;" type="text" placeholder="" ng-model="rebackModel.reBackReason"></textarea>
            </div>
        </div>
        <div class="col-xs-10" style="margin-left:5%;">
            <label class="col-xs-4 text-left">相关附件：</label>
            <div class="col-xs-8 form-group baseifo-input">
                <span wf-uploader files="rebackModel.reBackReasonFile" opts="settings.feedbackFileOpt" ready="auditReportFileReady" read-only="false"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeThisDialog();">取消</button>
    <button type="button" class="btn btn-primary" style="margin-right:41%" ng-click="confirmTaskReturn();">确定</button>
</div>

