<!--待办重发-->
<div class="staff-service">

</div>
<div class="staff-service">
    <div class="appil-container col-xs-12">
        <div class="col-xs-10" style="margin:10px 5% 10px 5%;">
            <label class="text-right col-xs-6 control-label"><span style="color:red;">*</span>待办接收人：</label>
            <div class="col-xs-6 form-group baseifo-input">
                <span sog-ogu-input="taskModel.taskAcceptUser" opts="settings.peopleSelect"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeThisDialog();">取消</button>
    <button type="button" class="btn btn-primary" style="margin-right:41%" ng-click="confirmTaskRepeat();">确定</button>
</div>

