<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/BiddingNotProjectStartContractWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--左侧导航-->
        <div ng-show="viewModel.formAction.actionStateCode==2 || viewModel.formAction.actionStateCode==3 " left-nav opts="baseInfo.leftNavListOpts" data="viewModel.navOption.navigationList"></div>
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div ng-include="'views/bidding/notProject/htmlTemplate/biddingNotProjectBaseInfoReadOnly.html'"></div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>中标情况</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center;width:5%;" class="col-xs-2 col-sm-2 col-md-2">序号</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">供应商名称</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">法人主体</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">拟签订合同金额（元）</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">合同经办人</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2" ng-if="baseInfo.isShowContractOption">合同状态</th>
                        <th style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2" ng-if="baseInfo.isShowContractOption">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="supplier in viewModel.perSignContractInfoPEMus|orderBy : 'sortNo' : false">
                        <td class="text-center">{{$index+1}}</td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">{{supplier.supplierName}}</td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">{{supplier.corporationName}}</td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">{{supplier.perSignContractAmount|number:2}}</td>
                        <td style="text-align:center;" class="col-xs-2 col-sm-2 col-md-2">
                            <span ng-if="!baseInfo.isShowContractOption ||(supplier.contractStateCode!==2 && supplier.contractStateCode!==0)===true" opts="baseInfo.selectRadioPeople" wf-user-presence="supplier.operatorUser"></span>
                            <span ng-if="(baseInfo.isShowContractOption && supplier.contractStateCode===2)===true" opts="baseInfo.selectRadioPeople" sog-ogu-input="supplier.operatorUser"></span>
                        </td>
                        <td class="text-center" ng-if="baseInfo.isShowContractOption">
                            <span>{{supplier.contractStateName}}</span>
                        </td>
                        <td class="text-center" ng-if="baseInfo.isShowContractOption">
                            <a ng-if="(supplier.contractStateCode!==2 && supplier.contractStateCode!==0)===true" style="color:blue;" ng-click="lookContarctInfo(supplier)">查看详情</a>
                            <button ng-if="(supplier.contractStateCode===2 || supplier.contractStateCode===0)===true" class="btn btn-primary" style="cursor:pointer;color:white;" ng-click="resetStartContract(supplier)">重新发起</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 附件</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="商务评标报告" style="text-align:right;">商务评标报告</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-repeat="item in viewModel.scalingBusinessFile">
                        <span wf-uploader files="[item]" read-only="true" opts="baseInfo.fileopts" ready="baseInfo.fileReady"></span><br />
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="技术标评标报告" style="text-align:right;">技术标评标报告</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-repeat="item in viewModel.scalingTechnologyFile">
                        <span wf-uploader files="[item]" read-only="true" opts="baseInfo.fileopts" ready="baseInfo.fileReady"></span><br />
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="定标报告" style="text-align:right;">定标报告<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-repeat="item in viewModel.scalingFile">
                        <span wf-uploader files="[item]" read-only="true" opts="baseInfo.fileopts" ready="baseInfo.fileReady"></span><br />
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="其他附件" style="text-align:right;">其他附件</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-repeat="item in viewModel.scalingOtherFile">
                        <span wf-uploader files="[item]" read-only="true" opts="baseInfo.fileopts" ready="baseInfo.fileReady"></span><br />
                    </p>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>