<div class="form-inline">
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="初审一致部分(元)">初审一致部分(元)</label>
        <div class="col-xs-6 form-group baseifo-input text-right">
            {{viewModel.purchaseOfImplement.firstTrialAgreedPartAmount|number:2}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="初审争议部分(元)">初审争议部分(元)</label>
        <div class="col-xs-6 form-group baseifo-input text-right">
            {{viewModel.purchaseOfImplement.firstTrialDisputePartAmount|number:2}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="初审完成时间">初审完成时间</label>
        <div class="col-xs-6 form-group baseifo-input">
            {{viewModel.purchaseOfImplement.firstTrialCompleteDate|date:'yyyy-MM-dd'}}
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
        <label class="text-right col-xs-6 control-label" title="成本偏差金额(元) ">成本偏差金额(元)</label>
        <div class="col-xs-6 form-group baseifo-input text-right">
            {{viewModel.purchaseOfImplement.firstTrialCostTargetDeviationAmount|number:2}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 form-group">
        <label class="text-right col-xs-6 col-sm-6 col-md-3 control-label" title="成本偏差比例(%) ">成本偏差比例(%)</label>
        <div class="col-xs-6 col-sm-6 col-md-3 form-group baseifo-input text-right">
            {{viewModel.purchaseOfImplement.firstTrialCostTargetDeviationRate|number:2}}%
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 form-group">
        <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="成本目标偏差说明 ">成本目标偏差说明 </label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <p ng-bind-html="viewModel.purchaseOfImplement.firstTrialCostTargetDeviationExplain | htmlContent"></p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="预算初审报告">预算初审报告</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <p ng-repeat="item in viewModel.budgetReportFile">
                <span wf-uploader files="[item]" opts="budgetReportFileOpts" ready="budgetReportFileReady" read-only="true"></span><br />
            </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="预算定案表">预算定案表</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <p ng-repeat="item in viewModel.budgetFinalFormFile">
                <span wf-uploader files="[item]" opts="budgetFinalFormFileOpts" ready="budgetFinalFormFileReady" read-only="true"></span><br />
            </p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 form-group" ng-if="viewModel.purchaseOfImplement.firstTrialIsNeedSeal!==null">
        <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="初审附件盖章">初审附件盖章</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            <span ng-show="viewModel.purchaseOfImplement.firstTrialIsNeedSeal===true">需要</span>
            <span ng-show="viewModel.purchaseOfImplement.firstTrialIsNeedSeal===false">不需要</span>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
        <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="初审单位">初审单位</label>
        <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
            {{viewModel.purchaseOfImplement.firstTrialUnitName}}
        </div>
    </div>
</div>