<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/StrategyGroupCommissionedDraftWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>直接委托(集团战略采购)</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <!--信息项组标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>基本信息</h4>
        <!--基本信息-->
        <div class="form-inline">
            <!--基本信息-->
            <div class="col-xs-12 col-sm-6 col-md-8 form-group">
                <label class="col-xs-6 col-md-3 control-label" style="text-align:right" title="采购名称">采购名称</label>
                <div class="col-xs-6 col-md-9 form-group baseifo-input">
                    <span>{{viewModel.p_StrategyPurchasePlanCase.purchasePlanName}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="采购主责人" style="text-align:right">采购主责人</label>
                <div class="col-xs-6 form-group baseifo-input" style="height:26px">
                    <span ng-if="viewModel.purchaseMainUser" wf-user-presence="viewModel.purchaseMainUser"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="招标人" style="text-align:right"> 招标人</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span>{{viewModel.p_StrategyPurchasePlanCase.bidderName}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="采购类别" style="text-align:right">供应商类别</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span ng-init="baseInfo.supplierTypeInit()">{{viewModel.industryDomainName}}</span>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="合约分类" style="text-align:right"> 合约分类</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span>{{viewModel.p_StrategyPurchasePlanCase.contractAgreementTypeName}}</span>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="采购小组成员" style="text-align:right"> 采购小组成员</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <span ng-repeat="user in viewModel.strategyPurchasePlanPersonList" wf-user-presence="user" style="margin-right:3px;"></span>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="工期/供货期" style="text-align:right">工期/供货期</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <textarea type="text" class="meeting" style="height:60px;" placeholder="" ng-model="viewModel.p_StrategyPurchasePlanCase.timeLimitDescribe" ng-readonly="true"></textarea>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="本次采购范围和内容" style="text-align:right">本次采购范围和内容</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <textarea type="text" class="meeting" style="height:60px;" placeholder="" ng-model="viewModel.p_StrategyPurchasePlanCase.purchaseContentDescribe" ng-readonly="true"></textarea>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="付款方式描述" style="text-align:right"> 付款方式描述</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <textarea type="text" class="meeting" style="height:60px;" placeholder="" ng-model="viewModel.p_StrategyPurchasePlanCase.payWayDescribe" ng-readonly="true"></textarea>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="相关附件" style="text-align:right">
                    相关附件
                </label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <span wf-uploader files="viewModel.reportFile.clientFileInformationList" opts="baseInfo.fileopts" ready="fileReady" read-only="true"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="是否续签" style="text-align:right">
                    是否续签
                </label>
                <div class="col-xs-6 form-group baseifo-input">
                    <div class="switch-btn-box">
                        <span class="btn checkbox-label-not"
                              ng-class="{'checkbox-label-this':viewModel.p_StrategyPurchasePlanCase.isRenew===true}">是</span>
                        <span class="btn checkbox-label-not"
                              ng-class="{'checkbox-label-this':viewModel.p_StrategyPurchasePlanCase.isRenew!==true}">否</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.p_StrategyPurchasePlanCase.isRenew">
                <label class="col-xs-6 control-label" title="续签协议" style="text-align:right">
                    续签协议
                </label>
                <div class="col-xs-6 form-group baseifo-input">
                    {{viewModel.p_StrategyPurchasePlanCase.renewStrategyPurchaseAgreementName}}
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
            <!--战略协议信息*-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>战略协议信息 <span style="color:red">*</span></h4>
            <div class="table-responsive col-xs-12">
                <table class="table table-hover">
                    <thead>
                        <tr style="text-align:center;">
                            <th class="table-thead" style="text-align:center;">序号</th>
                            <th class="table-thead" style="text-align:center;">供应商名称</th>
                            <th class="table-thead" style="text-align:center;">行业领域</th>
                            <th class="table-thead" style="text-align:center;">战采协议名称</th>
                            <th class="table-thead" style="text-align:center;">框架协议附件</th>
                            <th class="table-thead" style="text-align:center;">协议份数</th>
                            <th class="table-thead" style="text-align:center;">报价清单</th>
                            <th class="table-thead" style="text-align:center;">战采指导手册</th>
                            <th class="table-thead" style="text-align:center;">协议开始时间</th>
                            <th class="table-thead" style="text-align:center;">协议结束时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in viewModel.p_StrategyPurchaseAgreementInfos">
                            <td>{{$index+1}}</td>
                            <td>{{item.supplierName}}</td>
                            <td>{{item.industryDomainName}}</td>
                            <td>
                                <input type="text" class="meeting" ng-model="item.agreementName" ng-readonly="true">
                            </td>
                            <td>
                                <span wf-uploader files="item.agreementFile" opts="baseInfo.fileopts " ready="fileReady" read-only="true"></span>
                            </td>
                            <td>
                                <div class="meeting" style="width:40px;" wf-digital opts="baseInfo.optsInt" ng-model="item.agreementCopies" ng-readonly="true"></div>
                            </td>
                            <td>
                                <span wf-uploader files="item.quoteDetailedFile" opts="baseInfo.fileopts" ready="fileReady" read-only="true"></span>
                            </td>
                            <td>
                                <span wf-uploader files="item.strategyDirectFile" opts="baseInfo.fileopts" ready="fileReady" read-only="true"></span>
                            </td>
                            <td>
                                <span>{{item.startDate | date: 'yyyy-MM-dd'}}</span>
                            </td>
                            <td>
                                <span>{{item.endDate | date: 'yyyy-MM-dd'}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
            <!--传阅-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>传阅</h4>
            <div class="col-xs-12">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label " title="传阅人 ">传阅人</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <span ng-repeat="user in viewModel.circularizePersons" wf-user-presence="user" style="margin-right:3px;"></span>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
        <div class="form-inline">
            <div class="form-inline">
                <span sog-comment="opinions"></span>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>

        <!-- 审批意见列表-->
        <h4 class="control-heading bg-info" ng-show="isOpinionsShow"><i class="glyphicon glyphicon-list-alt"></i>审批意见列表</h4>
        <div class="form-inline" ng-show="isOpinionsShow">
            <span sog-simple-opinions="opinions"></span>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>