<!--头部-->
<link rel="stylesheet" type="text/css" href="./../ReimbursementV2/css/cg_news.css">
<link rel="stylesheet" type="text/css" href="./../ReimbursementV2/css/fonts/iconfont.css">
<script src="./../ReimbursementV2/css/fonts/iconfont.js"></script>
<header class="white container clearfix ">
    <div class="fl">
        <a href="">
            <svg class="icon fl" aria-hidden="true">
                <use xlink:href="#iconyuanyangjituan"></use>
            </svg>
            <h1 class="fr">采购门户</h1>
        </a>
    </div>
    <div class="fr">
        <a href="/THRWebApp/Contacts/#/home/content/"><span class="iconfont">&#xe640;</span>通讯录</a>
        <a href="/THRWebApp/oaportal/#/home/personal-center"><span class="iconfont">&#xe605;</span>流程中心</a>
        <a href="/THRWebApp/eip/#/home/information/"><span class="iconfont">&#xe602;</span>EIP首页</a>
        <a><span class="iconfont">&#xe632;</span>您好！{{loginUser.displayName}}</a>
        <a ng-click="layoutCurrentUser();"><span class="iconfont">&#xe74d;</span></a>
    </div>
</header>


<!--主内容区域-->
<div class="cc-container">
    <!--<div class="cc-sidebar-bar clearfix"></div>-->
    <div class="cc-sidebar clearfix" ng-include="'views/purchaseDetailedList/purchaseDetailedList.html'"></div>
    <div class="cc-content">
        <div class="cc-entry">
            <!--主要指引-->
            <div class="cc-major">
                <ul ng-repeat="project in links.major">
                    <li class="cc-major-title">
                        <h5>{{project.category}}</h5>
                    </li>
                    <li class="cc-major-item" ng-repeat="item in project.items">
                        <a ng-click="openUrl(item)">

                            <!--<img ng-src="{{item.icon}}" alt="{{item.name}}" title="{{item.name}}" />-->
                            <span class="iconfont {{item.icon}}"></span>
                        </a>
                        <p>
                            <a ng-click="openUrl(item)" title="{{item.name}}">{{item.name}}</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="pdl-dropright-menu1" ng-style="{'display': sideSetting.purchaseTypeShow ? 'block':'none'}">
            <li class="pdl-dropright-item"><a href="" ng-click="mainPage.startUpPurchaseWorkflow( 23, '采购前置流程')">采购策划</a></li>
            <li class="pdl-dropright-item">
                <a href="" ng-click="mainPage.showBiddingChild($event)">招投标</a>
                <ul class="pdl-dropright-menu2" ng-style="{'display': sideSetting.biddingChildShow?'block':'none'}">
                    <li class="pdl-dropright-item"><a href="" ng-click="mainPage.startUpPurchaseWorkflow( 14, '招投标工程采购类')">工程采购类</a></li>
                    <li class="pdl-dropright-item"><a href="" ng-click="mainPage.startUpPurchaseWorkflow( 15, '招投标项目实施服务类')">项目实施服务类</a></li>
                    <li class="pdl-dropright-item"><a href="" ng-click="mainPage.startUpPurchaseWorkflow( 200, '招投标项目定义服务类')">项目定义服务类</a></li>
                </ul>
            </li>
            <li class="pdl-dropright-item">
                <a href="" ng-click="mainPage.showInquiryPriceChild($event)">询价</a>
                <ul class="pdl-dropright-menu2" ng-style="{'display': sideSetting.inquiryPriceChildShow?'block':'none'}">
                    <li class="pdl-dropright-item"><a href="" ng-click="mainPage.startUpPurchaseWorkflow( 26, '询价工程采购类')">工程采购类</a></li>
                    <li class="pdl-dropright-item"><a href="" ng-click="mainPage.startUpPurchaseWorkflow( 27, '询价项目实施服务类')">项目实施服务类</a></li>
                </ul>
            </li>
            <li class="pdl-dropright-item">
                <a href="" ng-click="mainPage.showDirectChild($event)">直接委托</a>
                <ul class="pdl-dropright-menu2" ng-style="{'display': sideSetting.directChildShow ? 'block':'none'}">
                    <li class="pdl-dropright-item"><a href="" ng-click="mainPage.startUpPurchaseWorkflow( 5, '直接委托工程采购类')">工程采购类</a></li>
                    <li class="pdl-dropright-item"><a href="" ng-click="mainPage.startUpPurchaseWorkflow( 6, '直接委托项目实施服务类')">项目实施服务类</a></li>
                    <li class="pdl-dropright-item"><a href="" ng-click="mainPage.startUpPurchaseWorkflow( 4, '直接委托项目定义服务类')">项目定义服务类</a></li>
                </ul>
            </li>
            <li class="pdl-dropright-item"><a href="" ng-click="mainPage.startUpPurchaseWorkflow( 20, '无合同采购')">无合同采购</a></li>
        </ul>
    </div>
    <!--底部-->
    <div class="cc-footer">
        <span copyright configs="{startYear:2011}"></span>
        <div class="postscript pull-right ">海鸥云提供计算服务</div>
    </div>
</div>
