<div class="staff-service">

    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/DirectCommissionedAssetsPurchaseApplicationWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <!--信息项组标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div class="form-inline">
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="上游流程" style="text-align:right">
                    上游流程
                </label>
                <div class="col-xs-6 col-sm-6 col-md-3 form-group baseifo-input">
                    {{viewModel.purchaseOfFixedAssets.upstreamProcessTypeName}}
                </div>
                <a style="color:blue;" ng-click="lookFixedAssets()">{{viewModel.purchaseOfFixedAssets.upstreamProcessName}}</a>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="采购名称" style="text-align:right">
                    采购名称
                    <span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <input sog-valide-status="采购名称" type="text" class="meeting" ng-model="viewModel.purchaseBase.purchaseName" placeholder="提示：不能大于30个字符">
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="是否涉及项目" style="text-align:right">是否涉及项目<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <div>
                        <input type="radio" ng-click="baseInfo.InitProjectInfo(false)" value="false" name="InvolveProject" ng-checked="!viewModel.purchaseOfFixedAssets.isInvolveProject" />不涉及
                        <input type="radio" ng-click="baseInfo.InitProjectInfo(true)" style="margin-left:20px;" value="true" name="InvolveProject" ng-checked="viewModel.purchaseOfFixedAssets.isInvolveProject" />涉及
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.purchaseOfFixedAssets.isInvolveProject">
                <label class="col-xs-6 control-label" title="项目名称" style="text-align:right">项目名称<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <div sog-valide-status="项目名称" rc-select-project opts="baseInfo.projectOpts"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="采购主责人" style="text-align:right;">采购主责人<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input" sog-valide-status="采购主责人">
                    <div class="list-group-item-text"><span sog-ogu-input="viewModel.purchaseMainUser" opts="baseInfo.peopleSelect"></span></div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>



            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="法人公司" style="text-align:right">法人公司<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input" sog-valide-status="法人公司">
                    <div select-corporation data="viewModel.corporationScopeList" opts="baseInfo.corporationOpts"></div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="指合同的列支记账公司" style="text-align:right" ng-show="viewModel.isUseCostCenter">记账公司<span style="color:red;">*</span></label>
                <label class="col-xs-6 control-label" title="记账公司" style="text-align:right" ng-show="!viewModel.isUseCostCenter">记账公司<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select sog-valide-status="记账公司" class="meeting" ng-model="viewModel.purchaseOfFixedAssets.chargeCompanyCode"
                            ng-options="type.code as type.name for type in viewModel.option.chargeCompany"
                            ng-change="baseInfo.chargeCompanyChange()">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="指合同的列支成本中心" style="text-align:right" ng-show="viewModel.isUseCostCenter">成本中心<span style="color:red;">*</span></label>
                <label class="col-xs-6 control-label" title="成本中心" style="text-align:right" ng-show="!viewModel.isUseCostCenter">成本中心<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input ">
                    <select sog-valide-status="成本中心" class="meeting" ng-model="viewModel.purchaseOfFixedAssets.costCenterCode"
                            ng-options="type.code as type.name for type in viewModel.option.costCenter"
                            ng-selected="type.code == viewModel.purchaseOfFixedAssets.costCenterCode"
                            ng-change="baseInfo.costCenterChange()">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>

            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="本次采购范围和内容" style="text-align:right">
                    本次采购范围和内容
                    <span style="color:red;">*</span>
                </label>
                <div sog-valide-status="本次采购范围和内容" class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <textarea type="text" class="meeting" style="height:60px;" ng-model="viewModel.purchaseOfFixedAssets.purchaseContent"></textarea>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12  form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="直接委托理由" style="text-align:right">
                    直接委托理由
                    <span style="color:red;">*</span>
                </label>
                <div sog-valide-status="直接委托理由" class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <textarea type="text" class="meeting" style="height:60px;" ng-model="viewModel.purchaseOfFixedAssets.directDelegationReason"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="本次拟采购金额" style="text-align:right">
                    本次拟采购金额（元）
                    <span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 form-group baseifo-input ">
                    <span>{{viewModel.purchaseBase.purchaseAmount | number:2}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label text-right" title="支出类型">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" title="本项目支出：正常的合同签订方式，是指本项目/本单位使用，并在本项目/本单位列支；
跨项目列支：是指A项目使用的费用，要在B项目列支；
平台在项目列支：是指集团或者事业部平台使用的费用，要在项目上列支；
若事业部平台和项目共用记账公司，平台发生费用时需选择“平台在项目列支”，否则无法选到正确的成本中心；" style="color:red"></span>
                    支出类型<span style="color:red;">*</span>
                </label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select sog-valide-status="支出类型" style="width:100%;" class="meeting" ng-model="viewModel.purchaseBase.expenditureTypeCode" ng-options="p.code as p.name for p in viewModel.option.expenditureTypeList" ng-selected="p.code == viewModel.purchaseBase.expenditureTypeCode" ng-change="baseInfo.expenditureTypeChange();">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <!--使用成本中心-->
        <div select-usecostcenter data="viewModel.useCostCenterInfoList" expend-type="viewModel.purchaseBase.expenditureTypeCode" main-code="viewModel.mainCostCenterCode" readonly="false" isproject="true" ng-show="viewModel.isUseCostCenter"></div>

        <!--委托信息标题-->
        <h4 class="control-heading bg-info">
            <i class="glyphicon glyphicon-list-alt"></i> 委托信息
            <small><span style="color:red;">&nbsp;&nbsp;提示：下表每行对应一个合同，如需签订多个合同，请添加多行。</span></small>
        </h4>
        <!--委托信息内容-->
        <div purchase-delegation-info data="viewModel.purchaseDelegationInfoList" opts="baseInfo.delegationOpts"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--附件标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 附件</h4>
        <!--附件内容-->
        <div class="form-inline">
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label text-right" title="直接委托报告">直接委托报告</label>
                <div class="col-xs-6 form-group baseifo-input" sog-valide-status="直接委托报告">
                    <span wf-uploader files="viewModel.reportFile.clientFileInformationList" opts="reportFileOpts" ready="baseInfo.reportFileReady" read-only="false"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label text-right" title="其他附件">其他附件</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span wf-uploader files="viewModel.otherFile.clientFileInformationList" opts="otherFileOpts" ready="baseInfo.otherFileReady" read-only="false"></span>
                </div>
            </div>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>

        <!--传阅标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 传阅</h4>
        <!--传阅内容-->
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-6 col-md-2 control-label text-right" title="传阅人">传阅人</label>
                <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input" sog-valide-status="传阅人">
                    <span sog-ogu-input="viewModel.circularizePersons" opts="userOpts"></span>
                </div>
            </div>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!-- 审批意见列表-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
        <div class="form-inline">
            <div class="form-inline">
                <span sog-comment="opinions"></span>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <!--其他审批流-->
        <div ng-show="viewModel.isUseCostCenter && isOpinionsShow">
            <h4 class="control-heading bg-info">
                <i class="glyphicon glyphicon-list-alt"></i> 其他审批流
                <input type="button" style="margin-left:82%;font-weight:900;background-color:#d9edf7;" name="name" value="{{settings.spreadButtonName}}" class="btn" ng-click="settings.spreadInfoFn()" />
            </h4>
            <div class="form-inline" ng-show="settings.isSpreadInfo">
                <span sog-simple-opinions="viewModel.otherOpinions"></span>
                <div class="clearfix"></div>
            </div>
        </div>
        <h4 class="control-heading bg-info" ng-show="isOpinionsShow"><i class="glyphicon glyphicon-list-alt"></i> 审批</h4>
        <div class="form-inline" ng-show="isOpinionsShow">
            <span sog-simple-opinions="opinions"></span>
            <div class="clearfix"></div>
        </div>
        <!--表单正文结束-->
        <!--页脚开始，不打印-->
        <div ng-include="'views/common/foot-copyright.html'"></div>
        <!--页脚结束-->
        <!--右侧通栏开始，不打印-->
        <div ng-include="'views/common/right-navigator.html'"></div>
    </div>
</div>