<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/InquiryPriceMarketingOpenTenderWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--左侧导航栏-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <div style="color:red; font-size:12px">
            <span>提示：</span><br>
            <span>1、请通知投标单位于“回标截止时间”前在远洋官网上传电子版标书</span><br>
            <span>2、若需要延长“回标截止时间”，请在当前回标截止时间未到前进行操作</span><br>
            <span>3、回标截止时间到，页面左上方会出现发送按钮，您可以发送至评标让利环节</span><br>
            <span>4、如需废标，请选择下方的“废标”，填写废标原因，进行废标</span>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--信息项组标题-->
        <!--采购信息标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 采购信息</h4>
        <!--采购信息内容-->
        <div ng-include="'views/inquiryPriceMarketing/htmlTemplate/inquiryPriceMarketingBaseInfoReadOnly.html'"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--回标情况标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 回标情况<span style="color:red;">*</span></h4>
        <!--回标情况内容-->
        <div supplier-scope data="viewModel.supplierScopeList" opts="settings.supplierScopeOpts" sog-valide-status="入围供应商" readonly="true"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--修改回标截止时间标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 修改回标截止时间</h4>
        <!--修改回标截止时间内容-->
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="最新回标截止时间" style="text-align:right">最新回标截止时间</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <div style="float:left" date-time-picker date-time="viewModel.purchaseOfMarketing.lastReplyDeadline"></div>
                    <button ng-click="baseInfo.updateReplyDeadline()" class="btn btn-primary" style="cursor:pointer;">确定</button>
                </div>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="clearfix"></div>
        <!--废标标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 废标</h4>
        <!--废标内容-->
        <div class="form-inline">
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <input type="checkbox" ng-model="viewModel.purchaseOfMarketing.isAbandonBidding" ng-click="baseInfo.changeIsAbandonBidding()">废标
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group" ng-if="viewModel.purchaseOfMarketing.isAbandonBidding">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="废标原因" style="text-align:right;display:block;height:55px;line-height:55px;">废标原因<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input" sog-valide-status="废标原因">
                    <textarea ng-model="viewModel.purchaseOfMarketing.abandonBiddingReason" class="meeting" style="width:100%;height:54px;"></textarea>
                </div>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>