<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/InquiryPriceMarketingAwardWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--信息项组标题-->
        <!--采购信息标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <!--采购信息内容-->
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group" ng-show="viewModel.isHaveUpperProcess">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="上游流程" style="text-align:right;">上游流程</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <span>{{viewModel.purchaseOfMarketing.upstreamProcessGuideName}}</span>
                    <span ng-if="viewModel.purchaseOfMarketing.upstreamProcessURL != ''">/</span>
                    <div ng-if="viewModel.purchaseOfMarketing.upstreamProcessURL != ''" open-extra-link extra-link="viewModel.purchaseOfMarketing.upstreamProcessURL" extra-name="viewModel.purchaseOfMarketing.upstreamProcessName"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="采购名称" style="text-align:right;">采购名称</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <span>{{viewModel.purchaseBase.purchaseName}}</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="项目名称" style="text-align:right">项目名称</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span>{{viewModel.purchaseOfMarketing.projectName}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="营销费用预算" style="text-align:right">营销费用预算（元）<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input" sog-valide-status="营销费用预算">
                    <div ng-show="viewModel.purchaseOfMarketing.upstreamProcessURL== null || viewModel.purchaseOfMarketing.upstreamProcessURL== ''">
                        <input class="meeting" wf-money opts="settings.moneyopts" ng-model="viewModel.purchaseOfMarketing.marketingBudgetAmount">
                    </div>
                    <div ng-show="viewModel.purchaseOfMarketing.upstreamProcessURL != null && viewModel.purchaseOfMarketing.upstreamProcessURL != ''">
                        <span>{{viewModel.purchaseOfMarketing.marketingBudgetAmount | number:2}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="是否涉及工程" style="text-align:right">是否涉及工程</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span ng-if="viewModel.purchaseOfMarketing.isInvolveEngineering">涉及</span>
                    <span ng-if="!viewModel.purchaseOfMarketing.isInvolveEngineering">不涉及</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="招标人" style="text-align:right">招标人</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <spna>{{viewModel.corporationScopeList[0].corporationName}}</spna>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="记账公司" style="text-align:right">记账公司</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span>{{viewModel.purchaseOfMarketing.chargeCompanyName}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="成本中心" style="text-align:right">成本中心</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span>{{viewModel.purchaseOfMarketing.costCenterName}}</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="营销采购分类" style="text-align:right">营销采购分类</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span>{{viewModel.purchaseOfMarketing.marketingPurchaseTypeName}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="回标截止时间" style="text-align:right;">回标截止时间</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span>{{viewModel.purchaseOfMarketing.lastReplyDeadline|date:'yyyy-MM-dd HH:mm'}}</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="本次招标范围和内容" style="text-align:right;">
                    本次招标范围和内容<span style="color:red;">*</span>
                    <br />
                </label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-bind-html="viewModel.purchaseOfMarketing.purchaseContent | htmlContent"></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--回标情况标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 回标情况<span style="color:red;">*</span></h4>
        <!--回标情况内容-->
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="table-thead text-center" style="width:5%;">序号</th>
                        <th class="table-thead text-center">供应商名称</th>
                        <th class="table-thead text-center">首次报价</th>
                        <th class="table-thead text-center">询价回复文件</th>
                        <th class="table-thead text-center">第二轮报价</th>
                        <th class="table-thead text-center">第三轮报价</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in viewModel.grantDiscountEnquiryInfoList|orderBy : 'supplierName' : false">
                        <td class="text-center">{{$index+1}}</td>
                        <td class="text-center">
                            <span open-supplier-info supplier="item"></span>
                        </td>
                        <td class="text-center">
                            {{item.totalAmountWithTax| number:2}}
                        </td>
                        <td class="text-center">
                            <p ng-repeat="file in item.inquiryPriceReplyFileList">
                                <span wf-uploader files="[file]" opts="fileOpts" ready="fileReady" read-only="true"></span>
                                <br />
                            </p>
                        </td>
                        <td class="text-center">
                            <span ng-if="item.secondRoundQuotation>0">{{item.secondRoundQuotation| number:2}}</span>
                            <span ng-if="item.secondRoundQuotation===0">--</span>
                        </td>
                        <td class="text-center">
                            <span ng-if="item.thirdRoundQuotation>0">{{item.thirdRoundQuotation| number:2}}</span>
                            <span ng-if="item.thirdRoundQuotation===0">--</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--中标情况标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 中标情况<span style="color:red;">*</span></h4>
        <!--中标情况内容-->
        <div sign-contract opts="settings.signContractOpts" data="viewModel.perSignContractInfoList" read-only="false"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--附件信息标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 附件信息</h4>
        <!--附件信息内容-->
        <div class="form-inline">
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="询价文件" style="text-align:right;">询价文件</label>
                <p ng-repeat="item in viewModel.purchaseOfMarketing.biddingReportFile">
                    <span wf-uploader files="[item]" opts="fileopts" ready="fileReady" read-only="true"></span><br />
                </p>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="询价定标文件" style="text-align:right;">询价定标文件<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <div wf-uploader files="viewModel.awardReportFile" opts="settings.fileopts" ready="fileReady" read-only="false"></div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="非最低价中标原因" style="text-align:right;">非最低价中标原因</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <div wf-uploader files="viewModel.noTheLowestPriceWinFile" opts="settings.fileopts" ready="fileReady" read-only="false"></div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="其他附件" style="text-align:right;">其他附件</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <div wf-uploader files="viewModel.otherFile" opts="settings.fileopts" ready="fileReady" read-only="false"></div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
            <!-- 评论列表-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
            <div class="form-inline">
                <div class="form-inline">
                    <span sog-comment="opinions"></span>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="clearfix"></div>
            </div>
            <!-- 定标审批意见列表-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 定标审批</h4>
            <div class="form-inline">
                <span sog-simple-opinions="opinions"></span>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--表单正文结束-->
        <!--页脚开始，不打印-->
        <div ng-include="'views/common/foot-copyright.html'"></div>
        <!--页脚结束-->
        <!--右侧通栏开始，不打印-->
        <div ng-include="'views/common/right-navigator.html'"></div>
    </div>
</div>