<div class="staff-service">
    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/InquiryPriceMarketingApplicationWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--左侧导航栏-->
        <div ng-show="viewModel.purchaseBase.isConfirmBiddingComplete" left-nav opts="settings.leftNavListOpts" data="viewModel.navOption.navigationList"></div>
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <!--信息项组标题-->
        <!--采购信息标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <!--采购信息内容-->
        <div ng-include="'views/inquiryPriceMarketing/htmlTemplate/inquiryPriceMarketingBaseInfoReadOnly.html'"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--招标联系人标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 招标联系人</h4>
        <!--招标联系人内容-->
        <div class="form-inline">
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="招标联系人" style="text-align:right">招标联系人</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span>{{viewModel.purchaseOfMarketing.linkManUserName}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="招标联系电话" style="text-align:right">招标联系电话</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span>{{viewModel.purchaseOfMarketing.linkManPhone}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="招标邮箱" style="text-align:right">招标邮箱</label>
                <div class="col-xs-6 form-group baseifo-input">
                    <span>{{viewModel.purchaseOfMarketing.linkManEmail}}</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--入围供应商标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 入围供应商<span style="color:red;">*</span></h4>
        <!--入围供应商内容-->
        <div supplier-scope data="viewModel.supplierScopeList" opts="settings.supplierScopeOpts" sog-valide-status="入围供应商" readonly="true"></div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--附件标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 附件</h4>
        <!--附件内容-->
        <div class="form-inline">
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="询价文件" style="text-align:right;">询价文件<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-repeat="item in viewModel.purchaseOfMarketing.biddingReportFile">
                        <span wf-uploader files="[item]" opts="fileopts" ready="fileReady" read-only="true"></span><br />
                    </p>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="其他附件" style="text-align:right;">其他附件</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <p ng-repeat="item in viewModel.purchaseOfMarketing.otherFile">
                        <span wf-uploader files="[item]" opts="fileopts" ready="fileReady" read-only="true"></span><br />
                    </p>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        <div class="clearfix"></div>
        <!--传阅人标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>传阅人</h4>
        <!--传阅人内容-->
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label " title="传阅人 ">传阅人</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <span>
                        <span ng-repeat="tt in viewModel.circularizePersons">
                            <span wf-user-presence="tt"></span>
                        </span>
                    </span>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>