<style>
    .cursor {
        cursor: pointer;
    }
</style>
<div wf-title="title"></div>
<div class="staff-service">
    <div class="staff-service">
        <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
        <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/DirectCommissionedImplementApplicationWf" wf-collect-data-fn="collectData"></div>
        <!--工具栏结束-->
        <!--流程导航开始-->
        <div ng-include="'views/common/flow-nav.html'"></div>
        <!--流程导航结束-->
        <!--表单正文开始，打印-->
        <div class="container appil-container">

            <!--页面标题开始-->
            <div class="page-header clearfix">
                <span>{{title}}</span>
                <small>单据编号：{{viewModel.flowNumber}}</small>
            </div>
            <!--页面标题结束-->
            <!--采购基本信息标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 采购基本信息</h4>
            <!--采购基本信息内容-->
            <div class="form-inline">
                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-6 col-md-2 control-label text-right" title="采购名称">采购名称<span style="color:red">*</span></label>
                    <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
                        <input sog-valide-status="采购名称" type="text" ng-model="viewModel.purchaseBase.purchaseName" placeholder="格式提示：事业部+项目+期区+事件概述，不能大于30个字符" class="form-control meeting" />
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="法人公司">法人公司<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input" sog-valide-status="法人公司">
                        <div select-corporation opts="settings.corporationOpts" data="viewModel.corporationScopeList"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label ng-if="!viewModel.isUseCostCenter" class="col-xs-6 control-label text-right" title="记账公司">记账公司<span style="color:red;">*</span></label>
                    <label ng-if="viewModel.isUseCostCenter" class="col-xs-6 control-label text-right" title="合同的列支记账公司">记账公司<span style="color:red;">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <select sog-valide-status="记账公司" class="meeting" ng-model="viewModel.purchaseOfImplement.chargeCompanyCode"
                                ng-options="type.code as type.name for type in viewModel.option.chargeCompany"
                                ng-change="baseInfo.chargeCompanyChange()">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label ng-if="!viewModel.isUseCostCenter" class="col-xs-6 control-label text-right" title="成本中心">成本中心<span style="color:red;">*</span></label>
                    <label ng-if="viewModel.isUseCostCenter" class="col-xs-6 control-label text-right" title="合同的列支成本中心">成本中心<span style="color:red;">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <select sog-valide-status="成本中心" class="meeting" ng-model="viewModel.purchaseOfImplement.costCenterCode"
                                ng-options="type.code as type.name for type in viewModel.option.costCenter"
                                ng-selected="type.code == viewModel.purchaseOfImplement.costCenterCode"
                                ng-change="baseInfo.costCenterChange()">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label ng-if="!viewModel.isUseProject" class="text-right col-xs-6 control-label" title="项目名称">项目名称</label>
                    <label ng-if="viewModel.isUseProject" class="text-right col-xs-6 control-label" title="合约的列支项目">项目名称</label>
                    <div class="col-xs-6 form-group baseifo-input" sog-valide-status="项目名称">
                        <div rc-select-project opts="settings.projectOpts"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label ng-if="!viewModel.isUseProject" class="text-right col-xs-6 control-label" title="期区">期区<span style="color:red;">*</span></label>
                    <label ng-if="viewModel.isUseProject" class="text-right col-xs-6 control-label" title="合约的列支期区">期区<span style="color:red;">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <select ng-if="!viewModel.isAllowMultipleAreaAgreement"
                                sog-valide-status="期区" class="meeting" ng-model="viewModel.purchaseOfImplement.stageAreaCode"
                                ng-options="type.code as type.name for type in viewModel.option.stageArea"
                                ng-change="baseInfo.stageAreaChange()">
                            <option value="">请选择</option>
                        </select>
                        <div ng-if="viewModel.isAllowMultipleAreaAgreement" select-multiple-stage-area opts="settings.stageAreaOpts" data="viewModel.stageAreaScopeList"></div>

                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="供应商类别">供应商类别<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input" sog-valide-status="供应商类别">
                        <span supplier-category data="viewModel.industryDomainScope" opts="settings.tradeCatagoryOpts"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="采购类别">采购类别<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <select sog-valide-status="采购类别" class="meeting" ng-model="viewModel.purchaseOfImplement.purchaseCategoryCode"
                                ng-options="type.code as type.name for type in viewModel.option.projectPurchaseCategory"
                                ng-selected="type.code == viewModel.purchaseOfImplement.purchaseCategoryCode"
                                ng-change="baseInfo.projectPurchaseCategoryChange()">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="是否示范区采购">是否示范区采购<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <div class="switch-btn-box" sog-valide-status="是否示范区采购">
                            <span class="btn checkbox-label-not"
                                  ng-class="{'checkbox-label-this':viewModel.purchaseOfImplement.isExampleArea===true}"
                                  ng-click="baseInfo.setIsExampleArea(true)">是</span>
                            <span class="btn checkbox-label-not"
                                  ng-class="{'checkbox-label-this':viewModel.purchaseOfImplement.isExampleArea===false}"
                                  ng-click="baseInfo.setIsExampleArea(false)">否</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 form-group">
                    <label class="text-right col-xs-6 col-sm-6 col-md-2 control-label text-right" title="建设地点">建设地点<span style="color:red">*</span></label>
                    <div sog-valide-status="地区" class="col-sm-3 col-sm-3 col-md-4 form-group baseifo-input">
                        <span region-input="viewModel.purchaseOfImplement.cityInput" opts="settings.regionOpts"></span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-6 form-group baseifo-input">
                        <input sog-valide-status="建设地点" type="text" ng-model="viewModel.purchaseOfImplement.buildDetailAddress" class="form-control meeting" />
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label text-right" title="本次采购范围和内容 ">本次采购范围和内容<span style="color:red">*</span></label>
                    <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                        <textarea sog-valide-status="本次采购范围和内容" type="text" class="meeting" style="height:60px;" placeholder="" ng-model="viewModel.purchaseOfImplement.purchaseContent"></textarea>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div ng-show="viewModel.isAdmin===true">
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                        <label class="text-right col-xs-6 control-label text-right" title="本次采购成本目标">本次采购成本目标<span style="color:red">*</span></label>
                        <div class="col-xs-6 form-group baseifo-input text-right">
                            {{viewModel.purchaseOfImplement.purchaseCostTargetAmount|number:2}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="本次直接委托金额">本次直接委托金额<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input text-right" sog-valide-status="本次直接委托金额">
                        &nbsp;{{viewModel.purchaseBase.purchaseAmount|number:2}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="直接委托理由">直接委托理由<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <div ng-show="viewModel.isStrategyIndustryDomain !== true">
                            <select sog-valide-status="直接委托理由" class="meeting" ng-model="viewModel.purchaseOfImplement.directDelegationReasonCode"
                                    ng-options="type.code as type.name for type in viewModel.option.directDelegationReason"
                                    ng-selected="type.code == viewModel.purchaseOfImplement.directDelegationReasonCode">
                                <option value="">请选择</option>
                            </select>
                        </div>
                        <div ng-show="viewModel.isStrategyIndustryDomain === true">
                            {{viewModel.purchaseOfImplement.directDelegationReasonName}}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="建筑面积">建筑面积<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input">
                        <input sog-valide-status="建筑面积" type="text" class="meeting input-type ng-pristine ng-valid text-right"
                               wf-money opts="moneyOpts" ng-model="viewModel.purchaseOfImplement.buildingArea" placeholder="请输入">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="建设单方成本目标">建设单方成本目标</label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <input sog-valide-status="建设单方成本目标" type="text" class="meeting input-type ng-pristine ng-valid text-right"
                               wf-money opts="moneyOpts" ng-model="viewModel.purchaseOfImplement.buildingCostTargetPerArea" placeholder="请输入">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="单价（元）">单价（元）</label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <input sog-valide-status="单价（元）" type="text" class="meeting input-type ng-pristine ng-valid text-right"
                               wf-money opts="moneyOpts" ng-model="viewModel.purchaseOfImplement.price" placeholder="请输入">
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="拟开工日期">拟开工日期<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input">
                        <div sog-valide-status="拟开工日期" my-calendar my-date="viewModel.purchaseOfImplement.preOpenDate"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="拟竣工日期">拟竣工日期<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <div sog-valide-status="拟竣工日期" my-calendar my-date="viewModel.purchaseOfImplement.preCompletedDate"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="质量标准">质量标准<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <select sog-valide-status="质量标准" class="meeting" ng-model="viewModel.purchaseOfImplement.qualityStandardCode"
                                ng-options="type.code as type.name for type in viewModel.option.qualityStandard"
                                ng-selected="type.code == viewModel.purchaseOfImplement.qualityStandardCode"
                                ng-change="baseInfo.qualityStandardChange()">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="合同价格形式">合同价格形式<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <select sog-valide-status="合同价格形式" class="meeting" ng-model="viewModel.purchaseOfImplement.contractPriceTypeCode"
                                ng-options="type.code as type.name for type in viewModel.option.contractPriceType"
                                ng-selected="type.code == viewModel.purchaseOfImplement.contractPriceTypeCode"
                                ng-change="baseInfo.contractPriceTypeChange()">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="text-right col-xs-6 control-label text-right" title="计价方式">计价方式<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <select sog-valide-status="计价方式" class="meeting" ng-model="viewModel.purchaseOfImplement.valuationWayCode"
                                ng-options="type.code as type.name for type in viewModel.option.valuationWay"
                                ng-selected="type.code == viewModel.purchaseOfImplement.valuationWayCode"
                                ng-change="baseInfo.valuationWayChange()">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 form-group">
                    <label class="text-right col-xs-6 col-sm-6 col-md-2 control-label text-right" title="付款方式描述">付款方式描述<span style="color:red">*</span></label>
                    <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input">
                        <textarea sog-valide-status="付款方式描述" type="text" class="meeting" style="height:60px;" placeholder="" ng-model="viewModel.purchaseOfImplement.paymentWayDescribe"></textarea>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <label class="col-xs-6 control-label text-right" title="支出类型">支出类型<span style="color:red;">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input">
                        <select sog-valide-status="支出类型" style="width:100%;" class="meeting" ng-model="viewModel.purchaseBase.expenditureTypeCode" ng-options="p.code as p.name for p in viewModel.option.expenditureTypeList" ng-selected="p.code == viewModel.purchaseBase.expenditureTypeCode" ng-change="baseInfo.expenditureTypeChange();">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseProject">
                    <label class="col-xs-6 control-label text-right" title="使用项目">使用项目<span style="color:red;">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input text-right">
                        <div rc-select-project opts="settings.useProjectOpts"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseProject">
                    <label class="text-right col-xs-6 control-label" title="使用期区">使用期区<span style="color:red;">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input ">
                        <select sog-valide-status="使用期区" class="meeting" ng-model="viewModel.purchaseBase.useStageAreaCode"
                                ng-options="type.code as type.name for type in viewModel.option.useStageArea"
                                ng-change="baseInfo.useStageAreaChange()">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseCostCenter">
                    <label class="col-xs-6 control-label" title="使用记账公司" style="text-align:right">使用记账公司<span style="color:red;">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input">
                        <div select-chargecompany opts="baseInfo.useChargeCompanyOpts" data="viewModel.useNcCorporation"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group" ng-if="viewModel.isUseCostCenter">
                    <label class="col-xs-6 control-label" title="使用成本中心" style="text-align:right">使用成本中心<span style="color:red;">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input">
                        <select style="width:100%;" class="meeting" ng-click="validOpts('使用成本中心')" ng-model="viewModel.purchaseBase.useCostCenterCode" ng-change="baseInfo.useCostCenterChange();" ng-options="p.code as p.name for p in  viewModel.option.useCostCenterList" ng-selected="p.code == viewModel.purchaseBase.useCostCenterCode">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                    <!--原商务负责人显示名称改为合约负责人-->
                    <label class="text-right col-xs-6 control-label text-right" title="合约负责人">合约负责人<span style="color:red">*</span></label>
                    <div class="col-xs-6 form-group baseifo-input" sog-valide-status="合约负责人">
                        <span sog-ogu-input="viewModel.purchaseOfImplement.businessMainUser" opts="settings.peopleSelect"></span>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>
            <div sog-valide-status="合约规划">
                <!--合约规划标题-->
                <h4 class="control-heading bg-info">
                    <i class="glyphicon glyphicon-list-alt"></i> 合约规划<span style="color:red">*</span>
                    <small style="color:red;">提示：采购开始后合约规划金额无法调小，如需调小请在采购开始前调整并完成审批。</small>
                </h4>
                <!--合约规划内容-->
                <div contract-agreement-split-info opts="settings.contractAgreementOpts" data="viewModel.contractAgreementScopeList"></div>
                <div class="clearfix visible-xs-block visible-sm-block"></div>
                <div class="clearfix"></div>
            </div>
            <!--委托信息标题-->
            <h4 class="control-heading bg-info">
                <i class="glyphicon glyphicon-list-alt"></i> 委托信息
                <small style="color:red;">注意：当直接委托理由是垄断/战略采购时需选择垄断/战采供应商。</small>
            </h4>
            <!--委托信息内容-->
            <div purchase-delegation-info data="viewModel.purchaseDelegationInfoList" opts="settings.delegationOpts" view-model="viewModel"
                 reason-code="viewModel.purchaseOfImplement.directDelegationReasonCode" isselectproject="!!viewModel.purchaseOfImplement.projectCode"
                 industry-domain-scope-list="viewModel.industryDomainScope" price-file="viewModel.pirceFile"></div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>
            <!--负面清单标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 负面清单</h4>
            <!--负面清单内容-->
            <div negative-list data="viewModel.negativeList" read-only="false"></div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>
            <!--其他附件标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 其他附件</h4>
            <!--其他附件内容-->
            <div class="form-inline">
                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="直接委托报告">直接委托报告<span style="color:red">*</span></label>
                    <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input" sog-valide-status="直接委托报告">
                        <span wf-uploader files="viewModel.reportFile" opts="reportFileOpts" ready="reportFileReady" read-only="false"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="直接委托说明">直接委托说明<span style="color:red" ng-if="settings.manualFileRequiredState">*</span></label>
                    <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input" sog-valide-status="直接委托说明">
                        <span wf-uploader files="viewModel.manualFile" opts="manualFileOpts" ready="manualFileReady" read-only="false"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-3 col-md-2 control-label" title="其他附件">其他附件</label>
                    <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                        <span wf-uploader files="viewModel.otherFile" opts="otherFileOpts" ready="otherFileReady" read-only="false"></span>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>

            <!--传阅标题-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 传阅</h4>
            <!--传阅内容-->
            <div class="form-inline">
                <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <label class="text-right col-xs-6 col-sm-6 col-md-2 control-label text-right" title="传阅人">传阅人</label>
                    <div class="col-xs-6 col-sm-6 col-md-10 form-group baseifo-input" sog-valide-status="传阅人">
                        <span sog-ogu-input="viewModel.circularizePersons" opts="userOpts"></span>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>
            <!-- 评论列表-->
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
            <div class="form-inline">
                <div class="form-inline">
                    <span sog-comment="opinions"></span>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="clearfix"></div>
            </div>
            <div ng-show="baseInfo.notAllOfInputOpinion">
                <!-- 审批意见列表-->
                <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 审批</h4>
                <div class="form-inline">
                    <span sog-simple-opinions="opinions"></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--表单正文结束-->
        <!--页脚开始，不打印-->
        <div ng-include="'views/common/foot-copyright.html'"></div>
        <!--页脚结束-->
        <!--右侧通栏开始，不打印-->
        <div ng-include="'views/common/right-navigator.html'"></div>
    </div>
</div>  