<!--催办通知-->
<div class="staff-service">
    <div class="container appil-container col-xs-8" style="margin-left:17%;margin-top:50px;">
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 催办通知</h4>
        <div class="form-group" style="padding-top:30px">
            {{notifyModel.notifyUserName}}：
            <div>
                &nbsp;&nbsp;&nbsp;&nbsp;您好!“<a href="{{linkUrl}}" target="_blank" style="color:blue"> {{notifyModel.purchaseSchemeName}}</a>”的采购前置流程资料已全部反馈完成，请您尽快查看并确认。
                <br />&nbsp;&nbsp;&nbsp;&nbsp;您可以点击采购名称跳转打开页面，也可以通过“个人中心-流转中”查找此流程进行操作。
            </div>
        </div>
        <div class="form-group" style="padding-top:20px;">
            <input type="checkbox" name="关闭" ng-model="checked" />关闭时删除此通知<hr />
            <button class="btn btn-default" ng-click="Close()">关闭(C)</button>
        </div>
    </div>
</div>