<div class="staff-service">

    <!--工具栏开始、不打印, 修改wf-tool-bars-url-base -->
    <div wf-tool-bars="wfOperateOpts" wf-tool-bars-url-base="/DirectCommissionedBusinessOperationsApplicationWf" wf-collect-data-fn="collectData"></div>
    <!--工具栏结束-->
    <!--流程导航开始-->
    <div ng-include="'views/common/flow-nav.html'"></div>
    <!--流程导航结束-->
    <!--表单正文开始，打印-->
    <div class="container appil-container">
        <!--页面标题开始-->
        <div class="page-header clearfix">
            <span>{{title}}</span>
            <small>单据编号：{{viewModel.flowNumber}}</small>
        </div>
        <!--页面标题结束-->
        <!--信息项组标题-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>采购信息</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3  col-md-2 control-label" title="采购名称" style="text-align:right;">采购名称<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <input sog-valide-status="采购名称" placeholder="格式提示：事业部+项目+专业+事件概述，不能大于30个字符" class="meeting" title="{{viewModel.purchaseBase.purchaseName}}" ng-model="viewModel.purchaseBase.purchaseName" />
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="项目名称" style="text-align:right">项目名称<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input" sog-valide-status="项目名称">
                    <div rc-select-project opts="settings.projectOpts"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="专业" style="text-align:right">专业<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select sog-valide-status="专业" style="width:100%;" class="meeting" ng-model="viewModel.purchaseOfBusinessOperations.specialtyCode" ng-options="p.code as p.name for p in viewModel.options.specialty" ng-selected="p.code == viewModel.purchaseOfBusinessOperations.specialtyCode" ng-change="baseInfo.specialtyChange()">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="法人公司" style="text-align:right">法人公司<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input" sog-valide-status="法人公司">
                    <div>
                        <div select-corporation data="viewModel.corporationScopeList" opts="settings.corporationOpts"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="记账公司" style="text-align:right">记账公司<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select sog-valide-status="记账公司" style="width:100%;" class="meeting" ng-model="viewModel.purchaseOfBusinessOperations.chargeCompanyCode" ng-change="baseInfo.chargeCompanyChange();" ng-options="p.code as p.name for p in viewModel.options.chargeCompany" ng-selected="p.code == viewModel.purchaseOfBusinessOperations.chargeCompanyCode">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="成本中心" style="text-align:right">成本中心<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select sog-valide-status="成本中心" style="width:100%;" class="meeting" ng-model="viewModel.purchaseOfBusinessOperations.costCenterCode" ng-change="baseInfo.costCenterChange();" ng-options="p.code as p.name for p in viewModel.options.costCenter" ng-selected="p.code == viewModel.purchaseOfBusinessOperations.costCenterCode">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="本次采购成本目标" style="text-align:right">本次采购成本目标<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <div>
                        <span>{{viewModel.purchaseOfBusinessOperations.purchaseCostTargetAmount | number:2}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="本次直接委托金额" style="text-align:right">本次直接委托金额<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <div>
                        <span>{{viewModel.purchaseBase.purchaseAmount | number:2}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                <label class="col-xs-6 control-label" title="直接委托理由" style="text-align:right">直接委托理由<span style="color:red;">*</span></label>
                <div class="col-xs-6 form-group baseifo-input">
                    <select sog-valide-status="直接委托理由" style="width:100%;" class="meeting" ng-model="viewModel.purchaseOfBusinessOperations.directDelegationReasonCode" ng-options="p.code as p.name for p in viewModel.options.directDelegationReason" ng-selected="p.code == viewModel.purchaseOfBusinessOperations.directDelegationReasonCode" ng-change="baseInfo.commissionReasonChange()">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="本次采购范围和内容" style="text-align:right;display:block;height:54px;line-height:54px;">本次采购范围和内容<span style="color:red;">*</span></label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <textarea class="meeting" sog-valide-status="本次采购范围和内容" ng-model="viewModel.purchaseOfBusinessOperations.purchaseContent" style="width:100%;height:54px;"></textarea>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>

        <div sog-valide-status="合约规划">
            <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 合约规划<span style="color:red;">*</span></h4>
            <div contract-agreement-business opts="settings.contractAgreementOpts" data="viewModel.contractAgreementScopeList"></div>
            <div class="clearfix visible-xs-block visible-sm-block"></div>
            <div class="clearfix"></div>
        </div>

        <!--委托信息-->
        <h4 class="control-heading bg-info">
            <i class="glyphicon glyphicon-list-alt"></i> 委托信息<small><span style="color:red;">&nbsp;&nbsp;提示：下表每行对应一个合同，如需签订多个合同，请添加多行。</span></small>
        </h4>
        <div purchase-delegation-info data="viewModel.purchaseDelegationInfoList" readonly="false" opts="settings.delegationOpts"></div>

        <!--附件-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 附件</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="直接委托报告" style="text-align:right;">直接委托报告</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <div wf-uploader files="viewModel.directCommissionedReportFile" opts="baseInfo.fileopts" ready="fileReady" read-only="fillFileReadOnly"></div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>

            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label" title="其他附件" style="text-align:right;">其他附件</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <div wf-uploader files="viewModel.commissionedOtherFile" opts="baseInfo.fileopts" ready="fileReady" read-only="fillFileReadOnly"></div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>

        <!--传阅-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>传阅人</h4>
        <div class="form-inline">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                <label class="col-xs-6 col-sm-3 col-md-2 control-label " title="传阅人 ">传阅人</label>
                <div class="col-xs-6 col-sm-9 col-md-10 form-group baseifo-input">
                    <span sog-ogu-input="viewModel.circularizePersons " opts="baseInfo.selectCheckBoxPeople"></span>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>

        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i> 评论列表</h4>
        <div class="form-inline">
            <div class="form-inline">
                <span sog-comment="opinions"></span>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix"></div>
        </div>
        <!-- 审批意见列表-->
        <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>审批意见列表</h4>
        <div class="form-inline">
            <span sog-simple-opinions="opinions"></span>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--表单正文结束-->
    <!--表单正文结束-->
    <!--页脚开始，不打印-->
    <div ng-include="'views/common/foot-copyright.html'"></div>
    <!--页脚结束-->
    <!--右侧通栏开始，不打印-->
    <div ng-include="'views/common/right-navigator.html'"></div>
</div>