<div class="modal hidden-print show staff-service">
    <div class="modal-dialog" style="width: 90%;height:90%  !important;">
        <div class="modal-content" style="width: 90%;height:95%  !important;">
            <div class="modal-header">
                <span style="float:right;color:red;cursor: pointer; margin-right:20px" ng-click="closeThisDialog()"><i class="glyphicon glyphicon-remove"></i></span>
                <h4 class="modal-title"><i class="glyphicon glyphicon-info-sign text-info"></i>自定义比例</h4>
            </div>
            <div class="modal-body" style="min-height: 80% !important;">
                <div class="col-xs-12 form-group">
                    <h4 class="control-heading bg-info"><i class="glyphicon glyphicon-list-alt"></i>自定义比例</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align: center;width:50px;">序号</th>
                                    <th style="text-align: center;width:100px;">期区</th>
                                    <th style="text-align: center;width:120px;">产品类型</th>
                                    <th style="text-align: center;width:50px;">比例(%)</th>
                                    <th style="text-align: center;width:50px;">金额(元)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list.slice((productTypeConf.currentPage - 1)*productTypeConf.itemsPerPage,productTypeConf.currentPage*productTypeConf.itemsPerPage)">
                                    <td style="text-align: center;vertical-align:middle">{{$index+1}}</td>
                                    <td style="text-align: center">
                                        {{item.stageAreaName}}
                                    </td>
                                    <td style="text-align: center">
                                        {{item.productTypeName}}
                                    </td>
                                    <td style="text-align: center;">
                                        <div ng-show="readonly">
                                            {{item.diyApportionScale|number:2}}%
                                        </div>
                                        <div ng-show="!readonly" wf-money opts="baseInfo.moneyopts" class="meeting" ng-model="item.diyApportionScale" ng-blur="ActualAmountOnchange(item)">%</div>
                                    </td>
                                    <td style="text-align: center">
                                        {{item.diyApportionAmount|number:2}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: center">总计</td>
                                    <td ng-show="!readonly" style="text-align: center">{{getTotalScale()}}</td>
                                    <td ng-show="readonly" style="text-align: center">100%</td>
                                    <td style="text-align: center">{{totalSharedAmount | number:2}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <span ng-show="!readonly">未分配比例：{{unSharedScale}}%</span>
                        <div tm-pagination="productTypeConf" class="pull-right clearfix" style="margin-right:10px;"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align:right" ng-show="!readonly">
                <button type="button" class="btn btn-default" style="width:60px;height:30px" data-dismiss="modal" ng-click="closeThisDialog(this)">取消</button>
                <button type="button" class="btn btn-primary" style="width:60px;height:30px" ng-click="confirm();">确定</button>
            </div>
        </div>
    </div>
</div>


