<link href="./css/table_new.css" rel="stylesheet">
<div class="staff-service">
    <div class="container appil-container">
        <div class="page-header clearfix"><span>动态周报-采购信息</span></div>
        <h4 class="control-heading bg-info" style="margin-top:15px">
            <i class="glyphicon glyphicon-list-alt"></i>采购明细
        </h4>
        <div class="form-inline table-responsive bg-white">
            <table class="table table-hover table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="text-center" style="width:40px;">序号</th>
                        <th class="text-center">采购名称</th>
                        <th class="text-center">采购方式</th>
                        <th class="text-center">本期采购金额</th>
                        <th class="text-center">采购发起人</th>
                        <th class="text-center">采购发起时间</th>
                        <th class="text-center">采购结束时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in viewModel.reportList">
                        <td><span style="display:inline-block;white-space:nowrap;">{{$index+1}}</span></td>
                        <td><span style="display:inline-block;white-space:nowrap;"><a style="color: blue;" ng-click="targetPage(item)">{{item.purchaseName}}</a></span></td>
                        <td><span style="display:inline-block;white-space:nowrap;">{{item.weeklyDynamicSourceTypeName}}</span></td>
                        <td>
                            <!--<span ng-if="confs.type=='1' || confs.type=='3'" style="display:inline-block;white-space:nowrap;">{{item.thisWeekDraftAmount | number:2}}</span>
                            <span ng-if="confs.type=='2' || confs.type=='4'" style="display:inline-block;white-space:nowrap;">{{item.thisWeekFinishedAmount | number:2}}</span>-->
                            <span ng-if="item.actionStateCode==1" style="display:inline-block;white-space:nowrap;">{{item.thisWeekDraftAmount | number:2}}</span>
                            <span ng-if="item.actionStateCode==2" style="display:inline-block;white-space:nowrap;">{{item.thisWeekFinishedAmount | number:2}}</span>
                        </td>
                        <td><span style="display:inline-block;white-space:nowrap;">{{item.creatorName}}</span></td>
                        <td><span style="display:inline-block;white-space:nowrap;">{{item.createTime|date:'yyyy-MM-dd'}}</span></td>
                        <td><span style="display:inline-block;white-space:nowrap;">{{item.endTime|date:'yyyy-MM-dd'}}</span></td>
                    </tr>
                    <tr class="text-center" ng-if="viewModel.reportList.length===0">
                        <td colspan="10">暂无相关数据！</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--分页-->
        <div tm-pagination="viewModel.paginationConf" class="pull-right clearfix" style="margin-right:10px; margin-top:15px;"></div>
    </div>
</div>